<app-dashboard-header title="Hr Dashboard"></app-dashboard-header>
<!-- Start::row-1 -->
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-2 fs-15 text-muted">
                            Total Application
                        </div>
                        <h2 class="fw-bold mb-1">45,675</h2>
                        <span class="text-success"><i class="fa fa-arrow-up me-1"></i> +1.4%</span>
                    </div>
                    <div class="col col-auto mx-auto">
                            <apx-chart id="application"
                            [labels]="chartOptions.labels"
                            [series]="chartOptions.series"
                            [chart]="chartOptions.chart"
                            [plotOptions]="chartOptions.plotOptions"
                            [stroke]="chartOptions.stroke"
                            [colors]="chartOptions.colors"
                            [fill]="chartOptions.fill"
                          ></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-2 fs-15 text-muted">
                            Shortlisted
                        </div>
                        <h2 class="fw-bold mb-1">30,175</h2>
                        <span class="text-success"><i class="fa fa-arrow-up me-1"></i> +1.8%</span>
                    </div>
                    <div class="col col-auto mx-auto">
                        
                            <apx-chart id="chart-circle-primary2"
                            [labels]="chartOptions1.labels"
                            [series]="chartOptions1.series"
                            [chart]="chartOptions1.chart"
                            [plotOptions]="chartOptions1.plotOptions"
                            [stroke]="chartOptions1.stroke"
                            [colors]="chartOptions1.colors"
                            [fill]="chartOptions1.fill"
                          ></apx-chart>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-2 fs-15 text-muted">
                            Rejected
                        </div>
                        <h2 class="fw-bold mb-1">7,745</h2>
                        <span class="text-danger"><i class="fa fa-arrow-down me-1"></i> -2.4%</span>
                    </div>
                    <div class="col col-auto mx-auto">
                            <apx-chart id="chart-circle-primary3"
                            [labels]="chartOptions2.labels"
                            [series]="chartOptions2.series"
                            [chart]="chartOptions2.chart!"
                            [plotOptions]="chartOptions2.plotOptions"
                            [stroke]="chartOptions2.stroke"
                            [colors]="chartOptions2.colors"
                            [fill]="chartOptions2.fill"
                          ></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::row-1 -->

<!-- Start::row-2 -->
<div class="row">
    <div class="col-xl-8 col-md-12 col-lg-7">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Project Tracked</h3>
                <div class="d-flex ms-auto">
                    <div ngbDropdown class="btn-group mb-0">
                        <button ngbDropdownToggle type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">This Year</button>
                        <div ngbDropdownMenu class="dropdown-menu p-0">
                            <a class="dropdown-item" href="javascript:void(0);">last Year</a>
                            <a class="dropdown-item" href="javascript:void(0);">2018</a>
                            <a class="dropdown-item" href="javascript:void(0);">2017</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body pb-0">
                <div id="projectTracked" class="overflow-hidden">
                    <apx-chart
                    [series]="chartOptions3.series"
                    [chart]="chartOptions3.chart"
                    [xaxis]="chartOptions3.xaxis"
                    [plotOptions]="chartOptions3.plotOptions"
                    [dataLabels]="chartOptions3.dataLabels"
                    [legend]="chartOptions3.legend"
                    [grid]="chartOptions3.grid"
                    [colors]="chartOptions3.colors"
                    [yaxis]="chartOptions3.yaxis"
                  ></apx-chart>
                </div>
            </div>
            <div class="card-footer text-start">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-sm-4 mb-4 mb-sm-0 text-center">
                        <h2 class="fw-normal text-dark mb-0">1,897</h2>
                        <div class="text-muted mb-1 fs-13 d-inline-flex">
                            <div class="chart-label bg-primary me-2 mt-1 br-3"></div> Project In</div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-4 mb-4 mb-sm-0 text-center">
                        <h2 class="fw-normal text-dark mb-0">3,785</h2>
                        <div class="text-muted mb-1 fs-13 d-inline-flex">
                            <div class="chart-label bg-secondary me-2 mt-1 br-3"></div> Project Take</div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-4 text-center">
                        <h2 class="fw-normal text-dark mb-0">16,897</h2>
                        <div class="text-muted mb-1 fs-13 d-inline-flex">
                            <div class="chart-label bg-light me-2 mt-1 br-3"></div> On Hold</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12 col-lg-5">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Best Employees</h3>
                <div class="card-options ">
                    <div ngbDropdown class="btn-group mb-0">
                        <a ngbDropdownToggle aria-label="anchor" class="option-dots" data-bs-toggle="dropdown" aria-expanded="false" href="javascript:void(0);"><i class="fa fa-ellipsis-v"></i></a>
                        <div ngbDropdownMenu class="dropdown-menu">
                            <a class="dropdown-item" href="javascript:void(0);"> Download Print</a>
                            <a class="dropdown-item" href="javascript:void(0);">Last Week</a>
                            <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                            <a class="dropdown-item" href="javascript:void(0);">Yearly</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);"><i class="fa fa-cog me-2"></i> Settings</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table transaction-table mb-0 text-nowrap table-borderless">
                        <tbody>
                            <tr>
                                <td class="d-sm-flex">
                                    <img class="avatar avatar-lg rounded me-3" src="./assets/images/faces/1.jpg" alt="media1">
                                    <div class="mt-1">
                                        <h6 class="mb-1 fw-semibold">John Wisely</h6>
                                        <small class="text-muted">Angular Developer</small>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light" href="javascript:void(0);">Profile</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="d-sm-flex">
                                    <img class="avatar avatar-lg rounded me-3" src="./assets/images/faces/4.jpg" alt="media1">
                                    <div class="mt-1">
                                        <h6 class="mb-1 fw-semibold">Nicki Fanning</h6>
                                        <small class="text-muted">Php Developer</small>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light" href="javascript:void(0);">Profile</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="d-sm-flex">
                                    <img class="avatar avatar-lg rounded me-3" src="./assets/images/faces/5.jpg" alt="media1">
                                    <div class="mt-1">
                                        <h6 class="mb-1 fw-semibold">Lula Malone</h6>
                                        <small class="text-muted">Ui Designer</small>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light" href="javascript:void(0);">Profile</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="d-sm-flex">
                                    <img class="avatar avatar-lg rounded me-3" src="./assets/images/faces/2.jpg" alt="media1">
                                    <div class="mt-1">
                                        <h6 class="mb-1 fw-semibold">Rina Summa</h6>
                                        <small class="text-muted">Java Developer</small>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light" href="javascript:void(0);">Profile</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="d-sm-flex">
                                    <img class="avatar avatar-lg rounded me-3" src="./assets/images/faces/10.jpg" alt="media1">
                                    <div class="mt-1">
                                        <h6 class="mb-1 fw-semibold">Yadira Acklin</h6>
                                        <small class="text-muted">Web Developer</small>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light" href="javascript:void(0);">Profile</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="d-sm-flex">
                                    <img class="avatar avatar-lg rounded me-3" src="./assets/images/faces/12.jpg" alt="media1">
                                    <div class="mt-1">
                                        <h6 class="mb-1 fw-semibold">Joanna Latta</h6>
                                        <small class="text-muted">Angular Developer</small>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light" href="javascript:void(0);">Profile</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::row-2 -->

<!-- Start::row-3 -->
<div class="row">
    <div class="col-xl-4 col-lg-5">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Project Status</h3>
                <div class="d-flex ms-auto">
                    <div ngbDropdown class="btn-group mb-0">
                        <button ngbDropdownToggle type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">This Year</button>
                        <div ngbDropdownMenu class="dropdown-menu p-0">
                            <a class="dropdown-item" href="javascript:void(0);">last Year</a>
                            <a class="dropdown-item" href="javascript:void(0);">2018</a>
                            <a class="dropdown-item" href="javascript:void(0);">2017</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body mx-auto text-center">
                <div class="overflow-hidden">
                    <div class="chart-container">
                        <canvas
                        class="canvasDoughnut3" height="245" width="245"  id="Projects" 
                baseChart
                [data]="PieChartData"
                [options]="PieChartOptions"
                [type]="DoughnutChartType"
                ></canvas>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-hover mb-0">
                    <tbody>
                        <tr class="">
                            <td class="p-3 d-flex">
                                <div class="chart-label bg-primary me-2 mt-1"></div> Applications
                            </td>
                            <td class="p-3">4,678</td>
                            <td class="p-3">68%</td>
                        </tr>
                        <tr class="">
                            <td class="p-3 d-flex">
                                <div class="chart-label bg-secondary me-2 mt-1"></div> Shortlisted
                            </td>
                            <td class="p-3">3,789</td>
                            <td class="p-3">55%</td>
                        </tr>
                        <tr class="">
                            <td class="p-3 d-flex">
                                <div class="chart-label bg-success me-2 mt-1"></div> Rejected
                            </td>
                            <td class="p-3">2,137</td>
                            <td class="p-3">45%</td>
                        </tr>
                        <tr class="">
                            <td class="p-3 d-flex">
                                <div class="chart-label bg-info me-2 mt-1"></div> On Hold
                            </td>
                            <td class="p-3">1,786</td>
                            <td class="p-3">34%</td>
                        </tr>
                        <tr class="">
                            <td class="border-bottom-0 p-3 d-flex">
                                <div class="chart-label bg-warning me-2 mt-1"></div> Finalised
                            </td>
                            <td class="border-bottom-0 p-3">897</td>
                            <td class="border-bottom-0 p-3">27%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-7">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Application Status</h3>
            </div>
            <div class="p-4">
                <div class="row d-sm-flex d-block">
                    <div class="col my-sm-0 my-2">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <div class="col my-sm-0 my-2">
                        <input type="text" class="form-control" placeholder="Date">
                    </div>
                    <div class="col my-sm-0 my-2">
                        <input type="text" class="form-control" placeholder="Reason">
                    </div>
                    <div class="col my-sm-0 my-2">
                        <a class="btn btn-primary btn-block w-100" href="javascript:void(0);">Search</a>
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive p-0 mx-313 scroll-3">
                <table class="table text-nowrap index4-table">
                    <thead>
                        <tr>
                            <th scope="row">Code</th>
                            <th scope="row">Date</th>
                            <th scope="row">Employee</th>
                            <th scope="row">Leave</th>
                            <th scope="row">Period</th>
                            <th scope="row">Reason</th>
                            <th scope="row">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2548</td>
                            <td>3rd Feb 2019</td>
                            <td>Emp-2312</td>
                            <td>PL</td>
                            <td>1 Day</td>
                            <td>Sick</td>
                            <td><span class="badge bg-success rounded-pill">Approved</span></td>
                        </tr>
                        <tr>
                            <td>4536</td>
                            <td>23rd Mar 2019</td>
                            <td>Emp-6754</td>
                            <td>PL</td>
                            <td>1 Day</td>
                            <td>Hospital</td>
                            <td><span class="badge bg-success rounded-pill">Approved</span></td>
                        </tr>
                        <tr>
                            <td>2567</td>
                            <td>4th Feb 2019</td>
                            <td>Emp-1432</td>
                            <td>PL</td>
                            <td>1 Day</td>
                            <td>Outside</td>
                            <td><span class="badge bg-primary rounded-pill">Pending</span></td>
                        </tr>
                        <tr>
                            <td>7654</td>
                            <td>13th Mar 2019</td>
                            <td>Emp-1254</td>
                            <td>PL</td>
                            <td>1 Day</td>
                            <td>Normal</td>
                            <td><span class="badge bg-danger rounded-pill">Rejected</span></td>
                        </tr>
                        <tr>
                            <td>8754</td>
                            <td>28th Feb 2019</td>
                            <td>Emp-8765</td>
                            <td>PL</td>
                            <td>1 Day</td>
                            <td>Sick</td>
                            <td><span class="badge bg-success rounded-pill">Approved</span></td>
                        </tr>
                        <tr>
                            <td>1232</td>
                            <td>23rd Apr 2019</td>
                            <td>Emp-7643</td>
                            <td>PL</td>
                            <td>1 Day</td>
                            <td>Other Work</td>
                            <td><span class="badge bg-danger rounded-pill">Rejected</span></td>
                        </tr>
                        <tr>
                            <td>8765</td>
                            <td>16th Feb 2019</td>
                            <td>Emp-2431</td>
                            <td>PL</td>
                            <td>1 Day</td>
                            <td>Sick</td>
                            <td><span class="badge bg-primary rounded-pill">Pending</span></td>
                        </tr>
                        <tr>
                            <td>7654</td>
                            <td>23rd Mar 2019</td>
                            <td>Emp-5643</td>
                            <td>PL</td>
                            <td>1 Day</td>
                            <td>Outside</td>
                            <td><span class="badge bg-danger rounded-pill">Rejected</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-center border-top-0">
                <a class="btn-link" href="javascript:void(0);">View All</a>
            </div>
        </div>
    </div>
</div>
<!-- End::row-3 -->

<!-- Start::row-4 -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Employee Details</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover text-nowrap table-bordered">
                        <thead>
                            <tr>
                                <th scope="row" class="text-start">Employee</th>
                                <th scope="row" class="text-center">Occupation</th>
                                <th scope="row" class="text-center">Projects</th>
                                <th scope="row" class="text-center">Performance</th>
                                <th scope="row" class="text-center"> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                    <img class="avatar avatar-lg avatar-rounded me-3" src="./assets/images/faces/1.jpg" alt="Image description">
                                    <div class="ms-3 mt-2">
                                        <h5 class="mb-0 text-dark">Lillian Blake</h5>
                                        <p class="mb-0  fs-13 text-muted">lillianblake&#64;gmail.com</p>
                                    </div>
                                    </div>
                                </td>
                                <td class="text-center">Angular Developer</td>
                                <td class="text-center">876</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-animate progress-xs w-100" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 45%"></div>
                                        </div>
                                        <div class="ms-2">45%</div>
                                    </div>
                                </td>
                                <td class="text-end"><a class="btn btn-light" href="javascript:void(0);"> View Details</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img class="avatar avatar-lg avatar-rounded me-3" src="./assets/images/faces/2.jpg" alt="Image description">
                                        <div class="ms-3 mt-2">
                                            <h5 class="mb-0 text-dark">Georgine Earle</h5>
                                            <p class="mb-0  fs-13 text-muted">georgineearle&#64;gmail.com</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">Php Developer</td>
                                <td class="text-center">342</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-animate progress-xs w-100" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: 55%"></div>
                                        </div>
                                        <div class="ms-2">55%</div>
                                    </div>
                                </td>
                                <td class="text-end"><a class="btn btn-light" href="javascript:void(0);"> View Details</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img class="avatar avatar-lg avatar-rounded me-3" src="./assets/images/faces/3.jpg" alt="Image description">
                                        <div class="ms-3 mt-2">
                                            <h5 class="mb-0 text-dark">Veta Willson</h5>
                                            <p class="mb-0  fs-13 text-muted">vetawillson&#64;gmail.com</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">Web Developer</td>
                                <td class="text-center">564</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-animate progress-xs w-100" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 85%"></div>
                                        </div>
                                        <div class="ms-2">85%</div>
                                    </div>
                                </td>
                                <td class="text-end"><a class="btn btn-light" href="javascript:void(0);"> View Details</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img class="avatar avatar-lg avatar-rounded me-3" src="./assets/images/faces/4.jpg" alt="Image description">
                                        <div class="ms-3 mt-2">
                                            <h5 class="mb-0 text-dark">Kayleigh Throneberry</h5>
                                            <p class="mb-0  fs-13 text-muted">kayleighthroneberry&#64;gmail.com</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">Web Designer</td>
                                <td class="text-center">345</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-animate progress-xs w-100" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 90%"></div>
                                        </div>
                                        <div class="ms-2">90%</div>
                                    </div>
                                </td>
                                <td class="text-end"><a class="btn btn-light" href="javascript:void(0);"> View Details</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img class="avatar avatar-lg avatar-rounded me-3" src="./assets/images/faces/5.jpg" alt="Image description">
                                        <div class="ms-3 mt-2">
                                            <h5 class="mb-0 text-dark">Gretta Perro</h5>
                                            <p class="mb-0  fs-13 text-muted">grettaperro&#64;gmail.com</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">Angular Developer</td>
                                <td class="text-center">123</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-animate progress-xs w-100" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: 65%"></div>
                                        </div>
                                        <div class="ms-2">65%</div>
                                    </div>
                                </td>
                                <td class="text-end"><a class="btn btn-light" href="javascript:void(0);"> View Details</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div  class="d-flex">
                                        <img class="avatar avatar-lg avatar-rounded me-3" src="./assets/images/faces/6.jpg" alt="Image description">
                                        <div class="ms-3 mt-2">
                                            <h5 class="mb-0 text-dark">Emelina Poisson</h5>
                                            <p class="mb-0  fs-13 text-muted">emelinapoisson&#64;gmail.com</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">Web Developer</td>
                                <td class="text-center">456</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-animate progress-xs w-100" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 40%"></div>
                                        </div>
                                        <div class="ms-2">40%</div>
                                    </div>
                                </td>
                                <td class="text-end"><a class="btn btn-light" href="javascript:void(0);"> View Details</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img class="avatar avatar-lg avatar-rounded me-3" src="./assets/images/faces/7.jpg" alt="Image description">
                                        <div class="ms-3 mt-2">
                                            <h5 class="mb-0 text-dark">Marleen Sohn</h5>
                                            <p class="mb-0  fs-13 text-muted">marleensohn&#64;gmail.com</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">Web Designer</td>
                                <td class="text-center">876</td>
                                <td class="text-center">
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-animate progress-xs w-100" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" style="width: 65%"></div>
                                        </div>
                                        <div class="ms-2">65%</div>
                                    </div>
                                </td>
                                <td class="text-end"><a class="btn btn-light" href="javascript:void(0);"> View Details</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::row-4 -->