<form novalidate="" class="row g-3 mt-0 ng-untouched ng-pristine ng-valid">
    <div class="card">
        <div class="card-header justify-content-between d-sm-flex d-block">
            <div class="card-title d-flex align-items-center">
                <label for="select-producto">Mantenedor de </label>
                <ng-select style="margin-left: 10px; width: 250px;" placeholder="Seleccione un factor.." name="select-factor" [items]="listaFactores" bindLabel="descripcion" bindValue="id" [(ngModel)]="this.factorSeleccionado"></ng-select>                
            </div>
        </div>
        <div class="card-body">
            <ng-container *ngIf="componenteSeleccionado">
                <ng-container *ngComponentOutlet="componenteSeleccionado"></ng-container>
            </ng-container>
        </div>
    </div>
</form>