<app-modal-formulario titulo="Cargar Fórmula Tasa" subtitulo="Registre una fórmula de tasa para aplicarla al cálculo de tasas variables de instrumentos." accion="Registrar"
    [faltantes]="faltantes" [datos]="nuevoRegistro" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="registrar()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="ft-c-nombreFormula">Nombre<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="ft-c-nombreFormula" type="text" class="form-control" autocomplete="off" placeholder="Ej. Tasa Libor + Spread" minlength="3" maxlength="100" [(ngModel)]="nuevoRegistro.nombreFormula" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="ft-c-nombreCortoFormula">Nombre Corto</label>
                <input id="ft-c-nombreCortoFormula" type="text" class="form-control" autocomplete="off" placeholder="Ej. Libor+Spread" minlength="3" maxlength="50" [(ngModel)]="nuevoRegistro.nombreCortoFormula">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="ft-c-descripcionFormula">Descripción</label>
                <input id="ft-c-descripcionFormula" type="text" class="form-control" autocomplete="off" placeholder="Descripción" minlength="3" maxlength="500" [(ngModel)]="nuevoRegistro.descripcionFormula">
            </div>
        </div>
    </fieldset>

    <fieldset class="hig-seccion">
        <legend>Expresión</legend>
        <div class="hig-cuadricula hig-columnas-1">
            <div class="hig-campo">
                <label class="form-label" for="ft-c-expresionFormula">Expresión<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="ft-c-expresionFormula" type="text" class="form-control" autocomplete="off" placeholder="Ej. LIBOR3M + 0.0150" minlength="3" maxlength="500" [(ngModel)]="nuevoRegistro.expresionFormula" required>
            </div>
        </div>
    </fieldset>

</app-modal-formulario>
