<div id="myModal" tabindex="-1" data-keyboard="false" role="dialog">
    <div role="document" class="msg_card_body" style="width: 100%;">
        <div class="modal-header">
            <table style="width: 100%;">
                <tr style="width: 100%;">
                    <td style="text-align: left; padding: 0% 0% 0.5% 1%;">
                        <h3 class="modal-title">Cargar Fondo de Inversión</h3>
                    </td>
                    <td style="text-align: right; padding-right: 1.3%;">
                        <button type="button" class="icon-close" (click)="cerrar()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="card">
        <!-- <div class="card-header justify-content-between d-sm-flex d-block">
            <div class="card-title">
                Datos Generales
            </div>
        </div> -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label">Código ISIN</label>
                    <input type="text" placeholder="Código ISIN" minlength="3" maxlength="20" class="form-control" [(ngModel)]="this.nuevoRegistro.codISIN">
                </div>

                <div class="col-md-3">
                    <label class="form-label">Ticker (BLG o Interno)</label>
                    <input type="text" placeholder="Ticker" minlength="3" maxlength="20" class="form-control" [(ngModel)]="this.nuevoRegistro.codTicker">
                </div>

                <div class="col-md-3">
                    <label class="form-label">Nemónico</label>
                    <input type="text" placeholder="Nemónico" minlength="3" maxlength="60" class="form-control" [(ngModel)]="this.nuevoRegistro.desNemonico">
                </div>

                <div class="col-md-3">
                    <label class="form-label">Monto Total</label>
                    <input type="number" placeholder="Monto Total" class="form-control" [(ngModel)]="this.nuevoRegistro.montoTotal">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">Plaza</label>
                    <div class="combo-contenedor">
                        <ng-select placeholder="Seleccione una opción..." [items]="listPlaza" bindLabel="desPlaza" bindValue="idPlaza" [(ngModel)]="this.nuevoRegistro.idPlaza"></ng-select>
                        <button class="btn btn-outline-primary btn-wave btn-agregar" (click)="abrirModalSecundario(cargaModalPlaza)"><span class="icon">+</span></button>
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Emisor</label>
                    <div class="combo-contenedor">
                        <ng-select placeholder="Seleccione una opción..." [items]="listEmisor" bindLabel="nomEmisor" bindValue="idEmisor" [(ngModel)]="this.nuevoRegistro.idEmisor"></ng-select>
                        <button class="btn btn-outline-primary btn-wave btn-agregar" (click)="abrirModalSecundario(cargaModalEmisor)"><span class="icon">+</span></button>
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Moneda</label>
                    <div class="combo-contenedor">
                        <ng-select placeholder="Seleccione una opción..." [items]="listMoneda" bindLabel="desMoneda" bindValue="idMoneda" [(ngModel)]="this.nuevoRegistro.idMoneda"></ng-select>
                        <button class="btn btn-outline-primary btn-wave btn-agregar" (click)="abrirModalSecundario(cargaModalMoneda)"><span class="icon">+</span></button>
                    </div>
                </div>
            </div>  
            
            <br>

            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">Tipo Fondo</label>
                    <div class="combo-contenedor">
                        <ng-select placeholder="Seleccione una opción..." [items]="listTipoFondo" bindLabel="desTipoFondo" bindValue="idTipoFondo" [(ngModel)]="this.nuevoRegistro.idTipoFondo"></ng-select>
                        <button class="btn btn-outline-primary btn-wave btn-agregar" (click)="abrirModalSecundario(cargaModalTipoFondo)"><span class="icon">+</span></button>
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Tipo Instrumento</label>
                    <div class="combo-contenedor">
                        <ng-select placeholder="Seleccione una opción..." [items]="listTipoInstrumento" bindLabel="descripcionTipoInstrumento" bindValue="idTipoInstrumento" [(ngModel)]="this.nuevoRegistro.idTipoInstrumento"></ng-select>
                        <button class="btn btn-outline-primary btn-wave btn-agregar" (click)="abrirModalSecundario(cargaModalTipoInstrumento)"><span class="icon">+</span></button>
                    </div>
                </div>

                <div class="col-md-4" *ngIf="this.nuevoRegistro.flgCargaAutom">
                    <label class="form-label">Fuente Información</label>
                    <div class="combo-contenedor">
                        <ng-select placeholder="Seleccione una opción..." [items]="listFuenteInformacion" bindLabel="desFuenteInformacion" bindValue="idFuenteInformacion" [(ngModel)]="this.nuevoRegistro.idFuenteInformacion"></ng-select>
                        <button class="btn btn-outline-primary btn-wave btn-agregar" (click)="abrirModalSecundario(cargaModalFuenteInformacion)"><span class="icon">+</span></button>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="chkCargaAutomatica" name="chkCargaAutomatica" [(ngModel)]="this.nuevoRegistro.flgCargaAutom"><label for="chkCargaAutomatica" class="form-check-label"> Carga Automática </label></div>
                </div>
                <div class="col-md-4">
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="chkCalculoVaR" name="chkCalculoVaR" [(ngModel)]="this.nuevoRegistro.flgVar"><label for="chkCalculoVaR" class="form-check-label"> Cálculo de VaR </label></div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary" (click)="registrar()">Registrar</button>
            <br>
        </div>
    </div>
</div>

<ng-template #cargaModalPlaza let-modal>
    <app-carga-plaza (close)="cerrarModalSecundario($event)"></app-carga-plaza>
</ng-template>

<ng-template #cargaModalEmisor let-modal>
    <app-carga-emisor (close)="cerrarModalSecundario($event)"></app-carga-emisor>
</ng-template>

<ng-template #cargaModalMoneda let-modal>
    <app-carga-moneda (close)="cerrarModalSecundario($event)"></app-carga-moneda>
</ng-template>

<ng-template #cargaModalTipoFondo let-modal>
    <app-carga-tipo-fondo (close)="cerrarModalSecundario($event)"></app-carga-tipo-fondo>
</ng-template>

<ng-template #cargaModalFuenteInformacion let-modal>
    <app-carga-fuente-informacion (close)="cerrarModalSecundario($event)"></app-carga-fuente-informacion>
</ng-template>

<ng-template #cargaModalTipoInstrumento let-modal>
    <app-carga-tipo-instrumento (close)="cerrarModalSecundario($event)"></app-carga-tipo-instrumento>
</ng-template>