<app-page-header hassub="Apps" sub="" title1="Contact" title="Contact's" activeTitle="Contact's"></app-page-header>
<!-- Start:: row-1 -->
<div class="row">
    <div class="col mb-4">
        <a href="javascript:void(0);" class="btn btn-primary text-nowrap"><i class="fe fe-plus"></i>  Add New Contact</a>
    </div>
    <div class="col col-auto mb-4">
        <div class="input-group mb-3">
            <button aria-label="button" class="btn btn-light" type="button"><i class="fe fe-search"></i></button>
            <input type="text" class="form-control" placeholder="Recipient's username">
        </div>
    </div>
</div>
<!-- End:: row-1 -->

<!-- Start:: row-2 -->
<div class="row">
    @for (item of ContactData; track $index) {
        <div class="col-xl-4 col-lg-6">
            <div class="card text-center user-contact-list">
                <div class="p-4">
                    <img class="avatar avatar-xxl avatar-rounded d-block cover-image mx-auto" [src]="item.image">
                    <div class="wrapper mt-3">
                        <p class="mb-0 mt-1 text-dark fw-semibold">{{item.name}}</p>
                        <small class="text-muted">{{item.position}}</small>
                    </div>
                    <div class="">
                        <a class="btn btn-outline-light btn-svgs mt-4 me-1" href="javascript:void(0);"><svg class="svg-icon me-3" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M20 4H4v13.17L5.17 16H20V4zm-6 10H6v-2h8v2zm4-3H6V9h12v2zm0-3H6V6h12v2z" opacity=".3"></path><path d="M20 18c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14zm-16-.83V4h16v12H5.17L4 17.17zM6 12h8v2H6zm0-3h12v2H6zm0-3h12v2H6z"></path></svg> Message</a>
                        <a class="btn btn-light btn-svgs mt-4 me-1" href="javascript:void(0);"><svg class="svg-icon me-3" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M12 16c-2.69 0-5.77 1.28-6 2h12c-.2-.71-3.3-2-6-2z" opacity=".3"></path><circle cx="12" cy="8" opacity=".3" r="2"></circle><path d="M12 14c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4zm-6 4c.22-.72 3.31-2 6-2 2.7 0 5.8 1.29 6 2H6zm6-6c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0-6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2z"></path></svg>Profile</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- End:: row-2 -->