<app-modal-formulario titulo="Cargar Portafolio" subtitulo="Registre un portafolio para agrupar instrumentos y hacer seguimiento de su valorización y riesgo." accion="Registrar"
    [faltantes]="faltantes" [datos]="nuevoRegistro" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="registrar()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="po-c-descripcionPortafolio">Descripción<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="po-c-descripcionPortafolio" type="text" class="form-control" autocomplete="off" placeholder="Ej. Fondo Renta Variable Global" minlength="3" maxlength="255" [(ngModel)]="nuevoRegistro.descripcionPortafolio" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="po-c-tipoPortafolio">Tipo Portafolio</label>
                <input id="po-c-tipoPortafolio" type="text" class="form-control" autocomplete="off" placeholder="Ej. Renta Variable" minlength="3" maxlength="150" [(ngModel)]="nuevoRegistro.tipoPortafolio">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="po-c-gestor">Gestor</label>
                <input id="po-c-gestor" type="text" class="form-control" autocomplete="off" placeholder="Ej. Juan Pérez" minlength="3" maxlength="100" [(ngModel)]="nuevoRegistro.gestor">
            </div>
        </div>
    </fieldset>

    <fieldset class="hig-seccion">
        <legend>Gestión</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="po-c-limite">Límite</label>
                <input id="po-c-limite" type="number" class="form-control" autocomplete="off" placeholder="Ej. 1000000" [(ngModel)]="nuevoRegistro.limite">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="po-c-idMoneda">Moneda Gestión<span class="hig-requerido" aria-hidden="true">*</span></label>
                <div class="combo-contenedor">
                    <ng-select labelForId="po-c-idMoneda" placeholder="Seleccione una opción…" [items]="listMoneda" bindLabel="desMoneda" bindValue="idMoneda" [(ngModel)]="nuevoRegistro.idMoneda" required></ng-select>
                    <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar moneda" aria-label="Agregar moneda" (click)="abrirModalSecundario(cargaModalMoneda)"><span class="icon" aria-hidden="true">+</span></button>
                </div>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="po-c-idBenchmark">Benchmark</label>
                <div class="combo-contenedor">
                    <ng-select labelForId="po-c-idBenchmark" placeholder="Seleccione una opción…" [items]="listBenchmark" bindLabel="descripcionBenchmark" bindValue="idBenchmark" [(ngModel)]="nuevoRegistro.idBenchmark"></ng-select>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="hig-seccion">
        <legend>Notas</legend>
        <div class="hig-cuadricula hig-columnas-1">
            <div class="hig-campo">
                <label class="form-label" for="po-c-notas">Notas</label>
                <textarea id="po-c-notas" class="form-control" rows="4" minlength="3" maxlength="255" placeholder="Notas adicionales sobre el portafolio" [(ngModel)]="nuevoRegistro.notas"></textarea>
            </div>
        </div>
    </fieldset>

</app-modal-formulario>

<ng-template #cargaModalMoneda let-modal>
    <app-carga-moneda (close)="cerrarModalSecundario($event)"></app-carga-moneda>
</ng-template>
