<div class="page page-style1 error-page">
    <div class="page-single">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="card p-4 mb-0 mt-7 mt-md-2">
                        <div class="card-body">
                            <div class="text-center title-style mb-5">
                                <h2 class="mb-2">Forgot Password</h2>
                                <hr>
                                <p class="text-muted">Forgot Password Page</p>
                            </div>
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M20 8l-8 5-8-5v10h16zm0-2H4l8 4.99z" opacity=".3"></path><path d="M4 20h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2zM20 6l-8 4.99L4 6h16zM4 8l8 5 8-5v10H4V8z"></path></svg></span>
                                <input type="text" class="form-control" placeholder="Enter Email">
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="privacy-policy">
                                    <label class="form-check-label text-muted" for="privacy-policy">
                                        Agree the
                                    </label><a [routerLink]="['/pages/terms-conditions']" class="fw-semibold text-muted ms-1">terms and policy</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <a [routerLink]="['/dashboards/sales']" class="btn btn-lg btn-primary btn-block px-4 w-100"><i class="fe fe-arrow-right"></i> Send</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center pt-4">
                        <div class="fw-normal fs-16">Forget it <a class="btn-link text-primary fw-normal" [routerLink]="['/dashboards/sales']">Send me back</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>