 <div class="page error-page error-page-1">
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img src="./assets/images/svgs/3.svg" alt="img" class="w-90">
                </div>
                <div class="col-md-7 my-auto  my-3">
                    <div class="display-2 text-primary  mb-2 fw-bold"> 403</div>
                    <h1 class="h3  mb-3 fw-bold">Sorry, Forbidden Error, Requested Page not found!</h1>
                    <p class="h5 fw-normal mb-7 leading-normal">You may have mistyped the address or the page may have moved.</p>
                    <a class="btn btn-primary" [routerLink]="['/dashboards/sales']"><i class="fe fe-arrow-left-circle m-1"></i>Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>