<app-page-header hassub="apps" sub="" title1="Chat" title="Chat" activeTitle="Chat"></app-page-header>
  <!-- Start:: row-1 -->
  <div class="row">
    <div class="col-md-12">
        <div class="card overflow-hidden bg-transparent main-chart-wrapper d-lg-flex flex-row responsive-chat-open"  id="chat-1">
            <div class="chat-info border-end">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs mb-0 nav-justified d-sm-flex d-block border-bottom-0"
                    id="myTab1" role="tablist">
                    <li [ngbNavItem]="1" class="nav-item" role="presentation">
                        <a ngbNavLink class="nav-link " id="users-tab" data-bs-toggle="tab" data-bs-target="#users-tab-pane" href="javascript:void(0);" role="tab" aria-controls="users-tab-pane" aria-selected="true">Chat</a>
                        <ng-template ngbNavContent>
                            <overlay-scrollbars [defer] class="fade show active border-top-0 chat-users-tab " id="users-tab-pane" role="tabpanel" aria-labelledby="users-tab" tabindex="0">
                                <ul class="list-group lg-alt chat-conatct-list" id="ChatList">
                                    @for(data of ChatData;track $index){
                                    <li class="list-group-item p-3 border-bottom border-0 mt-0 checkforactive">
                                        <a href="javascript:void(0);" class="media" (click)="handleClick(data)">
                                            <div class="pe-2 my-auto">
                                                <img src="{{ data.src }}" alt="" class="avatar avatar-md avatar-rounded">
                                            </div>
                                            <div class="media-body">
                                                <div class="list-group-item-heading text-default fw-semibold"> {{ data.name }}</div>
                                                <small class="list-group-item-text text-muted"> {{ data.message }}</small>
                                            </div>
                                            <span class="chat-time text-muted"> {{ data.time }}</span>
                                        </a>
                                    </li>
                                }
                                </ul>
                            </overlay-scrollbars>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2" class="nav-item" role="presentation">
                        <a ngbNavLink class="nav-link" id="groups-tab" data-bs-toggle="tab" data-bs-target="#groups-tab-pane" href="javascript:void(0);" role="tab" aria-controls="groups-tab-pane" aria-selected="false">Contacts</a>
                        <ng-template ngbNavContent>
                            <overlay-scrollbars [defer] class="fade show chat-groups-tab border-top-0" id="groups-tab-pane" role="tabpanel" aria-labelledby="groups-tab" tabindex="0">
                                <ul class="list-group lg-alt chat-conatct-list" id="ChatList2">
                                    @for(data1 of ContatctData;track $index){
                                    <li class="list-group-item media p-3 border-top border-0 mt-0">
                                        <a aria-label="anchor" class="anchor-link" href="javascript:void(0);"  (click)="handleClick(data1)"></a>
                                        <div class="pe-2 my-auto">
                                            <img src="{{ data1.src }}" alt="" class="avatar avatar-md avatar-rounded">
                                        </div>
                                        <div class="media-body">
                                            <div class="list-group-item-heading text-default fw-semibold">{{data1.name}}</div>
                                            <small class="list-group-item-text text-muted">{{data1.mail}}</small>
                                        </div>
                                        <div ngbDropdown class="ms-auto">
                                            <a ngbDropdownToggle aria-label="anchor" data-bs-toggle="dropdown" class="option-dots no-caret" href="javascript:void(0);">
                                                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
                                            </a>
                                            <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
                                                <li>
                                                    <a href="javascript:void(0);">Call</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">Videocall</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">New Message</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);">Settings</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                }
                                </ul>
                            </overlay-scrollbars>
                        </ng-template>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent" [ngbNavOutlet]="nav">
                </div>
            </div>
            <div class="main-chat-area">
                <div class="action-header d-sm-flex clearfix">
                    <div class="d-flex chat-user">
                        <img  [src]="activeUser.src" alt="" class="chatimageperson avatar avatar-md avatar-rounded me-2">
                        <div class="align-items-center mt-2">
                            <span class="fw-bold chatnameperson responsive-userinfo-open">{{activeUser.name}}</span>
                        </div>
                    </div>
                    <ul class="ah-actions d-flex gap-3 align-items-center list-unstyled ms-auto my-auto">
                        <li>
                            <a aria-label="anchor" placement="top" ngbTooltip="Call" href="javascript:void(0);">
                                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 17.47c-.88-.07-1.75-.22-2.6-.45l-1.19 1.19c1.2.41 2.48.67 3.8.75v-1.49zM5.03 5c.09 1.32.35 2.59.75 3.8l1.2-1.2c-.23-.84-.38-1.71-.44-2.6H5.03z" opacity=".3"/><path d="M9.07 7.57C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57-.1-.04-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02zm7.33 9.45c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19zM5.79 8.8c-.41-1.21-.67-2.48-.76-3.8h1.5c.07.89.22 1.76.46 2.59L5.79 8.8z"/></svg>
                            </a>
                        </li>
                        <li>
                            <a aria-label="anchor" placement="top" href="javascript:void(0);" ngbTooltip="Archive"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M5 19h14V8H5v11zm5.55-6v-3h2.91v3H16l-4 4-4-4h2.55z" opacity=".3"/><path d="M16 13h-2.55v-3h-2.9v3H8l4 4zm4.54-7.77l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.16.55L3.46 5.23C3.17 5.57 3 6.02 3 6.5V19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.48-.17-.93-.46-1.27zM6.24 5h11.52l.81.97H5.44l.8-.97zM19 19H5V8h14v11z"/></svg></a>
                        </li>
                        <li>
                            <a aria-label="anchor" placement="top" href="javascript:void(0);" ngbTooltip="Trash"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 9h8v10H8z" opacity=".3"/><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"/></svg></a>
                        </li>
                        <li>
                            <a aria-label="anchor" placement="top" href="javascript:void(0);" ngbTooltip="View Info"><svg  class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 4c-4.41 0-8 3.59-8 8s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8zm1 13h-2v-6h2v6zm0-8h-2V7h2v2z" opacity=".3"/><path d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg></a>
                        </li>
                        <li  class="responsive-chat-close">
                            <a (click)="removeChat()" aria-label="anchor" href="javascript:void(0);">
                                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/><path d="M12 4c-4.41 0-8 3.59-8 8s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8zm5 11.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z" opacity=".3"/><path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm3.59-13L12 10.59 8.41 7 7 8.41 10.59 12 7 15.59 8.41 17 12 13.41 15.59 17 17 15.59 13.41 12 17 8.41z"/></svg></a>
                        </li>
                        <li ngbDropdown class="dropdown">
                            <a ngbDropdownToggle aria-label="anchor" data-bs-toggle="dropdown" class="py-4 no-caret" href="javascript:void(0);">
                                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
                            </a>
                            <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
                                <li class="dropdown-item">
                                    <a href="javascript:void(0);">Refresh</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="javascript:void(0);">Message Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <overlay-scrollbars [defer] class="chat-content" id="main-chat-content">
                    <ul class="list-unstyled mb-5">
                        <li class="chat-item-start">
                            <div class="chat-list-inner">
                                <div class="chat-user-profile">
                                    <span class="avatar avatar-md avatar-rounded chatstatusperson">
                                        <img class="chatimageperson"  [src]="activeUser.src" alt="img">
                                    </span>
                                </div>
                                <div class="ms-3">
                                    <div class="main-chat-msg">
                                        <div>
                                            Quisque consequat arcu eget odio cursus, ut tempor arcu vestibulum. Etiam ex arcu, porta a urna non, lacinia pellentesque orci. Proin semper sagittis erat, eget condimentum sapien viverra et.
                                        </div>
                                    </div>
                                    <small class="d-block text-muted mt-2"><i class="fa fa-clock-o"></i> 20/05/2020 at 09:00</small>
                                </div>
                            </div>
                        </li>
                        <li class="chat-item-end">
                            <div class="chat-list-inner">
                                <div class="me-3">
                                    <div class="main-chat-msg">
                                        <div>
                                            Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc sed turpis mi. In eu massa a sem pulvinar lobortis.
                                        </div>
                                    </div>
                                    <small class="d-block text-muted mt-2"><i class="fa fa-clock-o"></i>  20/05/2020 at 09:30</small>
                                </div>
                                <div class="chat-user-profile">
                                    <span class="avatar avatar-md avatar-rounded">
                                        <img src="./assets/images/faces/5.jpg" alt="img">
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="chat-item-start">
                            <div class="chat-list-inner">
                                <div class="chat-user-profile">
                                    <span class="avatar avatar-md  avatar-rounded chatstatusperson">
                                        <img class="chatimageperson" [src]="activeUser.src" alt="img">
                                    </span>
                                </div>
                                <div class="ms-3">
                                    <div class="main-chat-msg">
                                        <div>
                                            Etiam ex arcumentum
                                        </div>
                                    </div>
                                    <small class="d-block text-muted mt-2"><i class="fa fa-clock-o"></i>  20/05/2020 at 09:30</small>
                                </div>
                            </div>
                        </li>
                        <li class="chat-item-end">
                            <div class="chat-list-inner">
                                <div class="me-3">
                                    <div class="main-chat-msg">
                                        <div>
                                            Etiam nec facilisis lacus. Nulla imperdiet augue ullamcorper dui ullamcorper, eu laoreet sem consectetur. Aenean et ligula risus. Praesent sed posuere sem. Cum sociis natoque penatibus et magnis dis parturient montes,
                                        </div>
                                    </div>
                                    <small class="d-block text-muted mt-2"><i class="fa fa-clock-o"></i>  20/05/2020 at 10:10</small>
                                </div>
                                <div class="chat-user-profile">
                                    <span class="avatar avatar-md  avatar-rounded">
                                        <img src="./assets/images/faces/5.jpg" alt="img">
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li class="chat-item-start">
                            <div class="chat-list-inner">
                                <div class="chat-user-profile">
                                    <span class="avatar avatar-md   avatar-rounded chatstatusperson">
                                        <img class="chatimageperson" [src]="activeUser.src" alt="img">
                                    </span>
                                </div>
                                <div class="ms-3">
                                    <div class="main-chat-msg">
                                        <div>
                                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam ac tortor ut elit sodales varius. Mauris id ipsum id mauris malesuada tincidunt. Vestibulum elit massa, pulvinar at sapien sed, luctus vestibulum eros.
                                        </div>
                                    </div>
                                    <small class="d-block text-muted mt-2"><i class="fa fa-clock-o"></i> 20/05/2020 at 10:24</small>
                                </div>
                            </div>
                        </li>
                    </ul>
                </overlay-scrollbars>
                <div class="chat-footer h-auto px-0">
                    <textarea placeholder="What's on your mind..."></textarea>
                    <button aria-label="button" type="button"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M4 8.25l7.51 1-7.5-3.22zm.01 9.72l7.5-3.22-7.51 1z" opacity=".3"></path><path d="M2.01 3L2 10l15 2-15 2 .01 7L23 12 2.01 3zM4 8.25V6.03l7.51 3.22-7.51-1zm.01 9.72v-2.22l7.51-1-7.51 3.22z"></path></svg></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-1 -->