<div class="page page-style1 error-page">
    <div class="page-single p-5">
        <div class="row justify-content-center mt-5 mt-sm-0">
            <div class="col-lg-9 col-xl-8">
                <div class="card-group mb-0">
                    <div class="card p-4 page-content mt-0">
                        <div class="card-body page-single-content">
                            <div class="w-100">
                                <div class="text-center mb-4 ">
                                    <span class="avatar avatar-xxl avatar-rounded">
                                        <img src="./assets/images/faces/16.jpg" alt="">
                                    </span>
                                </div>
                                <span class="m-4 d-block text-center">
                                    <span class=""><strong>John Thomson</strong></span>
                                </span>
                                <div class="mb-3">
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <a [routerLink]="['/dashboards/sales']" class="btn btn-primary btn-block w-100"><i class="fe fe-arrow-right"></i> Unlock</a>
                            </div>
                        </div>
                    </div>
                    <div class="card text-white bg-primary py-5 d-none d-sm-block page-content mt-0">
                        <div class="card-body text-center justify-content-center page-single-content h-100">
                            <img src="./assets/images/pattern/3.png" alt="img" class="w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>