<app-modal-formulario titulo="Editar Tasa RJTE" subtitulo="Modifique los datos de la tasa RJTE." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="guardarCambios()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="tr-e-nombreTasa">Nombre<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="tr-e-nombreTasa" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="100" [(ngModel)]="objRegistroEditado.nombreTasa" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="tr-e-nombreCorto">Nombre Corto</label>
                <input id="tr-e-nombreCorto" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="20" [(ngModel)]="objRegistroEditado.nombreCorto">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="tr-e-descripcion">Descripción</label>
                <input id="tr-e-descripcion" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="500" [(ngModel)]="objRegistroEditado.descripcion">
            </div>
        </div>
    </fieldset>

</app-modal-formulario>
