<app-modal-formulario titulo="Cargar Acción" subtitulo="Registre una acción para incluirla en portafolios y en el cálculo de VaR." accion="Registrar"
    [faltantes]="faltantes" [datos]="nuevoRegistro" (cerrar)="cerrar()" (guardar)="registrar()">

        <fieldset class="hig-seccion">
            <legend>Identificación</legend>
            <div class="hig-cuadricula ">
                <div class="hig-campo">
                    <label class="form-label" for="ac-c-codTicker">Ticker (BLG o Interno)<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <input id="ac-c-codTicker" type="text" class="form-control" autocomplete="off" placeholder="Ej. AMZN" maxlength="20" [(ngModel)]="this.nuevoRegistro.codTicker" required>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-c-desNemonico">Nemónico</label>
                    <input id="ac-c-desNemonico" type="text" class="form-control" autocomplete="off" placeholder="Ej. AMAZON.COM" maxlength="60" [(ngModel)]="this.nuevoRegistro.desNemonico">
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-c-codISIN">Código ISIN</label>
                    <input id="ac-c-codISIN" type="text" class="form-control" autocomplete="off" placeholder="Ej. US0231351067" maxlength="20" [(ngModel)]="this.nuevoRegistro.codISIN">
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-c-codIndAsociado">Índice Asociado</label>
                    <input id="ac-c-codIndAsociado" type="text" class="form-control" autocomplete="off" placeholder="Ej. S&amp;P 500" maxlength="10" [(ngModel)]="this.nuevoRegistro.codIndAsociado">
                </div>
            </div>
        </fieldset>

        <fieldset class="hig-seccion">
            <legend>Clasificación</legend>
            <div class="hig-cuadricula hig-columnas-3">
                <div class="hig-campo">
                    <label class="form-label" for="ac-c-idPlaza">Plaza<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="ac-c-idPlaza" placeholder="Seleccione una opción…" [items]="listPlaza" bindLabel="desPlaza" bindValue="idPlaza" [(ngModel)]="this.nuevoRegistro.idPlaza" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar plaza" aria-label="Agregar plaza" (click)="abrirModalSecundario(cargaModalPlaza)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-c-idTipoSector">Tipo Sector<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="ac-c-idTipoSector" placeholder="Seleccione una opción…" [items]="listTipoSector" bindLabel="descripcionTiposector" bindValue="idTipoSector" [(ngModel)]="this.nuevoRegistro.idTipoSector" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar tipo sector" aria-label="Agregar tipo sector" (click)="abrirModalSecundario(cargaModalTipoSector)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-c-idTipoAccion">Tipo Acción<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="ac-c-idTipoAccion" placeholder="Seleccione una opción…" [items]="listTipoAccion" bindLabel="desTipoAccion" bindValue="idTipoAccion" [(ngModel)]="this.nuevoRegistro.idTipoAccion" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar tipo acción" aria-label="Agregar tipo acción" (click)="abrirModalSecundario(cargaModalTipoAccion)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-c-idEmisor">Emisor<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="ac-c-idEmisor" placeholder="Seleccione una opción…" [items]="listEmisor" bindLabel="nomEmisor" bindValue="idEmisor" [(ngModel)]="this.nuevoRegistro.idEmisor" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar emisor" aria-label="Agregar emisor" (click)="abrirModalSecundario(cargaModalEmisor)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-c-idMoneda">Moneda<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="ac-c-idMoneda" placeholder="Seleccione una opción…" [items]="listMoneda" bindLabel="desMoneda" bindValue="idMoneda" [(ngModel)]="this.nuevoRegistro.idMoneda" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar moneda" aria-label="Agregar moneda" (click)="abrirModalSecundario(cargaModalMoneda)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-c-idFuenteInformacion">Fuente Información</label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="ac-c-idFuenteInformacion" placeholder="Seleccione una opción…" [items]="listFuenteInformacion" bindLabel="desFuenteInformacion" bindValue="idFuenteInformacion" [(ngModel)]="this.nuevoRegistro.idFuenteInformacion"></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar fuente información" aria-label="Agregar fuente información" (click)="abrirModalSecundario(cargaModalFuenteInformacion)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="hig-seccion">
            <legend>Opciones</legend>
            <div class="hig-cuadricula hig-columnas-1">
                <div class="hig-opcion">
                    <input class="form-check-input" type="checkbox" id="ac-c-flgCargaAutom" [(ngModel)]="this.nuevoRegistro.flgCargaAutom">
                    <div>
                        <label class="hig-opcion__titulo" for="ac-c-flgCargaAutom">Carga automática</label>
                        <span class="hig-opcion__ayuda">El precio se actualiza automáticamente desde la fuente de información.</span>
                    </div>
                </div>
                <div class="hig-opcion">
                    <input class="form-check-input" type="checkbox" id="ac-c-flgVar" [(ngModel)]="this.nuevoRegistro.flgVar">
                    <div>
                        <label class="hig-opcion__titulo" for="ac-c-flgVar">Cálculo de VaR</label>
                        <span class="hig-opcion__ayuda">Incluye este instrumento en el cálculo de Valor en Riesgo.</span>
                    </div>
                </div>
            </div>
        </fieldset>

</app-modal-formulario>

<ng-template #cargaModalPlaza let-modal>
    <app-carga-plaza (close)="cerrarModalSecundario($event)"></app-carga-plaza>
</ng-template>

<ng-template #cargaModalTipoAccion let-modal>
    <app-carga-tipo-accion (close)="cerrarModalSecundario($event)"></app-carga-tipo-accion>
</ng-template>

<ng-template #cargaModalEmisor let-modal>
    <app-carga-emisor (close)="cerrarModalSecundario($event)"></app-carga-emisor>
</ng-template>

<ng-template #cargaModalMoneda let-modal>
    <app-carga-moneda (close)="cerrarModalSecundario($event)"></app-carga-moneda>
</ng-template>

<ng-template #cargaModalFuenteInformacion let-modal>
    <app-carga-fuente-informacion (close)="cerrarModalSecundario($event)"></app-carga-fuente-informacion>
</ng-template>

<ng-template #cargaModalTipoSector let-modal>
    <app-carga-tipo-sector (close)="cerrarModalSecundario($event)"></app-carga-tipo-sector>
</ng-template>
