<app-modal-formulario titulo="Editar Tipo de Fondo" subtitulo="Modifique los datos del tipo de fondo." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="guardarCambios()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula">
            <div class="hig-campo">
                <label class="form-label" for="tf-e-codTipoFondo">Código<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="tf-e-codTipoFondo" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="3" [(ngModel)]="objRegistroEditado.codTipoFondo" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="tf-e-desTipoFondo">Descripción<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="tf-e-desTipoFondo" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="150" [(ngModel)]="objRegistroEditado.desTipoFondo" required>
            </div>
        </div>
    </fieldset>

</app-modal-formulario>
