<app-page-header hassub="" sub="Charts" title1="Apex Charts" title="Apex TreeMap Charts" activeTitle="Apex TreeMap Charts"></app-page-header>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
       <div class="card custom-card">
            <div class="top-left"></div>
            <div class="top-right"></div>
            <div class="bottom-left"></div>
            <div class="bottom-right"></div>
            <div class="card-header">
                <div class="card-title">Basic Treemap Chart</div>
            </div>
            <div class="card-body">
                <div id="treemap-basic">
                    <!--The content below is only a placeholder and can be replaced.-->
                    <div id="chart">
                        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [colors]="chartOptions.colors"
                            [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
                            [title]="chartOptions.title" [legend]="chartOptions.legend"></apx-chart>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
       <div class="card custom-card">
            <div class="top-left"></div>
            <div class="top-right"></div>
            <div class="bottom-left"></div>
            <div class="bottom-right"></div>
            <div class="card-header">
                <div class="card-title">Multi Dimensional Treemap Chart</div>
            </div>
            <div class="card-body">
                <div id="treemap-multi">
                    <!--The content below is only a placeholder and can be replaced.-->
                    <div id="chart">
                        <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                            [dataLabels]="chartOptions1.dataLabels" [plotOptions]="chartOptions1.plotOptions"
                            [title]="chartOptions1.title" [legend]="chartOptions1.legend"  [colors]="chartOptions1.colors"></apx-chart>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
       <div class="card custom-card">
            <div class="top-left"></div>
            <div class="top-right"></div>
            <div class="bottom-left"></div>
            <div class="bottom-right"></div>
            <div class="card-header">
                <div class="card-title">Distributed Treemap Chart</div>
            </div>
            <div class="card-body">
                <div id="treemap-distributed">
                    <!--The content below is only a placeholder and can be replaced.-->
                    <div id="chart">
                        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                            [dataLabels]="chartOptions2.dataLabels" [plotOptions]="chartOptions2.plotOptions"
                            [title]="chartOptions2.title" [colors]="chartOptions2.colors"></apx-chart>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
       <div class="card custom-card">
            <div class="top-left"></div>
            <div class="top-right"></div>
            <div class="bottom-left"></div>
            <div class="bottom-right"></div>
            <div class="card-header">
                <div class="card-title">Treemap with color ranges</div>
            </div>
            <div class="card-body">
                <div id="treemap-colorranges">
                    <!--The content below is only a placeholder and can be replaced.-->
                    <div id="chart">
                        <apx-chart [series]="chartOptions3.series" [chart]="chartOptions3.chart"
                            [dataLabels]="chartOptions3.dataLabels" [plotOptions]="chartOptions3.plotOptions"
                            [title]="chartOptions3.title"  [colors]="chartOptions3.colors" [legend]="chartOptions3.legend"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->