<app-modal-formulario titulo="Editar Volatilidad" subtitulo="Modifique los datos y guarde los cambios." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" (cerrar)="cerrar()" (guardar)="guardarCambios()">

        <fieldset class="hig-seccion">
            <legend>Observación</legend>
            <div class="hig-cuadricula ">
                <div class="hig-campo">
                    <label class="form-label" for="vo-e-fecProceso">Fecha Proceso<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <app-date-picker id="vo-e-fecProceso" [(ngModel)]="this.objRegistroEditado.fecProceso"></app-date-picker>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="vo-e-valor">Valor<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <input id="vo-e-valor" type="number" class="form-control" autocomplete="off" step="any" inputmode="decimal" [(ngModel)]="this.objRegistroEditado.valor" required>
                </div>
            </div>
        </fieldset>

        <fieldset class="hig-seccion">
            <legend>Ubicación en la superficie</legend>
            <div class="hig-cuadricula hig-columnas-3">
                <div class="hig-campo">
                    <label class="form-label" for="vo-e-idTermVolatility">Term. Volatilidad<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="vo-e-idTermVolatility" placeholder="Seleccione una opción…" [items]="listTermVolatilidad" bindLabel="descripcionTermVolatility" bindValue="idTermVolatility" [(ngModel)]="this.objRegistroEditado.idTermVolatility" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar term. volatilidad" aria-label="Agregar term. volatilidad" (click)="abrirModalSecundario(cargaModalTermVolatility)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="vo-e-idSwekPoint">Skew Point<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="vo-e-idSwekPoint" placeholder="Seleccione una opción…" [items]="listSkewPoint" bindLabel="point" bindValue="idSwekPoint" [(ngModel)]="this.objRegistroEditado.idSwekPoint" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar skew point" aria-label="Agregar skew point" (click)="abrirModalSecundario(cargaModalSwekPoint)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="vo-e-idTipoCambio">Tipo de Cambio<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="vo-e-idTipoCambio" placeholder="Seleccione una opción…" [items]="listTipoCambio" bindLabel="desTicker" bindValue="idTipoCambio" [(ngModel)]="this.objRegistroEditado.idTipoCambio" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar tipo de cambio" aria-label="Agregar tipo de cambio" (click)="abrirModalSecundario(cargaModalTipoCambio)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
            </div>
        </fieldset>

</app-modal-formulario>

<ng-template #cargaModalTermVolatility let-modal>
    <app-carga-term-volatilidad (close)="cerrarModalSecundario($event)"></app-carga-term-volatilidad>
</ng-template>

<ng-template #cargaModalSwekPoint let-modal>
    <app-carga-skew-point (close)="cerrarModalSecundario($event)"></app-carga-skew-point>
</ng-template>

<ng-template #cargaModalTipoCambio let-modal>
    <app-carga-tipo-cambio (close)="cerrarModalSecundario($event)"></app-carga-tipo-cambio>
</ng-template>
