<app-modal-formulario titulo="Editar Fondo de Inversión" subtitulo="Modifique los datos y guarde los cambios." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" (cerrar)="cerrar()" (guardar)="guardarCambios()">

        <fieldset class="hig-seccion">
            <legend>Identificación</legend>
            <div class="hig-cuadricula ">
                <div class="hig-campo">
                    <label class="form-label" for="fo-e-codTicker">Ticker (BLG o Interno)<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <input id="fo-e-codTicker" type="text" class="form-control" autocomplete="off" placeholder="Ej. CCRFS1" maxlength="20" [(ngModel)]="this.objRegistroEditado.codTicker" required>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="fo-e-desNemonico">Nemónico</label>
                    <input id="fo-e-desNemonico" type="text" class="form-control" autocomplete="off" placeholder="Ej. CC RENTA FIJA SOLES" maxlength="60" [(ngModel)]="this.objRegistroEditado.desNemonico">
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="fo-e-codISIN">Código ISIN</label>
                    <input id="fo-e-codISIN" type="text" class="form-control" autocomplete="off" maxlength="20" [(ngModel)]="this.objRegistroEditado.codISIN">
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="fo-e-montoTotal">Monto Total</label>
                    <input id="fo-e-montoTotal" type="number" class="form-control" autocomplete="off" step="any" inputmode="decimal" [(ngModel)]="this.objRegistroEditado.montoTotal">
                </div>
            </div>
        </fieldset>

        <fieldset class="hig-seccion">
            <legend>Clasificación</legend>
            <div class="hig-cuadricula hig-columnas-3">
                <div class="hig-campo">
                    <label class="form-label" for="fo-e-idPlaza">Plaza<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="fo-e-idPlaza" placeholder="Seleccione una opción…" [items]="listPlaza" bindLabel="desPlaza" bindValue="idPlaza" [(ngModel)]="this.objRegistroEditado.idPlaza" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar plaza" aria-label="Agregar plaza" (click)="abrirModalSecundario(cargaModalPlaza)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="fo-e-idEmisor">Emisor<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="fo-e-idEmisor" placeholder="Seleccione una opción…" [items]="listEmisor" bindLabel="nomEmisor" bindValue="idEmisor" [(ngModel)]="this.objRegistroEditado.idEmisor" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar emisor" aria-label="Agregar emisor" (click)="abrirModalSecundario(cargaModalEmisor)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="fo-e-idMoneda">Moneda<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="fo-e-idMoneda" placeholder="Seleccione una opción…" [items]="listMoneda" bindLabel="desMoneda" bindValue="idMoneda" [(ngModel)]="this.objRegistroEditado.idMoneda" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar moneda" aria-label="Agregar moneda" (click)="abrirModalSecundario(cargaModalMoneda)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="fo-e-idTipoFondo">Tipo Fondo<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="fo-e-idTipoFondo" placeholder="Seleccione una opción…" [items]="listTipoFondo" bindLabel="desTipoFondo" bindValue="idTipoFondo" [(ngModel)]="this.objRegistroEditado.idTipoFondo" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar tipo fondo" aria-label="Agregar tipo fondo" (click)="abrirModalSecundario(cargaModalTipoFondo)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="fo-e-idFuenteInformacion">Fuente Información</label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="fo-e-idFuenteInformacion" placeholder="Seleccione una opción…" [items]="listFuenteInformacion" bindLabel="desFuenteInformacion" bindValue="idFuenteInformacion" [(ngModel)]="this.objRegistroEditado.idFuenteInformacion"></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar fuente información" aria-label="Agregar fuente información" (click)="abrirModalSecundario(cargaModalFuenteInformacion)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="hig-seccion">
            <legend>Opciones</legend>
            <div class="hig-cuadricula hig-columnas-1">
                <div class="hig-opcion">
                    <input class="form-check-input" type="checkbox" id="fo-e-flgCargaAutom" [(ngModel)]="this.objRegistroEditado.flgCargaAutom">
                    <div>
                        <label class="hig-opcion__titulo" for="fo-e-flgCargaAutom">Carga automática</label>
                        <span class="hig-opcion__ayuda">El precio se actualiza automáticamente desde la fuente de información.</span>
                    </div>
                </div>
                <div class="hig-opcion">
                    <input class="form-check-input" type="checkbox" id="fo-e-flgVar" [(ngModel)]="this.objRegistroEditado.flgVar">
                    <div>
                        <label class="hig-opcion__titulo" for="fo-e-flgVar">Cálculo de VaR</label>
                        <span class="hig-opcion__ayuda">Incluye este instrumento en el cálculo de Valor en Riesgo.</span>
                    </div>
                </div>
            </div>
        </fieldset>

</app-modal-formulario>

<ng-template #cargaModalPlaza let-modal>
    <app-carga-plaza (close)="cerrarModalSecundario($event)"></app-carga-plaza>
</ng-template>

<ng-template #cargaModalEmisor let-modal>
    <app-carga-emisor (close)="cerrarModalSecundario($event)"></app-carga-emisor>
</ng-template>

<ng-template #cargaModalMoneda let-modal>
    <app-carga-moneda (close)="cerrarModalSecundario($event)"></app-carga-moneda>
</ng-template>

<ng-template #cargaModalTipoFondo let-modal>
    <app-carga-tipo-fondo (close)="cerrarModalSecundario($event)"></app-carga-tipo-fondo>
</ng-template>

<ng-template #cargaModalFuenteInformacion let-modal>
    <app-carga-fuente-informacion (close)="cerrarModalSecundario($event)"></app-carga-fuente-informacion>
</ng-template>
