<app-dashboard-header title="Crypto Dashboard"></app-dashboard-header>
<!-- Start::row-1 -->
 <div class="swiper news-swiper text-start">
    <owl-carousel-o [options]="customOptions">
        @for (owlData of owlCarouselData; track $index) {

            <ng-template carouselSlide >
        <ul class="news-crypto swiper-wrapper ps-0 list-unstyled">
            <li class="swiper-slide">
                <img [src]="owlData.src" class="avatar avatar-sm me-2" alt="">
                <span class="fw-bold"> {{owlData.value1}}</span>
                <span class="text-muted fs-10"> {{owlData.name}}</span>
                <span class="text-danger ms-4"><i class="ion-arrow-{{owlData.arrow}} me-1"></i> {{owlData.value2}}</span>
            </li>
        </ul>
    </ng-template>
        }
</owl-carousel-o>
</div>
<!-- End::row-1 -->

<!-- Start::row-2 -->
<div class="card crypto-header-section">
    <div class="card-body p-0">
        <div class="row g-0">
            <div class="col-xl-2 col-md-4 col-sm-6 border-md-end">
                <div class="p-md-4 py-2 px-4">
                    <p class="text-muted">Balance</p>
                    <h3 class="mb-0 fw-bold">$23,768</h3>
                </div>
            </div>
            <div class="col-xl-3 col-md-4  col-sm-6 border-md-end">
                <div class="p-md-4 py-2 px-4">
                    <p class="text-muted">Coins</p>
                    <div class="d-flex">
                        <img src="./assets/images/crypto-currencies/bitcoin.svg" class="avatar avatar-sm me-2" alt="">
                        <img src="./assets/images/crypto-currencies/qtum.svg" class="avatar avatar-sm me-2" alt="">
                        <img src="./assets/images/crypto-currencies/neo.svg" class="avatar avatar-sm me-2" alt="">
                        <img src="./assets/images/crypto-currencies/dash.svg" class="avatar avatar-sm me-2" alt="">
                        <img src="./assets/images/crypto-currencies/tron.svg" class="avatar avatar-sm me-2" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-sm-6 border-md-end">
                <div class="today-profit p-md-4 py-2 px-4">
                    <p class="text-muted">Today Profit</p>
                    <h3 class="mb-0 fw-bold text-nowrap">$23,768 <span class="fs-12 text-muted"><i class="fa fa-caret-up text-success"></i> 4.7%</span></h3>
                </div>
            </div>
            <div class="col-xl-5 col-sm-12 p-md-4 py-2 px-4 my-auto text-xl-end">
                <a class="btn btn-outline-light m-1" href="javascript:void(0);"><i class="fe fe-repeat"></i> Send Money</a>
                <a class="btn btn-primary m-1" href="javascript:void(0);"><i class="fe fe-plus"></i> Buy Currency</a>
            </div>
        </div>
    </div>
</div>
<!-- End::row-2 -->

<!-- Start::row-3 -->
<div class="row">
    <div class="col-xxl-3 col-sm-6 col-lg-6">
        <div class="card overflow-hidden">
            <div class="card-body pb-0">
                <div class="d-flex">
                    <img src="./assets/images/crypto-currencies/round-outline/Bitcoin.svg " class="avatar avatar-lg me-2" alt="img">
                    <div>
                        <p class=" mb-1 text-muted fs-12">BTC / USDT</p>
                        <h3 class="mb-0 fw-bold">$513</h3>
                    </div>
                    <div class="ms-auto text-end">
                        <p class=" mb-1">$0.04</p>
                        <p class=" mb-0"><span class="text-muted">Vol:</span>(+2.33%)</p>
                    </div>
                </div>
            </div>
           
            <div class="chart-wrapper ">
                <apx-chart class="h-5 overflow-hidden" [series]="chartOptions1.series" [title]="chartOptions1.title" [chart]="chartOptions1.chart" [labels]="chartOptions1.labels"
                [xaxis]="chartOptions1.xaxis" [dataLabels]="chartOptions1.dataLabels"
                [colors]="chartOptions1.colors" [fill]="chartOptions1.fill"
                [markers]="chartOptions1.markers"  [grid]="chartOptions1.grid" [stroke]="chartOptions1.stroke"></apx-chart>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-sm-6 col-lg-6">
        <div class="card overflow-hidden">
            <div class="card-body pb-0">
                <div class="d-flex">
                    <img src="./assets/images/crypto-currencies/round-outline/Ethereum.svg" class="avatar avatar-lg me-2" alt="img">
                    <div>
                        <p class=" mb-1 text-muted fs-12">XEM / USDT</p>
                        <h3 class="mb-0 fw-bold">$966</h3>
                    </div>
                    <div class="ms-auto text-end">
                        <p class=" mb-1">$0.12</p>
                        <p class=" mb-0"><span class="text-muted">Vol:</span>(-1.33%)</p>
                    </div>
                </div>
            </div>
            <div class="chart-wrapper ">
                <div class="chart-container">
                        <apx-chart class="h-5 overflow-hidden" [series]="chartOptions2.series" [title]="chartOptions2.title" [chart]="chartOptions2.chart" [labels]="chartOptions2.labels"
                        [xaxis]="chartOptions2.xaxis" [dataLabels]="chartOptions2.dataLabels"
                        [colors]="chartOptions2.colors" [fill]="chartOptions2.fill"
                        [markers]="chartOptions2.markers"  [grid]="chartOptions2.grid" [stroke]="chartOptions2.stroke"></apx-chart>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-sm-6 col-lg-6">
        <div class="card overflow-hidden">
            <div class="card-body pb-0">
                <div class="d-flex">
                    <img src="./assets/images/crypto-currencies/round-outline/Ripple.svg " class="avatar avatar-lg me-2" alt="img">
                    <div>
                        <p class=" mb-1 text-muted fs-12">XRP / USDT</p>
                        <h3 class="mb-0 fw-bold">$7,349</h3>
                    </div>
                    <div class="ms-auto text-end">
                        <p class=" mb-1">$0.14</p>
                        <p class=" mb-0"><span class="text-muted">Vol:</span> (+2.39%)</p>
                    </div>
                </div>
            </div>
            <div class="chart-wrapper ">
                    <apx-chart class="h-5 overflow-hidden" [series]="chartOptions3.series" [title]="chartOptions3.title" [chart]="chartOptions3.chart" [labels]="chartOptions3.labels"
                    [xaxis]="chartOptions3.xaxis" [dataLabels]="chartOptions3.dataLabels"
                    [colors]="chartOptions3.colors" [fill]="chartOptions3.fill"
                    [markers]="chartOptions3.markers"  [grid]="chartOptions3.grid" [stroke]="chartOptions3.stroke"></apx-chart>
               
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-sm-6 col-lg-6">
        <div class="card overflow-hidden">
            <div class="card-body pb-0">
                <div class="d-flex">
                    <img src="./assets/images/crypto-currencies/round-outline/Litecoin.svg " class="avatar avatar-lg me-2" alt="img">
                    <div>
                        <p class=" mb-1 text-muted fs-12">Litecoin / USDT</p>
                        <h3 class="mb-0 fw-bold">$5,563</h3>
                    </div>
                    <div class="ms-auto text-end">
                        <p class=" mb-0">$0.06</p>
                        <p class=" mb-0"><span class="text-muted">Vol:</span> (-1.25%)</p>
                    </div>
                </div>
            </div>
            <div class="chart-wrapper ">
                    <apx-chart class="h-5 overflow-hidden" [series]="chartOptions4.series" [title]="chartOptions4.title" [chart]="chartOptions4.chart" [labels]="chartOptions4.labels"
                    [xaxis]="chartOptions4.xaxis" [dataLabels]="chartOptions4.dataLabels"
                    [colors]="chartOptions4.colors" [fill]="chartOptions4.fill"
                    [markers]="chartOptions4.markers"  [grid]="chartOptions4.grid" [stroke]="chartOptions4.stroke"></apx-chart>
            </div>
        </div>
    </div>
</div>
<!-- End::row-3 -->

<!-- Start::row-4 -->
<div class="row">
    <div class="col-xl-4 col-lg-12 col-md-12">
        <div class="card overflow-hidden">
            <div class="card-header">
                <h3 class="card-title">Trade History</h3>
            </div>
            <div class="card-body px-0">
                <div class="table-responsive trade-table">
                    <table class="table text-nowrap mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-bottom-0 w-30">Coin</th>
                                <th scope="col" class="border-bottom-0 w-30">Price</th>
                                <th scope="col" class="border-bottom-0 w-30">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="./assets/images/crypto-currencies/round-outline/Bitcoin.svg" class="avatar me-2" alt="">Bitcoin</td>
                                <td>$0.11923<i class="fa fa-arrow-up text-green ms-1"></i></td>
                                <td>0.0215</td>
                            </tr>
                            <tr>
                                <td><img src="./assets/images/crypto-currencies/round-outline/Dash.svg" class="avatar me-2" alt="">Dash</td>
                                <td>$0.07324<i class="fa fa-arrow-down text-danger ms-1"></i></td>
                                <td>0.0112</td>
                            </tr>
                            <tr>
                                <td><img src="./assets/images/crypto-currencies/round-outline/EOS.svg" class="avatar me-2" alt="">EOS</td>
                                <td>$0.12645<i class="fa fa-arrow-up text-green ms-1"></i></td>
                                <td>0.0214</td>
                            </tr>
                            <tr>
                                <td><img src="./assets/images/crypto-currencies/round-outline/Ethereum.svg" class="avatar me-2" alt="">Ethereum</td>
                                <td>$0.01153<i class="fa fa-arrow-down text-danger ms-1"></i></td>
                                <td>0.0012</td>
                            </tr>
                            <tr>
                                <td><img src="./assets/images/crypto-currencies/round-outline/Ripple.svg" class="avatar me-2" alt="">Ripple</td>
                                <td>$0.08923<i class="fa fa-arrow-down text-danger ms-1"></i></td>
                                <td>0.0015</td>
                            </tr>
                            <tr>
                                <td><img src="./assets/images/crypto-currencies/round-outline/Litecoin.svg" class="avatar me-2" alt="">Litecoin</td>
                                <td>$0.14915<i class="fa fa-arrow-up text-green ms-1"></i></td>
                                <td>0.0312</td>
                            </tr>
                            <tr>
                                <td><img src="./assets/images/crypto-currencies/round-outline/IOTA.svg" class="avatar me-2" alt="">IOTA</td>
                                <td>$0.08923<i class="fa fa-arrow-down text-danger ms-1"></i></td>
                                <td>0.0015</td>
                            </tr>
                            <tr>
                                <td><img src="./assets/images/crypto-currencies/round-outline/Bitcoin.svg" class="avatar me-2" alt="">Bitcoin</td>
                                <td>$0.11923<i class="fa fa-arrow-up text-green ms-1"></i></td>
                                <td>0.0215</td>
                            </tr>
                            <tr>
                                <td><img src="./assets/images/crypto-currencies/round-outline/Dash.svg" class="avatar me-2" alt="">Dash</td>
                                <td>$0.07324<i class="fa fa-arrow-down text-danger ms-1"></i></td>
                                <td>0.0112</td>
                            </tr>
                            <tr>
                                <td><img src="./assets/images/crypto-currencies/round-outline/EOS.svg" class="avatar me-2" alt="">EOS</td>
                                <td>$0.12645<i class="fa fa-arrow-up text-green ms-1"></i></td>
                                <td>0.0214</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Crypto Trading</h3>
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-xl-3 col-lg-6 col-md-12 mb-5 text-center">
                        <p class="mb-1"> Last price</p>
                        <h3 class="mb-0 fw-bold">$54875</h3>
                        <span class="fs-12 text-muted"><span class="text-danger me-1 d-inline-flex"><i class="fe fe-arrow-down ms-1"></i>0.9%</span>last year</span>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 mb-5 text-center">
                        <p class="mb-1"> Daily change</p>
                        <h3 class="mb-0 fw-bold">$136.5</h3>
                        <span class="fs-12 text-muted"><span class="text-success me-1 d-inline-flex"><i class="fe fe-arrow-up ms-1"></i>0.15%</span>last year</span>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 mb-5 text-center">
                        <p class="mb-1"> Market cap</p>
                        <h3 class="mb-0 fw-bold">$14,42,785</h3>
                        <span class="fs-12 text-muted"><span class="text-danger me-1 d-inline-flex"><i class="fe fe-arrow-down ms-1"></i>1.04%</span>last year</span>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 mb-5 text-center">
                        <p class="mb-1">24th volume</p>
                        <h3 class="mb-0 fw-bold">65874.25</h3>
                        <span class="fs-12 text-muted"><span class="text-success me-1 d-inline-flex"><i class="fe fe-arrow-up ms-1"></i>2.08%</span>last year</span>
                    </div>
                </div>
                <div id="cryptotrading" class="h-300">
                    <apx-chart
                    [series]="chartOptions5.series"
                    [chart]="chartOptions5.chart"
                    [xaxis]="chartOptions5.xaxis"
                    [dataLabels]="chartOptions5.dataLabels"
                    [legend]="chartOptions5.legend"
                    [yaxis]="chartOptions5.yaxis"
                    [grid]="chartOptions5.grid"
                    [stroke]="chartOptions5.stroke"
                    [colors]="chartOptions5.colors"
                    [title]="chartOptions5.title"
                  ></apx-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::row-4 -->
<!-- Start::row-5 -->
<div class="row">
    <div class="col-xl-6 col-lg-6">
        <div class="card overflow-hidden">
            <div class="card-header">
                <div class="card-title">Transactions</div>
            </div>
            <overlay-scrollbars class="card-body p-0 transaction-scroll" id="transaction-scroll">
                <div class="py-3 px-4 d-sm-flex align-items-center border-bottom">
                    <div class="d-flex">
                        <div class="crypto-icon bg-primary-transparent text-primary-primary"><i class="fe fe-repeat"></i></div>
                        <div class="mt-2">
                            <h5 class="mb-1 text-dark fw-semibold">Exchange USD to BTC</h5>
                            <p class="mb-0 fs-12 text-muted">ID : 4567893</p>
                        </div>
                    </div>
                    <div class="mt-2 text-sm-end ms-auto">
                        <h5 class="mb-1 text-dark fw-semibold">0.546854 BTC</h5>
                        <p class="mb-0 fs-12 text-muted">23<sup>rd</sup>Jan 2020</p>
                    </div>
                </div>
                <div class="py-3 px-4 d-sm-flex align-items-center border-bottom">
                    <div class="d-flex">
                        <div class="crypto-icon bg-primary-transparent text-primary-primary"><i class="fe fe-repeat"></i></div>
                        <div class="mt-2">
                            <h5 class="mb-1 text-dark fw-semibold">Exchange USD to Ripple</h5>
                            <p class="mb-0 fs-12 text-muted">ID : 6547345</p>
                        </div>
                    </div>
                    <div class="mt-2 text-sm-end ms-auto">
                        <h5 class="mb-1 text-dark fw-semibold">0.76543 Ri</h5>
                        <p class="mb-0 fs-12 text-muted">12<sup>th</sup>Jan 2020</p>
                    </div>
                </div>
                <div class="py-3 px-4 d-sm-flex align-items-center border-bottom">
                    <div class="d-flex">
                        <div class="crypto-icon bg-success-transparent text-success-success"><i class="fe fe-corner-right-up"></i></div>
                        <div class="mt-2">
                            <h5 class="mb-1 text-dark fw-semibold">Buy Crypto</h5>
                            <p class="mb-0 fs-12 text-muted">ID : 8765478</p>
                        </div>
                    </div>
                    <div class="mt-2 text-sm-end ms-auto">
                        <h5 class="mb-1 text-dark fw-semibold">0.546854 BTC</h5>
                        <p class="mb-0 fs-12 text-muted">13<sup>th</sup>Feb 2020</p>
                    </div>
                </div>
                <div class="py-3 px-4 d-sm-flex align-items-center border-bottom">
                    <div class="d-flex">
                        <div class="crypto-icon bg-secondary-transparent text-secondary-secondary"><i class="fe fe-share"></i></div>
                        <div class="mt-2">
                            <h5 class="mb-1 text-dark fw-semibold">Exchange BTC to USD</h5>
                            <p class="mb-0 fs-12 text-muted">ID : 8765434</p>
                        </div>
                    </div>
                    <div class="mt-2 text-sm-end ms-auto">
                        <h5 class="mb-1 text-dark fw-semibold">0.564567 USD</h5>
                        <p class="mb-0 fs-12 text-muted">15<sup>th</sup>Jan 2020</p>
                    </div>
                </div>
                <div class="py-3 px-4 d-sm-flex align-items-center border-bottom">
                    <div class="d-flex">
                        <div class="crypto-icon bg-success-transparent text-success-success"><i class="fe fe-corner-right-up"></i></div>
                        <div class="mt-2">
                            <h5 class="mb-1 text-dark fw-semibold">Buy Ripple</h5>
                            <p class="mb-0 fs-12 text-muted">ID : 2346784</p>
                        </div>
                    </div>
                    <div class="mt-2 text-sm-end ms-auto">
                        <h5 class="mb-1 text-dark fw-semibold">0.76543 Ri</h5>
                        <p class="mb-0 fs-12 text-muted">23<sup>rd</sup>Feb 2020</p>
                    </div>
                </div>
                <div class="py-3 px-4 d-sm-flex align-items-center border-bottom">
                    <div class="d-flex">
                        <div class="crypto-icon bg-primary-transparent text-primary-primary"><i class="fe fe-repeat"></i></div>
                        <div class="mt-2">
                            <h5 class="mb-1 text-dark fw-semibold">Exchange USD to BTC</h5>
                            <p class="mb-0 fs-12 text-muted">ID : 4567893</p>
                        </div>
                    </div>
                    <div class="mt-2 text-sm-end ms-auto">
                        <h5 class="mb-1 text-dark fw-semibold">0.546854 BTC</h5>
                        <p class="mb-0 fs-12 text-muted">23<sup>rd</sup>Jan 2020</p>
                    </div>
                </div>
                <div class="py-3 px-4 d-sm-flex align-items-center">
                    <div class="d-flex">
                        <div class="crypto-icon bg-primary-transparent text-primary-primary"><i class="fe fe-repeat"></i></div>
                        <div class="mt-2">
                            <h5 class="mb-1 text-dark fw-semibold">Exchange USD to Ripple</h5>
                            <p class="mb-0 fs-12 text-muted">ID : 6547345</p>
                        </div>
                    </div>
                    <div class="mt-2 text-sm-end ms-auto">
                        <h5 class="mb-1 text-dark fw-semibold">0.76543 Ri</h5>
                        <p class="mb-0 fs-12 text-muted">12<sup>th</sup>Jan 2020</p>
                    </div>
                </div>
            </overlay-scrollbars>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6">
        <div class="crypto-tabs">
            <div class="tabs-menu1">
                <!-- Tabs -->
                <ul ngbNav #nav="ngbNav" class="nav nav-tabs border-0" role="tablist">
                    <li [ngbNavItem]="1" class="nav-item">
                        <a ngbNavLink class="nav-link " data-bs-toggle="tab">Buy BTC</a>
                        <ng-template ngbNavContent>
                            <div class="tab-pane border-0" id="tab5">
                                <div class="card-body text-center">
                                    <div class="card-title text-start text-dark">Buy Crypto Coins</div>
                                    <div class="mb-3">
                                        <label class="form-label float-start">Enter Your Money</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="10,000">
                                            <ng-select placeholder="USD" data-trigger>
                                                <ng-option value="USD">USD</ng-option>
                                                <ng-option value="EUR">EUR</ng-option>
                                                <ng-option value="INR">INR</ng-option>
                                                <ng-option value="GBP">GBP</ng-option>
                                                <ng-option value="JPY">JPY</ng-option>
                                                <ng-option value="RUB">RUB</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label float-start">Your Crypto Coins Converted to</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="0.254">
                                            <ng-select placeholder="BTC" data-trigger>
                                                <ng-option value="BTC">BTC</ng-option>
                                                <ng-option value="ETH">ETH</ng-option>
                                                <ng-option value="DAH">DAH</ng-option>
                                                <ng-option value="RIP">RIP</ng-option>
                                                <ng-option value="ITA">ITA</ng-option>
                                                <ng-option value="EOS">EOS</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <a class="btn btn-block btn-secondary w-100" href="javascript:void(0);">Buy Coins</a>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2" class="nav-item">
                        <a ngbNavLink  data-bs-toggle="tab" class="nav-link">Sell BTC</a>
                        <ng-template ngbNavContent>
                            <div class="tab-pane  border-0" id="tab6">
                                <div class="card-body text-center">
                                    <div class="card-title text-start text-dark">Sell Crypto Coins</div>
                                    <div class="mb-3">
                                        <label class="form-label float-start">Enter Crypto Coin</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="0.254">
                                            <ng-select placeholder="BTC" data-trigger>
                                                <ng-option value="BTC">BTC</ng-option>
                                                <ng-option value="ETH">ETH</ng-option>
                                                <ng-option value="DAH">DAH</ng-option>
                                                <ng-option value="RIP">RIP</ng-option>
                                                <ng-option value="ITA">ITA</ng-option>
                                                <ng-option value="EOS">EOS</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label float-start">Your Money Converted to</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="10,000">
                                            <ng-select placeholder="USD" data-trigger>
                                                <ng-option value="USD">USD</ng-option>
                                                <ng-option value="EUR">EUR</ng-option>
                                                <ng-option value="INR">INR</ng-option>
                                                <ng-option value="GBP">GBP</ng-option>
                                                <ng-option value="JPY">JPY</ng-option>
                                                <ng-option value="RUB">RUB</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <a class="btn btn-block btn-primary w-100" href="javascript:void(0);">Sell Coins</a>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card panel-body crypto-content" >
            <div class="tab-content" [ngbNavOutlet]="nav">
            </div>
        </div>
    </div>
</div>
<!-- End::row-5 -->

<!-- Start::row-6 -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Crypto Marketing Values</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table border table-hover mb-0 text-nowrap">
                        <thead>
                            <tr>
                                <th scope="col">Currency</th>
                                <th scope="col">Price</th>
                                <th scope="col">Market Cap</th>
                                <th scope="col">Volume 1D</th>
                                <th scope="col">Change % (1D)</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img src="./assets/images/crypto-currencies/round-outline/Bitcoin.svg" class="avatar me-3" alt="">
                                        <div class="mt-2">
                                            <h5 class="fw-bold mb-0">Bitcoin</h5>
                                            <p class="mb-0">BTC</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 10513.00</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 51,191,183,730</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 10,133,400,000</h5>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm mb-1 mt-2 bg-primary-transparent w-100 me-1">
                                            <div class="progress-bar bg-primary" style="width: 90%"></div>
                                        </div>
                                        <span>66%</span>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light btn-sm me-1" href="javascript:void(0);">Withdraw</a>
                                    <a class="btn btn-outline-light btn-sm" href="javascript:void(0);">Deposit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img src="./assets/images/crypto-currencies/round-outline/Ethereum.svg" class="avatar me-3" alt="">
                                        <div class="mt-2">
                                            <h5 class="fw-bold mb-0">Ethereum</h5>
                                            <p class="mb-0">ETC</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 425.25</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 4,48,308,110</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 193,430,000</h5>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm mb-1 mt-2 bg-success-transparent w-100 me-1">
                                            <div class="progress-bar bg-success" style="width: 64%"></div>
                                        </div>
                                        <span>64%</span>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light btn-sm  me-1" href="javascript:void(0);">Withdraw</a>
                                    <a class="btn btn-outline-light btn-sm" href="javascript:void(0);">Deposit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img src="./assets/images/crypto-currencies/round-outline/Ripple.svg" class="avatar me-3" alt="">
                                        <div class="mt-2">
                                            <h5 class="fw-bold mb-0">Ripple</h5>
                                            <p class="mb-0">Ri</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 1.2029</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 7,63,80,043</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 42,677,430,000</h5>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm mb-1 mt-2 bg-warning-transparent w-100 me-1">
                                            <div class="progress-bar bg-warning" style="width: 79%"></div>
                                        </div>
                                        <span>79%</span>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light btn-sm  me-1" href="javascript:void(0);">Withdraw</a>
                                    <a class="btn btn-outline-light btn-sm" href="javascript:void(0);">Deposit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img src="./assets/images/crypto-currencies/round-outline/BitShares.svg" class="avatar me-3" alt="">
                                        <div class="mt-2">
                                            <h5 class="fw-bold mb-0">BitShares</h5>
                                            <p class="mb-0">Bsc</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 1547.67</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 6,14,18,730</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 40,13,40,000</h5>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm mb-1 mt-2 bg-secondary-transparent w-100 me-1">
                                            <div class="progress-bar bg-secondary" style="width: 32%"></div>
                                        </div>
                                        <span>32%</span>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light btn-sm me-1" href="javascript:void(0);">Withdraw</a>
                                    <a class="btn btn-outline-light btn-sm" href="javascript:void(0);">Deposit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img src="./assets/images/crypto-currencies/round-outline/NEM.svg" class="avatar me-3" alt="">
                                        <div class="mt-2">
                                            <h5 class="fw-bold mb-0">Nem</h5>
                                            <p class="mb-0">Nem</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 723.48</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 19,07,67,295</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 17,99,90,000</h5>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm mb-1 mt-2 bg-success-transparent w-100 me-1">
                                            <div class="progress-bar bg-success" style="width: 26%"></div>
                                        </div>
                                        <span>26%</span>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light btn-sm me-1" href="javascript:void(0);">Withdraw</a>
                                    <a class="btn btn-outline-light btn-sm" href="javascript:void(0);">Deposit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img src="./assets/images/crypto-currencies/round-outline/Litecoin.svg" class="avatar me-3" alt="">
                                        <div class="mt-2">
                                            <h5 class="fw-bold mb-0">Litecoin</h5>
                                            <p class="mb-0">LTC</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 149.18</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 8,44,49,000</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 7,10,10,000</h5>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm mb-1 mt-2 bg-info-transparent w-100 me-1">
                                            <div class="progress-bar bg-info" style="width: 98%"></div>
                                        </div>
                                        <span>98%</span>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light btn-sm me-1" href="javascript:void(0);">Withdraw</a>
                                    <a class="btn btn-outline-light btn-sm" href="javascript:void(0);">Deposit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img src="./assets/images/crypto-currencies/round-outline/Zcash.svg" class="avatar me-3" alt="">
                                        <div class="mt-2">
                                            <h5 class="fw-bold mb-0">Zcash</h5>
                                            <p class="mb-0">Zcs</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 149.18</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 8,44,49,000</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 7,10,10,000</h5>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm mb-1 mt-2 bg-danger-transparent w-100 me-1">
                                            <div class="progress-bar bg-danger" style="width: 36%"></div>
                                        </div>
                                        <span>36%</span>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light btn-sm me-1" href="javascript:void(0);">Withdraw</a>
                                    <a class="btn btn-outline-light btn-sm" href="javascript:void(0);">Deposit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img src="./assets/images/crypto-currencies/round-outline/IOTA.svg" class="avatar me-3" alt="">
                                        <div class="mt-2">
                                            <h5 class="fw-bold mb-0">Iota</h5>
                                            <p class="mb-0">Ita</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 149.18</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 8,44,49,000</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 7,10,10,000</h5>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm mb-1 mt-2 bg-success-transparent w-100 me-1">
                                            <div class="progress-bar bg-success" style="width: 46%"></div>
                                        </div>
                                        <span>46%</span>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light btn-sm me-1" href="javascript:void(0);">Withdraw</a>
                                    <a class="btn btn-outline-light btn-sm" href="javascript:void(0);">Deposit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img src="./assets/images/crypto-currencies/round-outline/Dash.svg" class="avatar me-3" alt="">
                                        <div class="mt-2">
                                            <h5 class="fw-bold mb-0">Dash</h5>
                                            <p class="mb-0">Dsh</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 149.18</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 8,44,49,000</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 7,10,10,000</h5>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm mb-1 mt-2 bg-primary-transparent w-100 me-1">
                                            <div class="progress-bar bg-primary" style="width: 50%"></div>
                                        </div>
                                        <span>50%</span>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light btn-sm me-1" href="javascript:void(0);">Withdraw</a>
                                    <a class="btn btn-outline-light btn-sm" href="javascript:void(0);">Deposit</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <img src="./assets/images/crypto-currencies/round-outline/TajCoin.svg" class="avatar me-3" alt="">
                                        <div class="mt-2">
                                            <h5 class="fw-bold mb-0">TajCoin</h5>
                                            <p class="mb-0">Tcn</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 149.18</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 8,44,49,000</h5>
                                </td>
                                <td>
                                    <h5 class="fw-bold mb-0">$ 7,10,10,000</h5>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="progress progress-sm mb-1 mt-2 bg-primary-transparent w-100 me-1">
                                            <div class="progress-bar bg-primary" style="width: 66%"></div>
                                        </div>
                                        <span>66%</span>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <a class="btn btn-outline-light btn-sm me-1" href="javascript:void(0);">Withdraw</a>
                                    <a class="btn btn-outline-light btn-sm" href="javascript:void(0);">Deposit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::row-6 -->
