 
 <app-page-header hassub="" sub="Pages" title1="Invoice Details" title="Invoice 2" activeTitle="Invoice 2" ></app-page-header>
 <!-- Start:: row-1 -->
 <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="invoice-header text-end d-block mb-4">
                    <h1 class="invoice-title fw-bold text-uppercase mb-1">Invoice</h1>

                </div>
                <!-- invoice-header -->
                <div class="row mt-4">
                    <div class="col-md">
                        <label class="fw-bold">Billed To</label>
                        <div class="billed-to">
                            <h6>Goerge</h6>
                            <p>2406 Raoul Wallenberg Place<br> Tel No: 203-875-4147<br> Email: goerge234&#64;gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="billed-from text-md-end">
                            <label class="fw-bold">Billed From</label>
                            <h6>Spruko Technologies Pvt Ltd.</h6>
                            <p>201 Something St., Something Town, YT 242, Country 6546<br> Tel No: 324 445-4544<br> Email: info&#64;spruko.com</p>
                        </div>
                        <!-- billed-from -->
                    </div>
                </div>
                <div class="table-responsive mt-4">
                    <table class="table table-bordered border text-nowrap mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="">Product</th>
                                <th scope="col" class="text-center">QNTY</th>
                                <th scope="col" class="text-end">Unit Price</th>
                                <th scope="col" class="text-end">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="fw-bold">Website design &amp; development</td>
                                <td class="text-center">6</td>
                                <td class="text-end">$250.00</td>
                                <td class="text-end">$1500.00</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Branding</td>
                                <td class="text-center">1</td>
                                <td class="text-end">$900.00</td>
                                <td class="text-end">$900.00</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Redesign Service</td>
                                <td class="text-center">1</td>
                                <td class="text-end">$500.00</td>
                                <td class="text-end">$500.00</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Wordpress Plugins</td>
                                <td class="text-center">5</td>
                                <td class="text-end">$360.00</td>
                                <td class="text-end">$1800.00</td>
                            </tr>
                            <tr>
                                <td class="valign-middle" colspan="2" rowspan="4">
                                    <div class="invoice-notes">
                                        <label class="main-content-label tx-13 fw-semibold">Notes</label>
                                        <p> voluptatum deleniti atque corrupti explicabo.</p>
                                    </div>
                                    <!-- invoice-notes -->
                                </td>
                                <td class="text-end fw-semibold">Sub-Total</td>
                                <td class="text-end fw-semibold">$4700.00</td>
                            </tr>
                            <tr>
                                <td class="text-end fw-semibold">Tax (5%)</td>
                                <td class="text-end fw-semibold" colspan="2">$235.50</td>
                            </tr>
                            <tr>
                                <td class="text-end fw-semibold">Discount</td>
                                <td class="text-end fw-semibold" colspan="2">-$50.00</td>
                            </tr>
                            <tr>
                                <td class="text-uppercase fw-semibold">Total Due</td>
                                <td class="text-end" colspan="2">
                                    <h4 class="text-primary fw-bold">$4,885.50</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="float-end">
                    <button type="button" class="btn btn-primary mt-4 me-1"  onclick="javascript:window.print();"><i class="si si-wallet"></i> Pay Invoice</button>
                    <button type="button" class="btn btn-secondary mt-4 me-1" onclick="javascript:window.print();"><i class="si si-paper-plane"></i> Send Invoice</button>
                    <button type="button" class="btn btn-info mt-4 me-1" onclick="javascript:window.print();"><i class="si si-printer"></i> Print Invoice</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-1 -->