<app-modal-formulario titulo="Editar Frecuencia de Pago" subtitulo="Modifique los datos de la frecuencia de pago." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="guardarCambios()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula">
            <div class="hig-campo">
                <label class="form-label" for="fp-e-nombreFrecuencia">Nombre<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="fp-e-nombreFrecuencia" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="50" [(ngModel)]="objRegistroEditado.nombreFrecuencia" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="fp-e-descripcionFrecuencia">Descripción</label>
                <input id="fp-e-descripcionFrecuencia" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="500" [(ngModel)]="objRegistroEditado.descripcionFrecuencia">
            </div>
        </div>
    </fieldset>

</app-modal-formulario>
