 
 <app-page-header hassub="" sub="Pages" title1="Blog" title="Blog 3" activeTitle="Blog 3" ></app-page-header>
 <!-- Start::row-1 -->
 <div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card overflow-hidden">
            <div class="card-body d-flex flex-column">
                <h4><a href="javascript:void(0)"> annoying consequences</a></h4>
                <div class="text-muted">Who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces.</div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center mt-auto">
                    <img src="./assets/images/faces/16.jpg" alt="blog-img"  class="avatar avatar-rounded avatar-md me-3">
                    <div>
                        <a [routerLink]="['/pages/profile/profile-1']" class="fw-semibold">Anna Ogden</a>
                        <small class="d-block text-muted">2 days ago</small>
                    </div>
                    <div class="ms-auto text-muted">
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M16.5 5c-1.54 0-3.04.99-3.56 2.36h-1.87C10.54 5.99 9.04 5 7.5 5 5.5 5 4 6.5 4 8.5c0 2.89 3.14 5.74 7.9 10.05l.1.1.1-.1C16.86 14.24 20 11.39 20 8.5c0-2-1.5-3.5-3.5-3.5z" opacity=".3"></path><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path></svg></a>
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M21 12v-2h-9l1.34-5.34L9 9v10h9z" opacity=".3"></path><path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"></path></svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h4><a href="javascript:void(0)">voluptatem quia voluptas.</a></h4>
                <div class="text-muted">Who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces.</div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center mt-auto">
                    <img src="./assets/images/faces/16.jpg" alt="blog-img"  class="avatar avatar-rounded avatar-md me-3">
                    <div>
                        <a [routerLink]="['/pages/profile/profile-1']" class="fw-semibold">Anna Ogden</a>
                        <small class="d-block text-muted">2 days ago</small>
                    </div>
                    <div class="ms-auto text-muted">
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M16.5 5c-1.54 0-3.04.99-3.56 2.36h-1.87C10.54 5.99 9.04 5 7.5 5 5.5 5 4 6.5 4 8.5c0 2.89 3.14 5.74 7.9 10.05l.1.1.1-.1C16.86 14.24 20 11.39 20 8.5c0-2-1.5-3.5-3.5-3.5z" opacity=".3"></path><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path></svg></a>
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M21 12v-2h-9l1.34-5.34L9 9v10h9z" opacity=".3"></path><path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"></path></svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h4><a href="javascript:void(0)">voluptatem quia voluptas</a></h4>
                <div class="text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque...</div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center mt-auto">
                    <div class="avatar  avatar-rounded avatar-md me-3">
                        <img src="./assets/images/faces/14.jpg" class="" alt="...">
                    </div>
                    <div>
                        <a [routerLink]="['/pages/profile/profile-1']" class="fw-semibold">Carol Paige</a>
                        <small class="d-block text-muted">2 days ago</small>
                    </div>
                    <div class="ms-auto text-muted">
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M16.5 5c-1.54 0-3.04.99-3.56 2.36h-1.87C10.54 5.99 9.04 5 7.5 5 5.5 5 4 6.5 4 8.5c0 2.89 3.14 5.74 7.9 10.05l.1.1.1-.1C16.86 14.24 20 11.39 20 8.5c0-2-1.5-3.5-3.5-3.5z" opacity=".3"></path><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path></svg></a>
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M21 12v-2h-9l1.34-5.34L9 9v10h9z" opacity=".3"></path><path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"></path></svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card overflow-hidden">
            <a [routerLink]="['/pages/blog/blog-details']"><img class="card-img-top  " src="./assets/images/photos/8.jpg" alt="img"></a>
            <div class="card-body d-flex flex-column">
                <h4><a href="javascript:void(0)">voluptatem quia voluptas.</a></h4>
                <div class="text-muted">To take a trivial example, which of us ever undertakes laborious physical exerciser , except to obtain some advantage from it...</div>
                <a href="javascript:void(0)" class="mt-3 btn btn-lg btn-primary">Read more</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card overflow-hidden">
            <a [routerLink]="['/pages/blog/blog-details']"><img class="card-img-top " src="./assets/images/photos/9.jpg" alt="img"></a>
            <div class="card-body d-flex flex-column">
                <h4><a href="javascript:void(0)">voluptatem quia voluptas.</a></h4>
                <div class="text-muted">To take a trivial example, which of us ever undertakes laborious physical exerciser , except to obtain some advantage from it...</div>
                <a href="javascript:void(0)" class="mt-3 btn btn-lg btn-primary">Read more</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card overflow-hidden">
            <a [routerLink]="['/pages/blog/blog-details']"><img class="card-img-top " src="./assets/images/photos/10.jpg" alt="img"></a>
            <div class="card-body d-flex flex-column">
                <h4><a href="javascript:void(0)">voluptatem quia voluptas.</a></h4>
                <div class="text-muted">To take a trivial example, which of us ever undertakes laborious physical exerciser , except to obtain some advantage from it...</div>
                <a href="javascript:void(0)" class="mt-3 btn btn-lg btn-primary">Read more</a>
            </div>
        </div>
    </div>
</div>
<!-- End::row-1 -->

<!-- Start::row-2 -->
<div class="row">
    <div class="col-xl-6">
        <div class="card card-aside">
            <a [routerLink]="['/pages/blog/blog-details']" class="card-aside-column">
                <img src="./assets/images/photos/7.jpg" class="img-fluid rounded-start h-100 w-100" alt="...">
            </a>
            <div class="card-body d-flex flex-column">
                <div class="d-flex align-items-center mb-4">
                    <div class="avatar  avatar-rounded avatar-md me-3">
                        <img src="./assets/images/faces/6.jpg" class="" alt="...">
                    </div>
                    <div>
                        <a [routerLink]="['/pages/profile/profile-1']" class="fw-semibold">Thomos Scott</a>
                        <small class="d-block text-muted">1 day ago</small>
                    </div>
                    <div class="ms-auto text-muted">
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M16.5 5c-1.54 0-3.04.99-3.56 2.36h-1.87C10.54 5.99 9.04 5 7.5 5 5.5 5 4 6.5 4 8.5c0 2.89 3.14 5.74 7.9 10.05l.1.1.1-.1C16.86 14.24 20 11.39 20 8.5c0-2-1.5-3.5-3.5-3.5z" opacity=".3"></path><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path></svg></a>
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M21 12v-2h-9l1.34-5.34L9 9v10h9z" opacity=".3"></path><path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"></path></svg></a>
                    </div>
                </div>
                <h4><a href="javascript:void(0)">Publishing packages</a></h4>
                <div class="text-muted ">Many desktop publishing packages and web page editors now use default model text, and a search for will uncover...</div>
                <div><a href="javascript:void(0)" class=" mt-3 btn btn-sm btn-primary">Read more</a></div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card card-aside">
            <div class="card-body d-flex flex-column">
                <div class="d-flex align-items-center mb-4">
                    <div class="avatar  avatar-rounded avatar-md me-3">
                        <img src="./assets/images/faces/16.jpg" class="" alt="...">
                    </div>
                    <div>
                        <a [routerLink]="['/pages/profile/profile-1']" class="fw-semibold">Irene	Scott</a>
                        <small class="d-block text-muted">2 days ago</small>
                    </div>
                    <div class="ms-auto text-muted">
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M16.5 5c-1.54 0-3.04.99-3.56 2.36h-1.87C10.54 5.99 9.04 5 7.5 5 5.5 5 4 6.5 4 8.5c0 2.89 3.14 5.74 7.9 10.05l.1.1.1-.1C16.86 14.24 20 11.39 20 8.5c0-2-1.5-3.5-3.5-3.5z" opacity=".3"></path><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path></svg></a>
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M21 12v-2h-9l1.34-5.34L9 9v10h9z" opacity=".3"></path><path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"></path></svg></a>
                    </div>
                </div>
                <h4><a href="javascript:void(0)">Nihil molestaturrgt.</a></h4>
                <div class="text-muted ">Many desktop publishing packages and web page editors now use default model text, and a search for will uncover...</div>
                <div><a href="javascript:void(0)" class=" mt-3 btn btn-sm btn-primary">Read more</a></div>
            </div>
            <a [routerLink]="['/pages/blog/blog-details']" class="card-aside-column">
                <img src="./assets/images/photos/8.jpg" class="img-fluid rounded-end h-100 w-100" alt="...">
            </a>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card card-aside">
            <a [routerLink]="['/pages/blog/blog-details']" class="card-aside-column">
                <img src="./assets/images/photos/2.jpg" class="img-fluid rounded-start h-100 w-100" alt="...">
            </a>
            <div class="card-body d-flex flex-column">
                <h4><a href="javascript:void(0)">Generator on the Internet..</a></h4>
                <div class="text-muted">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum....</div>
                <div class="d-flex align-items-center pt-4 mt-auto">
                    <div class="avatar  avatar-rounded avatar-md me-3">
                        <img src="./assets/images/faces/12.jpg" class="" alt="...">
                    </div>
                    <div>
                        <a [routerLink]="['/pages/profile/profile-1']" class="fw-semibold">Anna Ogden</a>
                        <small class="d-block text-muted">1 days ago</small>
                    </div>
                    <div class="ms-auto text-muted">
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M16.5 5c-1.54 0-3.04.99-3.56 2.36h-1.87C10.54 5.99 9.04 5 7.5 5 5.5 5 4 6.5 4 8.5c0 2.89 3.14 5.74 7.9 10.05l.1.1.1-.1C16.86 14.24 20 11.39 20 8.5c0-2-1.5-3.5-3.5-3.5z" opacity=".3"></path><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path></svg></a>
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M21 12v-2h-9l1.34-5.34L9 9v10h9z" opacity=".3"></path><path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"></path></svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card card-aside">
            <div class="card-body d-flex flex-column">
                <h4><a href="javascript:void(0)">Nihil Molestiae.</a></h4>
                <div class="text-muted">Many desktop publishing packages and web page editors now use default model text, and a search for will uncover...</div>
                <div class="d-flex align-items-center pt-4 mt-auto">
                    <div class="avatar  avatar-rounded avatar-md me-3">
                        <img src="./assets/images/faces/3.jpg" class="" alt="...">
                    </div>
                    <div>
                        <a [routerLink]="['/pages/profile/profile-1']" class="fw-semibold">Irene	Scott</a>
                        <small class="d-block text-muted">2 days ago</small>
                    </div>
                    <div class="ms-auto text-muted">
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M16.5 5c-1.54 0-3.04.99-3.56 2.36h-1.87C10.54 5.99 9.04 5 7.5 5 5.5 5 4 6.5 4 8.5c0 2.89 3.14 5.74 7.9 10.05l.1.1.1-.1C16.86 14.24 20 11.39 20 8.5c0-2-1.5-3.5-3.5-3.5z" opacity=".3"></path><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path></svg></a>
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M21 12v-2h-9l1.34-5.34L9 9v10h9z" opacity=".3"></path><path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"></path></svg></a>
                    </div>
                </div>
            </div>
            <a [routerLink]="['/pages/blog/blog-details']" class="card-aside-column">
                <img src="./assets/images/photos/14.jpg" class="img-fluid rounded-end h-100 w-100" alt="...">
            </a>
        </div>
    </div>
    <div class="col-lg-6 col-xl-4">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h4><a href="javascript:void(0)">voluptatem quia voluptas.</a></h4>
                <div class="text-muted">To take a trivial example, which of us ever undertakes laborious physical exerciser , except to obtain some </div>
                <div class="d-flex align-items-center pt-4 mt-auto">
                    <div class="avatar  avatar-rounded avatar-md me-3">
                        <img src="./assets/images/faces/15.jpg" class="" alt="...">
                    </div>
                    <div>
                        <a [routerLink]="['/pages/profile/profile-1']" class="fw-semibold">MeganPeters</a>
                        <small class="d-block text-muted">1 days ago</small>
                    </div>
                    <div class="ms-auto text-muted">
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M16.5 5c-1.54 0-3.04.99-3.56 2.36h-1.87C10.54 5.99 9.04 5 7.5 5 5.5 5 4 6.5 4 8.5c0 2.89 3.14 5.74 7.9 10.05l.1.1.1-.1C16.86 14.24 20 11.39 20 8.5c0-2-1.5-3.5-3.5-3.5z" opacity=".3"></path><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path></svg></a>
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M21 12v-2h-9l1.34-5.34L9 9v10h9z" opacity=".3"></path><path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"></path></svg></a>
                    </div>
                </div>
            </div>
            <a [routerLink]="['/pages/blog/blog-details']"><img class="rounded-bottom w-100" src="./assets/images/photos/11.jpg" alt="And this isn't my nose. This is a false one."></a>
        </div>
    </div>
    <div class="col-lg-6 col-xl-4">
        <div class="card">
            <a [routerLink]="['/pages/blog/blog-details']"><img class="rounded-top w-100" src="./assets/images/photos/12.jpg" alt="Well, I didn't vote for you."></a>
            <div class="card-body d-flex flex-column">
                <h4><a href="javascript:void(0)">voluptatem quia voluptas.</a></h4>
                <div class="text-muted">Who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces.</div>
                <div class="d-flex align-items-center pt-4 mt-auto">
                    <div class="avatar  avatar-rounded avatar-md me-3">
                        <img src="./assets/images/faces/16.jpg" class="" alt="...">
                    </div>
                    <div>
                        <a [routerLink]="['/pages/profile/profile-1']" class="fw-semibold">Anna Ogden</a>
                        <small class="d-block text-muted">2 days ago</small>
                    </div>
                    <div class="ms-auto text-muted">
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M16.5 5c-1.54 0-3.04.99-3.56 2.36h-1.87C10.54 5.99 9.04 5 7.5 5 5.5 5 4 6.5 4 8.5c0 2.89 3.14 5.74 7.9 10.05l.1.1.1-.1C16.86 14.24 20 11.39 20 8.5c0-2-1.5-3.5-3.5-3.5z" opacity=".3"></path><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path></svg></a>
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M21 12v-2h-9l1.34-5.34L9 9v10h9z" opacity=".3"></path><path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"></path></svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-4">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h4><a href="javascript:void(0)">voluptatem quia voluptas</a></h4>
                <div class="text-muted">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque...</div>
                <div class="d-flex align-items-center pt-4 mt-auto">
                    <div class="avatar  avatar-rounded avatar-md me-3">
                        <img src="./assets/images/faces/14.jpg" class="" alt="...">
                    </div>
                    <div>
                        <a [routerLink]="['/pages/profile/profile-1']" class="fw-semibold">Carol Paige</a>
                        <small class="d-block text-muted">2 days ago</small>
                    </div>
                    <div class="ms-auto text-muted">
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M16.5 5c-1.54 0-3.04.99-3.56 2.36h-1.87C10.54 5.99 9.04 5 7.5 5 5.5 5 4 6.5 4 8.5c0 2.89 3.14 5.74 7.9 10.05l.1.1.1-.1C16.86 14.24 20 11.39 20 8.5c0-2-1.5-3.5-3.5-3.5z" opacity=".3"></path><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path></svg></a>
                        <a aria-label="anchor" href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M21 12v-2h-9l1.34-5.34L9 9v10h9z" opacity=".3"></path><path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"></path></svg></a>
                    </div>
                </div>
            </div>
            <a [routerLink]="['/pages/blog/blog-details']"><img class="rounded-bottom w-100" src="./assets/images/photos/13.jpg" alt="How do you know she is a witch?"></a>
        </div>
    </div>
</div>
<!-- End::row-2 -->