<app-page-header hassub="" sub="Home" title1="Widgets" title="Chart Widgets" activeTitle="Chart Widgets"></app-page-header>
<!-- Start::row-1 -->
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-2 fs-15 text-muted">
                            Total Application
                        </div>
                        <h2 class="fw-bold mb-1">45,675</h2>
                        <span class="text-success"><i class="fa fa-arrow-up me-1"></i> +1.4%</span>
                    </div>
                    <div class="col col-auto mx-auto">
                        <div id="chart-circle-primary1">
                            <apx-chart
                        [series]="chartOptions.series!"
                        [chart]="chartOptions.chart!"
                        [plotOptions]="chartOptions.plotOptions!"
                        [stroke]="chartOptions.stroke!"
                        [colors]="chartOptions.colors!"
                        [fill]="chartOptions.fill!"
                      ></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-2 fs-15 text-muted">
                            Shortlisted
                        </div>
                        <h2 class="fw-bold mb-1">30,175</h2>
                        <span class="text-success"><i class="fa fa-arrow-up me-1"></i> +1.8%</span>
                    </div>
                    <div class="col col-auto mx-auto">
                        <div id="chart-circle-primary2">
                            <apx-chart
                            [series]="chartOptions1.series!"
                            [chart]="chartOptions1.chart!"
                            [plotOptions]="chartOptions1.plotOptions!"
                            [stroke]="chartOptions1.stroke!"
                            [colors]="chartOptions1.colors!"
                            [fill]="chartOptions1.fill!"
                          ></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-2 fs-15 text-muted">
                            Rejected
                        </div>
                        <h2 class="fw-bold mb-1">7,745</h2>
                        <span class="text-danger"><i class="fa fa-arrow-down me-1"></i> -2.4%</span>
                    </div>
                    <div class="col col-auto mx-auto">
                        <div id="chart-circle-primary3">
                            <apx-chart
                            [series]="chartOptions2.series!"
                            [chart]="chartOptions2.chart!"
                            [plotOptions]="chartOptions2.plotOptions!"
                            [stroke]="chartOptions2.stroke!"
                            [colors]="chartOptions2.colors!"
                            [fill]="chartOptions2.fill!"
                          ></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::row-1 -->

<!-- Start::row-2 -->
<div class="row">
    <div class="col-xl-4 col-md-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="mb-1">Today Revenue</p>
                        <h2 class="mb-0 fw-bold">$897k</h2>
                    </div>
                    <div class="col">
                        <div id="spark11">
                            <apx-chart [chart]="ApexData1.chart" [stroke]="ApexData1.stroke" [fill]="ApexData1.fill"
                            [series]="ApexData1.series" [yaxis]="ApexData1.yaxis" [colors]="ApexData1.colors">
                        </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="mb-1">Unique Visitors</p>
                        <h2 class="mb-0 fw-bold">5,896</h2>
                    </div>
                    <div class="col">
                        <div id="spark2">
                            <apx-chart [chart]="ApexData2.chart" [stroke]="ApexData2.stroke" [fill]="ApexData2.fill"
                            [series]="ApexData2.series" [yaxis]="ApexData2.yaxis" [colors]="ApexData2.colors"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="mb-1">Expenses</p>
                        <h2 class="mb-0 fw-bold">$1,678</h2>
                    </div>
                    <div class="col">
                        <div id="spark3">
                            <apx-chart [chart]="ApexData3.chart" [stroke]="ApexData3.stroke" [fill]="ApexData3.fill"
                            [series]="ApexData3.series" [yaxis]="ApexData3.yaxis" [colors]="ApexData3.colors"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::row-2 -->

<!-- Start::row-3 -->
<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-start mb-4">
                    <p class=" mb-1 ">
                        <i class="fa fa-line-chart me-1 text-primary"></i> Total Sales
                    </p>
                    <h2 class="mb-0 fw-bold">4,786<span class="fs-12 text-muted"><span class="text-success me-1"><i class="fe fe-arrow-up ms-1 "></i> 12%</span> last week</span>
                    </h2>
                </div>
            </div>
            <div class="chart-wrapper">
                <div id="sparkline_bar11">
                    <apx-chart [chart]="sparkline_bar1.chart" [stroke]="sparkline_bar1.stroke" [fill]="sparkline_bar1.fill"
                            [series]="sparkline_bar1.series" [yaxis]="sparkline_bar1.yaxis" [colors]="sparkline_bar1.colors"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-start mb-4">
                    <p class=" mb-1 ">
                        <i class="fa fa-usd me-1 text-secondary"></i> Total Profits
                    </p>
                    <h2 class="mb-0 fw-bold">$873<span class="fs-12 text-muted"><span class="text-danger me-1"><i class="fe fe-arrow-down ms-1 "></i> 0.34%</span> last week</span>
                    </h2>
                </div>
            </div>
            <div class="chart-wrapper">
                <div id="sparkline_bar12">
                    <apx-chart [chart]="sparkline_bar2.chart" [stroke]="sparkline_bar2.stroke" [fill]="sparkline_bar2.fill"
                    [series]="sparkline_bar2.series" [yaxis]="sparkline_bar2.yaxis" [colors]="sparkline_bar2.colors"></apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-start mb-4">
                    <p class=" mb-1 ">
                        <i class="fa fa-cart-arrow-down me-1 text-success"></i> Total Orders
                    </p>
                    <h2 class="mb-0 fw-bold">6,295<span class="fs-12 text-muted"><span class="text-success me-1"><i class="fe fe-arrow-up ms-1 "></i> 0.22%</span> last week</span>
                    </h2>
                </div>
            </div>
            <div class="chart-wrapper">
                <div id="sparkline_bar13">  
                    <apx-chart [chart]="sparkline_bar3.chart" [stroke]="sparkline_bar3.stroke" [fill]="sparkline_bar3.fill"
                    [series]="sparkline_bar3.series" [yaxis]="sparkline_bar3.yaxis" [colors]="sparkline_bar3.colors">
                </apx-chart>
            </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-start mb-4">
                    <p class=" mb-1">
                        <i class="fa fa-signal me-1 text-info"></i> Total Sales Revenue
                    </p>
                    <h2 class="mb-0 fw-bold">$356<span class="fs-12 text-muted"><span class="text-danger me-1"><i class="fe fe-arrow-down ms-1"></i>0.82%</span> last week</span>
                    </h2>
                </div>
            </div>
            <div class="chart-wrapper">
                <div id="sparkline_bar14">
                    <apx-chart [chart]="sparkline_bar4.chart" [stroke]="sparkline_bar4.stroke" [fill]="sparkline_bar4.fill"
                    [series]="sparkline_bar4.series" [yaxis]="sparkline_bar4.yaxis" [colors]="sparkline_bar4.colors"></apx-chart>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- End::row-3 -->

<!-- Start::row-4 -->
<div class="row">
    <div class="col-xl-3 col-md-12 col-lg-6">
        <div class="card overflow-hidden">
            <div class="card-body pb-0">
                <div>
                    <p class=" mb-0">BTC / USDT</p>
                    <h3 class="mb-1 fw-bold">$10513</h3>
                </div>
            </div>
            <div class="chart-wrapper ">
                <canvas baseChart id="widget-CryptoChart" class="h-5 overflow-hidden"
                baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="lineChartType">
        </canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-12 col-lg-6">
        <div class="card overflow-hidden">
            <div class="card-body pb-0">
                <div>
                    <p class=" mb-0">XEM / USDT</p>
                    <h3 class="mb-1 fw-bold">$966</h3>
                </div>
            </div>
            <div class="chart-wrapper ">
                <canvas id="widget-CryptoChart11" class="h-5 overflow-hidden"
                baseChart
          [data]="lineChartData1"
          [options]="lineChartOptions1"
          [type]="lineChartType1"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-12 col-lg-6">
        <div class="card overflow-hidden">
            <div class="card-body pb-0">
                <div>
                    <p class=" mb-0">XRP / USDT</p>
                    <h3 class="mb-1 fw-bold">$7,349</h3>
                </div>
            </div>
            <div class="chart-wrapper ">
                <canvas id="widget-CryptoChart2" class="h-5 overflow-hidden" baseChart
                [data]="lineChartData2"
                [options]="lineChartOptions2"
                [type]="lineChartType2"></canvas>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-12 col-lg-6">
        <div class="card overflow-hidden">
            <div class="card-body pb-0">
                <div>
                    <p class=" mb-0">NEO / USDT</p>
                    <h3 class="mb-1 fw-bold">$5,563</h3>
                </div>
            </div>
            <div class="chart-wrapper ">
                <canvas id="widget-CryptoChart3" class="h-5 overflow-hidden"
                baseChart
                [data]="lineChartData3"
                [options]="lineChartOptions3"
                [type]="lineChartType3"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- End::row-4 -->

<!-- Start::row-5 -->
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="card text-center">
            <div class="card-body">
                <div class="widget-line">
                    <p class="mb-2">Shares</p>
                    <h1 class="fw-bold mb-0">1452</h1>
                </div>
                <div class="position-relative">
                    <div id="shares">
                        <apx-chart [series]="SharesData.series" [colors]="SharesData.colors" [chart]="SharesData.chart"
                        [dataLabels]="SharesData.dataLabels" [xaxis]="SharesData.xaxis" [legend]="SharesData.legend"
                        [plotOptions]="SharesData.plotOptions">
                        </apx-chart>
                    </div>
                    <div class="chart-circle-value"><i class="fa fa-random text-primary"></i></div>
                </div>
                <ul class="widget-line-list">
                    <li class="border-end">45% <br><span class="text-success"><i class="fa fa-hand-o-up"></i> Positive</span></li>
                    <li>6% <br><span class="text-danger"><i class="fa fa-hand-o-down"></i> Negative</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="card text-center">
            <div class="card-body">
                <div class="widget-line">
                    <p class="mb-2">Projects</p>
                    <h1 class="fw-bold mb-0">3265</h1>
                </div>
                <div class="position-relative">
                    <div id="projects">
                        <apx-chart [series]="ProjectsData.series" [colors]="ProjectsData.colors" [chart]="ProjectsData.chart"
                        [dataLabels]="ProjectsData.dataLabels" [xaxis]="ProjectsData.xaxis" [legend]="ProjectsData.legend"
                        [plotOptions]="ProjectsData.plotOptions">
                        </apx-chart>
                    </div>
                    <div class="chart-circle-value"><i class="fa fa-life-ring text-secondary"></i></div>
                </div>
                <ul class="widget-line-list">
                    <li class="border-end">55% <br><span class="text-success"><i class="fa fa-hand-o-up"></i> Positive</span></li>
                    <li>3% <br><span class="text-danger"><i class="fa fa-hand-o-down"></i> Negative</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="card text-center">
            <div class="card-body">
                <div class="widget-line ">
                    <p class="mb-2">Users</p>
                    <h1 class="fw-bold mb-0">9562</h1>
                </div>
                <div class="position-relative">
                    <div id="users">
                        <apx-chart [series]="UsersData.series" [colors]="UsersData.colors" [chart]="UsersData.chart"
                        [dataLabels]="UsersData.dataLabels" [xaxis]="UsersData.xaxis" [legend]="UsersData.legend"
                        [plotOptions]="UsersData.plotOptions">
                        </apx-chart>
                    </div>
                    <div class="chart-circle-value"><i class="fa fa-tags text-success"></i></div>
                </div>
                <ul class="widget-line-list">
                    <li class="border-end">75% <br><span class="text-success"><i class="fa fa-hand-o-up"></i> Positive</span></li>
                    <li>6% <br><span class="text-danger"><i class="fa fa-hand-o-down"></i> Negative</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End::row-5 -->