<div class="page page-style1 error-page">
    <div class="page-single">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <div class="card p-4 mb-0 mt-7 mt-md-2">
                        <div class="card-body">
                            <div class="text-center title-style mb-4">
                                <h2 class="mb-2">Verfication</h2>
                                <hr>
                                <p class="text-muted">Enter 4 digit code sent to the registered email Id.</p>
                            </div>
                            <div class="row gy-3">
                                <div class="col-xl-12 mb-2">
                                    <div class="row">
                                        <div class="col-3">
                                            <input type="text" class="form-control form-control-lg text-center" id="one" maxlength="1"   #oneInput required  (keyup)="onDigitInput($event, twoInput)"
                                            maxlength="1"
                                            id="one">
                                        </div>
                                        <div class="col-3">
                                            <input type="text" class="form-control form-control-lg text-center" id="two" maxlength="1"  #twoInput  required
                                            id="two"
                                            maxlength="1"
                                            (keyup)="onDigitInput($event, threeInput)">
                                        </div>
                                        <div class="col-3">
                                            <input type="text" class="form-control form-control-lg text-center" id="three" maxlength="1" #threeInput  required
                                            id="three"
                                            maxlength="1"
                                            (keyup)="onDigitInput($event, fourInput)">
                                        </div>
                                        <div class="col-3">
                                            <input type="text" class="form-control form-control-lg text-center" id="four" maxlength="1"  #fourInput  required> 
                                        </div>
                                    </div>
                                    <div class="form-check mt-2">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Did not recieve a code ?<a [routerLink]="['/pages/email/mail-inbox']" class="text-primary ms-2 d-inline-block">Resend</a>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xl-12 d-grid mt-2">
                                    <a [routerLink]="['/dashboards/sales']" class="btn btn-lg btn-primary">Verify</a>
                                </div>
                            </div>
                            <div class="text-center">
                                <p class="fs-12 text-danger mt-3 mb-0"><sup><i class="ri-asterisk"></i></sup>Don't share the verification code with anyone !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>