.icon-close{
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    outline: none !important;
}

.combo-contenedor {
  display: flex;
  align-items: center;
  width: 100%; /* Puedes ajustar esto según sea necesario */
}

ng-select {
  flex-grow: 1; /* El combo ocupa el espacio restante */
  margin-right: 10px; /* Separación entre el combo y el botón */
}

.btn-agregar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px; /* Ajusta el padding para que el botón tenga un tamaño adecuado */
  border-radius: 50%; /* Hace el botón circular */
}

.icon {
  font-size: 20px;
}

.grid-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Estilo personalizado para los items */
.custom-item {
  display: block;
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  background-color: var(--color-raised);
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s, border-color 0.2s;
}

.custom-item:hover {
  background-color: var(--color-bg);
}

/* Elemento seleccionado */
.custom-item.selected {
  border-color: rgb(68, 84, 195);
  background-color: rgb(68, 84, 195);
  color: #fff;
  // border-color: #0d6efd;
  // background-color: #e7f1ff;
}
