<app-modal-formulario titulo="Editar Cálculo de Base de Interés" subtitulo="Modifique los datos del cálculo de base de interés." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="guardarCambios()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="cbi-e-nombreCalculo">Nombre<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="cbi-e-nombreCalculo" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="100" [(ngModel)]="objRegistroEditado.nombreCalculo" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="cbi-e-nombreCortoCalculo">Nombre Corto</label>
                <input id="cbi-e-nombreCortoCalculo" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="50" [(ngModel)]="objRegistroEditado.nombreCortoCalculo">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="cbi-e-descripcionCalculoBase">Descripción</label>
                <input id="cbi-e-descripcionCalculoBase" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="50" [(ngModel)]="objRegistroEditado.descripcionCalculoBase">
            </div>
        </div>
    </fieldset>

</app-modal-formulario>
