<app-modal-formulario titulo="Editar Emisor" subtitulo="Modifique los datos del emisor." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="guardarCambios()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="em-e-codEmisor">Código<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="em-e-codEmisor" type="text" class="form-control" autocomplete="off" minlength="4" maxlength="4" [(ngModel)]="objRegistroEditado.codEmisor" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="em-e-codIDCCliente">Cód. IDC Cliente</label>
                <input id="em-e-codIDCCliente" type="number" class="form-control" autocomplete="off" minlength="2" maxlength="9" [(ngModel)]="objRegistroEditado.codIDCCliente">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="em-e-nomEmisor">Nombre<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="em-e-nomEmisor" type="text" class="form-control" autocomplete="off" minlength="2" maxlength="100" [(ngModel)]="objRegistroEditado.nomEmisor" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="em-e-codTipoEmisor">Tipo Emisor</label>
                <input id="em-e-codTipoEmisor" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="3" [(ngModel)]="objRegistroEditado.codTipoEmisor">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="em-e-detalle">Detalle</label>
                <input id="em-e-detalle" type="text" class="form-control" autocomplete="off" minlength="4" maxlength="100" [(ngModel)]="objRegistroEditado.detalle">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="em-e-ambito">Ámbito</label>
                <input id="em-e-ambito" type="text" class="form-control" autocomplete="off" minlength="2" maxlength="2" [(ngModel)]="objRegistroEditado.ambito">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="em-e-codBloomberg">Cód. Bloomberg</label>
                <input id="em-e-codBloomberg" type="text" class="form-control" autocomplete="off" minlength="4" maxlength="20" [(ngModel)]="objRegistroEditado.codBloomberg">
            </div>
        </div>
    </fieldset>

    <fieldset class="hig-seccion">
        <legend>Clasificación</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="em-e-idPais">País</label>
                <div class="combo-contenedor">
                    <ng-select labelForId="em-e-idPais" placeholder="Seleccione una opción…" [items]="listPais" bindLabel="desPais" bindValue="idPais" [(ngModel)]="objRegistroEditado.idPais"></ng-select>
                    <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar país" aria-label="Agregar país" (click)="abrirModalSecundario(cargaModalPais)"><span class="icon" aria-hidden="true">+</span></button>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="hig-seccion">
        <legend>Datos Adicionales</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="em-e-codSBS">Cód. SBS</label>
                <input id="em-e-codSBS" type="text" class="form-control" autocomplete="off" minlength="4" maxlength="20" [(ngModel)]="objRegistroEditado.codSBS">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="em-e-codRUC">Cód. RUC</label>
                <input id="em-e-codRUC" type="text" class="form-control" autocomplete="off" minlength="4" maxlength="20" [(ngModel)]="objRegistroEditado.codRUC">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="em-e-codFuente">Fuente</label>
                <input id="em-e-codFuente" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="3" [(ngModel)]="objRegistroEditado.codFuente">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="em-e-codTipoEmisorAnx8">Tipo Emisor Anx8</label>
                <input id="em-e-codTipoEmisorAnx8" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="3" [(ngModel)]="objRegistroEditado.codTipoEmisorAnx8">
            </div>
        </div>
    </fieldset>

    <fieldset class="hig-seccion">
        <legend>Opciones</legend>
        <div class="hig-cuadricula hig-columnas-1">
            <div class="hig-opcion">
                <input class="form-check-input" type="checkbox" id="em-e-flgEmiReport" [(ngModel)]="objRegistroEditado.flgEmiReport">
                <div>
                    <label class="hig-opcion__titulo" for="em-e-flgEmiReport">Emite Reporte</label>
                </div>
            </div>
            <div class="hig-opcion">
                <input class="form-check-input" type="checkbox" id="em-e-flgOrgaMulti" [(ngModel)]="objRegistroEditado.flgOrgaMulti">
                <div>
                    <label class="hig-opcion__titulo" for="em-e-flgOrgaMulti">Organismo Multilateral</label>
                </div>
            </div>
            <div class="hig-opcion">
                <input class="form-check-input" type="checkbox" id="em-e-flgContratoMarco" [(ngModel)]="objRegistroEditado.flgContratoMarco">
                <div>
                    <label class="hig-opcion__titulo" for="em-e-flgContratoMarco">Contrato Marco</label>
                </div>
            </div>
            <div class="hig-opcion">
                <input class="form-check-input" type="checkbox" id="em-e-flgContratoEspecifico" [(ngModel)]="objRegistroEditado.flgContratoEspecifico">
                <div>
                    <label class="hig-opcion__titulo" for="em-e-flgContratoEspecifico">Contrato Específico</label>
                </div>
            </div>
        </div>
    </fieldset>

</app-modal-formulario>

<ng-template #cargaModalPais let-modal>
    <app-carga-pais (close)="cerrarModalSecundario($event)"></app-carga-pais>
</ng-template>
