<app-modal-formulario titulo="Editar Skew Point" subtitulo="Modifique los datos del skew point." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="guardarCambios()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="sp-e-point">Punto<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="sp-e-point" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="5" [(ngModel)]="objRegistroEditado.point" required>
            </div>
        </div>
    </fieldset>

</app-modal-formulario>
