<app-modal-formulario titulo="Editar Tasa de Interés" subtitulo="Modifique los datos y guarde los cambios." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" (cerrar)="cerrar()" (guardar)="guardarCambios()">

        <fieldset class="hig-seccion">
            <legend>Vértice de la curva</legend>
            <div class="hig-cuadricula hig-columnas-3">
                <div class="hig-campo">
                    <label class="form-label" for="ti-e-codVertice">Cod. Vértice<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <input id="ti-e-codVertice" type="text" class="form-control" autocomplete="off" maxlength="20" [(ngModel)]="this.objRegistroEditado.codVertice" required>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ti-e-desVertice">Desc. Vértice</label>
                    <input id="ti-e-desVertice" type="text" class="form-control" autocomplete="off" maxlength="20" [(ngModel)]="this.objRegistroEditado.desVertice">
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ti-e-numPlazo">Plazo (días)<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <input id="ti-e-numPlazo" type="number" class="form-control" autocomplete="off" step="any" inputmode="decimal" [(ngModel)]="this.objRegistroEditado.numPlazo" required>
                </div>
            </div>
        </fieldset>

        <fieldset class="hig-seccion">
            <legend>Curva y referencia</legend>
            <div class="hig-cuadricula ">
                <div class="hig-campo">
                    <label class="form-label" for="ti-e-codCurvaProveedor">Curva Proveedor<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <input id="ti-e-codCurvaProveedor" type="text" class="form-control" autocomplete="off" maxlength="20" [(ngModel)]="this.objRegistroEditado.codCurvaProveedor" required>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ti-e-codVerticeRef">Cod. Vértice Ref.</label>
                    <input id="ti-e-codVerticeRef" type="text" class="form-control" autocomplete="off" maxlength="20" [(ngModel)]="this.objRegistroEditado.codVerticeRef">
                    <p class="hig-campo__ayuda">Código externo del vértice, por ejemplo un ticker de Bloomberg.</p>
                </div>
            </div>
        </fieldset>

</app-modal-formulario>
