<div>
    <button type="submit" class="btn btn-primary" (click)="registrar(cargaModal)">Agregar Precio de Mercado</button>
</div>

<br>

<div id="mat-sorting">
    <div class="mat-elevation-z8">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort #sort="matSort">

                <ng-container matColumnDef="idVectorPrecio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
                    <td mat-cell *matCellDef="let element"> {{element.idVectorPrecio}} </td>
                </ng-container>

                <ng-container matColumnDef="fecProceso">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Proceso</th>
                    <td mat-cell *matCellDef="let element"> {{element.fecProceso}} </td>
                </ng-container>

                <ng-container matColumnDef="codISIN">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ISIN</th>
                    <td mat-cell *matCellDef="let element"> {{element.codISIN}} </td>
                </ng-container>

                <ng-container matColumnDef="nemonico">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nemónico</th>
                    <td mat-cell *matCellDef="let element"> {{element.nemonico}} </td>
                </ng-container>

                <ng-container matColumnDef="numPrecioLimpio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio Limpio</th>
                    <td mat-cell *matCellDef="let element"> {{element.numPrecioLimpio}} </td>
                </ng-container>

                <ng-container matColumnDef="numPrecioSucio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio Sucio</th>
                    <td mat-cell *matCellDef="let element"> {{element.numPrecioSucio}} </td>
                </ng-container>

                <ng-container matColumnDef="numInteresCorrido">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Interés Corrido</th>
                    <td mat-cell *matCellDef="let element"> {{element.numInteresCorrido}} </td>
                </ng-container>

                <ng-container matColumnDef="numTIR">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>TIR</th>
                    <td mat-cell *matCellDef="let element"> {{element.numTIR}} </td>
                </ng-container>

                <ng-container matColumnDef="numDurMacaulay">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Dur. Macaulay</th>
                    <td mat-cell *matCellDef="let element"> {{element.numDurMacaulay}} </td>
                </ng-container>

                <ng-container matColumnDef="numDurModified">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Dur. Modificada</th>
                    <td mat-cell *matCellDef="let element"> {{element.numDurModified}} </td>
                </ng-container>

                <ng-container matColumnDef="numConvexidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Convexidad</th>
                    <td mat-cell *matCellDef="let element"> {{element.numConvexidad}} </td>
                </ng-container>

                <ng-container matColumnDef="numValorFacial">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor Facial</th>
                    <td mat-cell *matCellDef="let element"> {{element.numValorFacial}} </td>
                </ng-container>

                <ng-container matColumnDef="numTasaCupon">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tasa Cupón</th>
                    <td mat-cell *matCellDef="let element"> {{element.numTasaCupon}} </td>
                </ng-container>

                <ng-container matColumnDef="codMoneda">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
                    <td mat-cell *matCellDef="let element"> {{element.codMoneda}} </td>
                </ng-container>

                <ng-container matColumnDef="maturity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Maturity</th>
                    <td mat-cell *matCellDef="let element"> {{element.maturity}} </td>
                </ng-container>

                <ng-container matColumnDef="codFuenteDatos">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fuente de Datos</th>
                    <td mat-cell *matCellDef="let element"> {{element.codFuenteDatos}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (contextmenu)="onContextMenu($event, row)"></tr>
            </table>
        </div>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
    </div>

</div>

<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item (click)="editar(selectedRow, editarModal)">
            <mat-icon>edit</mat-icon> Editar
        </button>
        <button mat-menu-item (click)="eliminar(selectedRow)">
            <mat-icon>delete</mat-icon> Eliminar
        </button>
    </ng-template>
</mat-menu>

<ng-template #cargaModal let-modal>
    <app-carga-precio-mercado (close)="cerrarModal($event)"></app-carga-precio-mercado>
</ng-template>

<ng-template #editarModal let-modal>
    <app-editar-precio-mercado (close)="cerrarModal($event)" [data]="filaEditar"></app-editar-precio-mercado>
</ng-template>