<app-modal-formulario titulo="Editar Corporación" subtitulo="Modifique los datos de la corporación." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="guardarCambios()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula">
            <div class="hig-campo">
                <label class="form-label" for="co-e-descripcion">Descripción<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="co-e-descripcion" type="text" class="form-control" autocomplete="off" minlength="2" maxlength="100" [(ngModel)]="objRegistroEditado.descripcion" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="co-e-abrev">Abreviatura</label>
                <input id="co-e-abrev" type="text" class="form-control" autocomplete="off" minlength="2" maxlength="10" [(ngModel)]="objRegistroEditado.abrev">
            </div>
        </div>
    </fieldset>

    <fieldset class="hig-seccion">
        <legend>Clasificación</legend>
        <div class="hig-cuadricula">
            <div class="hig-campo">
                <label class="form-label" for="co-e-pais">País</label>
                <div class="combo-contenedor">
                    <ng-select labelForId="co-e-pais" placeholder="Seleccione una opción…" [items]="listPais" bindLabel="desPais" bindValue="idPais" [(ngModel)]="objRegistroEditado.pais"></ng-select>
                    <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar país" aria-label="Agregar país" (click)="abrirModalSecundario(cargaModalPais)"><span class="icon" aria-hidden="true">+</span></button>
                </div>
            </div>
        </div>
    </fieldset>

</app-modal-formulario>

<ng-template #cargaModalPais let-modal>
    <app-carga-pais (close)="cerrarModalSecundario($event)"></app-carga-pais>
</ng-template>
