 
  <app-page-header hassub="" sub="Pages" title1="Ecommerce" title="Products List" activeTitle="Products List" ></app-page-header>
  <!-- Start::row-1 -->
 <div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Products List
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive mb-4">
                    <table class="table text-nowrap table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <input class="form-check-input check-all" type="checkbox" id="all-products" value="" aria-label="...">
                                </th>
                                <th scope="col">Product</th>
                                <th scope="col">Category</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Seller</th>
                                <th scope="col">Published</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="product-list">
                                <td class="product-checkbox"><input class="form-check-input" type="checkbox" id="product1" value="" aria-label="..."></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="me-2">
                                            <span class="avatar avatar-md avatar-rounded">
                                                <img src="./assets/images/products/1.jpg" alt="">
                                            </span>
                                        </div>
                                        <div class="fw-semibold">
                                            Metal Flower Pot
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-light text-default">Furniture</span>
                                </td>
                                <td>$1,299</td>
                                <td>283</td>
                                <td>Apilla.co.in</td>
                                <td>24,Nov 2023- 04:42PM</td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a aria-label="anchor" [routerLink]="['/pages/ecommerce/edit-products']" class=""  placement="top" ngbTooltip="Edit">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M5 18.08V19h.92l9.06-9.06-.92-.92z" opacity=".3"></path><path d="M20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83zM3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19z"></path></svg>
                                        </a>
                                        <a aria-label="anchor" href="javascript:void(0)" class=" btn-delete" placement="top"ngbTooltip="Remove">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M8 9h8v10H8z" opacity=".3"></path><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"></path></svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="product-list">
                                <td class="product-checkbox"><input class="form-check-input" type="checkbox" id="product2" value="" aria-label="..."></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="me-2">
                                            <span class="avatar avatar-md avatar-rounded">
                                                <img src="./assets/images/products/2.jpg" alt="">
                                            </span>
                                        </div>
                                        <div class="fw-semibold">
                                           Office Chair
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-light text-default">Furniture</span>
                                </td>
                                <td>$799</td>
                                <td>98</td>
                                <td>Donzo Company</td>
                                <td>18,Nov 2023- 06:53AM</td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a aria-label="anchor" [routerLink]="['/pages/ecommerce/edit-products']" class=""  placement="top" ngbTooltip="Edit">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M5 18.08V19h.92l9.06-9.06-.92-.92z" opacity=".3"></path><path d="M20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83zM3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19z"></path></svg>
                                        </a>
                                        <a aria-label="anchor" href="javascript:void(0)" class=" btn-delete" placement="top"ngbTooltip="Remove">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M8 9h8v10H8z" opacity=".3"></path><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"></path></svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="product-list">
                                <td class="product-checkbox"><input class="form-check-input" type="checkbox" id="product3" value="" aria-label="..."></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="me-2">
                                            <span class="avatar avatar-md avatar-rounded">
                                                <img src="./assets/images/products/5.jpg" alt="">
                                            </span>
                                        </div>
                                        <div class="fw-semibold">
                                            Dazem Stool
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-light text-default">Furniture</span>
                                </td>
                                <td>$349</td>
                                <td>1,293</td>
                                <td>SlowTrack Company</td>
                                <td>21,Oct 2023- 11:36AM</td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a aria-label="anchor" [routerLink]="['/pages/ecommerce/edit-products']" class=""  placement="top" ngbTooltip="Edit">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M5 18.08V19h.92l9.06-9.06-.92-.92z" opacity=".3"></path><path d="M20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83zM3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19z"></path></svg>
                                        </a>
                                        <a aria-label="anchor" href="javascript:void(0)" class=" btn-delete" placement="top"ngbTooltip="Remove">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M8 9h8v10H8z" opacity=".3"></path><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"></path></svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="product-list">
                                <td class="product-checkbox"><input class="form-check-input" type="checkbox" id="product4" value="" aria-label="..."></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="me-2">
                                            <span class="avatar avatar-md avatar-rounded">
                                                <img src="./assets/images/products/3.jpg" alt="">
                                            </span>
                                        </div>
                                        <div class="fw-semibold">
                                           Daxem Wireless Earpods
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-light text-default">Electrical</span>
                                </td>
                                <td>$189</td>
                                <td>322</td>
                                <td>WoodHill.co.in</td>
                                <td>16,Oct 2023- 12:45AM</td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a aria-label="anchor" [routerLink]="['/pages/ecommerce/edit-products']" class=""  placement="top" ngbTooltip="Edit">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M5 18.08V19h.92l9.06-9.06-.92-.92z" opacity=".3"></path><path d="M20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83zM3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19z"></path></svg>
                                        </a>
                                        <a aria-label="anchor" href="javascript:void(0)" class=" btn-delete" placement="top"ngbTooltip="Remove">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M8 9h8v10H8z" opacity=".3"></path><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"></path></svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="product-list">
                                <td class="product-checkbox"><input class="form-check-input" type="checkbox" id="product5" value="" aria-label="..."></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="me-2">
                                            <span class="avatar avatar-md avatar-rounded">
                                                <img src="./assets/images/products/4.jpg" alt="">
                                            </span>
                                        </div>
                                        <div class="fw-semibold">
                                            Vintage Tea Cup
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-light text-default">Accesories</span>
                                </td>
                                <td>$2,499</td>
                                <td>194</td>
                                <td>Ultra .co.in</td>
                                <td>12,Aug 2023- 11:21AM</td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a aria-label="anchor" [routerLink]="['/pages/ecommerce/edit-products']" class=""  placement="top" ngbTooltip="Edit">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M5 18.08V19h.92l9.06-9.06-.92-.92z" opacity=".3"></path><path d="M20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83zM3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19z"></path></svg>
                                        </a>
                                        <a aria-label="anchor" href="javascript:void(0)" class=" btn-delete" placement="top"ngbTooltip="Remove">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M8 9h8v10H8z" opacity=".3"></path><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"></path></svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="product-list">
                                <td class="product-checkbox"><input class="form-check-input" type="checkbox" id="product6" value="" aria-label="..."></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="me-2">
                                            <span class="avatar avatar-md avatar-rounded">
                                                <img src="./assets/images/products/6.jpg" alt="">
                                            </span>
                                        </div>
                                        <div class="fw-semibold">
                                            Orange TeddyBear
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-light text-default">Toys</span>
                                </td>
                                <td>$899</td>
                                <td>267</td>
                                <td>Ultra .co.in</td>
                                <td>05,Sep 2023- 10:14AM</td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a aria-label="anchor" [routerLink]="['/pages/ecommerce/edit-products']" class=""  placement="top" ngbTooltip="Edit">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M5 18.08V19h.92l9.06-9.06-.92-.92z" opacity=".3"></path><path d="M20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83zM3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19z"></path></svg>
                                        </a>
                                        <a aria-label="anchor" href="javascript:void(0)" class=" btn-delete" placement="top"ngbTooltip="Remove">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M8 9h8v10H8z" opacity=".3"></path><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"></path></svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="product-list">
                                <td class="product-checkbox"><input class="form-check-input" type="checkbox" id="product7" value="" aria-label="..."></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="me-2">
                                            <span class="avatar avatar-md avatar-rounded">
                                                <img src="./assets/images/products/7.jpg" alt="">
                                            </span>
                                        </div>
                                        <div class="fw-semibold">
                                            Artifical Flowerpot
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-light text-default">Furniture</span>
                                </td>
                                <td>$499</td>
                                <td>143</td>
                                <td>Louie Philippe</td>
                                <td>18,Nov 2023- 14:35PM</td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a aria-label="anchor" [routerLink]="['/pages/ecommerce/edit-products']" class=""  placement="top" ngbTooltip="Edit">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M5 18.08V19h.92l9.06-9.06-.92-.92z" opacity=".3"></path><path d="M20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83zM3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19z"></path></svg>
                                        </a>
                                        <a aria-label="anchor" href="javascript:void(0)" class=" btn-delete" placement="top"ngbTooltip="Remove">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M8 9h8v10H8z" opacity=".3"></path><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"></path></svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="product-list">
                                <td class="product-checkbox"><input class="form-check-input" type="checkbox" id="product8" value="" aria-label="..."></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="me-2">
                                            <span class="avatar avatar-md avatar-rounded">
                                                <img src="./assets/images/products/8.jpg" alt="">
                                            </span>
                                        </div>
                                        <div class="fw-semibold">
                                            Ikonic Headphones
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-light text-default">Electrical</span>
                                </td>
                                <td>$999</td>
                                <td>365</td>
                                <td>Kohino.zaps.com</td>
                                <td>27,Nov 2023- 05:12AM</td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a aria-label="anchor" [routerLink]="['/pages/ecommerce/edit-products']" class=""  placement="top" ngbTooltip="Edit">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M5 18.08V19h.92l9.06-9.06-.92-.92z" opacity=".3"></path><path d="M20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83zM3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19z"></path></svg>
                                        </a>
                                        <a aria-label="anchor" href="javascript:void(0)" class=" btn-delete" placement="top"ngbTooltip="Remove">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M8 9h8v10H8z" opacity=".3"></path><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"></path></svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="product-list">
                                <td class="product-checkbox"><input class="form-check-input" type="checkbox" id="product9" value="" aria-label="..."></td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="me-2">
                                            <span class="avatar avatar-md avatar-rounded">
                                                <img src="./assets/images/products/9.jpg" alt="">
                                            </span>
                                        </div>
                                        <div class="fw-semibold">
                                            Chain with Heart shape pendent
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-light text-default">Jewellery</span>
                                </td>
                                <td>$1,499</td>
                                <td>257</td>
                                <td>Apple Corporation</td>
                                <td>29,Nov 2023- 16:32PM</td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a aria-label="anchor" [routerLink]="['/pages/ecommerce/edit-products']" class=""  placement="top" ngbTooltip="Edit">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M5 18.08V19h.92l9.06-9.06-.92-.92z" opacity=".3"></path><path d="M20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83zM3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19z"></path></svg>
                                        </a>
                                        <a aria-label="anchor" href="javascript:void(0)" class=" btn-delete" placement="top"ngbTooltip="Remove">
                                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M8 9h8v10H8z" opacity=".3"></path><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"></path></svg>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <nav aria-label="...">
                        <ul class="pagination mb-0">
                            <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">2</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript:void(0);">Next</a>
                            </li>
                        </ul>
                    </nav>
                    <button type="button" class="btn btn-danger btn-wave m-1">Delete All</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->