<app-modal-formulario titulo="Editar Tipo Acción" subtitulo="Modifique los datos del tipo de acción." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="guardarCambios()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="ta-e-codTipoAccion">Código<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="ta-e-codTipoAccion" type="text" class="form-control" autocomplete="off" minlength="1" maxlength="6" [(ngModel)]="objRegistroEditado.codTipoAccion" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="ta-e-desTipoAccion">Descripción<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="ta-e-desTipoAccion" type="text" class="form-control" autocomplete="off" minlength="1" maxlength="60" [(ngModel)]="objRegistroEditado.desTipoAccion" required>
            </div>
        </div>
    </fieldset>

</app-modal-formulario>
