<app-modal-formulario titulo="Editar Tipo de Tasa" subtitulo="Modifique los datos del tipo de tasa." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="guardarCambios()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="tt-e-nombreTipoTasa">Nombre<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="tt-e-nombreTipoTasa" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="100" [(ngModel)]="objRegistroEditado.nombreTipoTasa" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="tt-e-nombreCortoTipoTasa">Nombre Corto</label>
                <input id="tt-e-nombreCortoTipoTasa" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="50" [(ngModel)]="objRegistroEditado.nombreCortoTipoTasa">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="tt-e-descripcionTipoTasa">Descripción</label>
                <input id="tt-e-descripcionTipoTasa" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="500" [(ngModel)]="objRegistroEditado.descripcionTipoTasa">
            </div>
        </div>
    </fieldset>

</app-modal-formulario>
