<app-modal-formulario titulo="Editar Subsidiaria" subtitulo="Modifique los datos de la subsidiaria." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="guardarCambios()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="su-e-codCorp">Corporación<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="su-e-codCorp" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="20" [(ngModel)]="objRegistroEditado.codCorp" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="su-e-descSubsidiaria">Descripción<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="su-e-descSubsidiaria" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="20" [(ngModel)]="objRegistroEditado.descSubsidiaria" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="su-e-codMonedaFunc">Moneda Funcional</label>
                <input id="su-e-codMonedaFunc" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="20" [(ngModel)]="objRegistroEditado.codMonedaFunc">
            </div>
        </div>
    </fieldset>

</app-modal-formulario>
