<app-modal-formulario titulo="Editar Term. Volatilidad" subtitulo="Modifique los datos del term. volatilidad." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="guardarCambios()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="tv-e-descripcionTermVolatility">Descripción<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="tv-e-descripcionTermVolatility" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="50" [(ngModel)]="objRegistroEditado.descripcionTermVolatility" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="tv-e-code">Código<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="tv-e-code" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="10" [(ngModel)]="objRegistroEditado.code" required>
            </div>
        </div>
    </fieldset>

</app-modal-formulario>
