<div class="page bg-style error-page">
    <div class="page-content">
        <div class="container text-center  relative">
            <div class="display-1 text-fixed-white mb-3 fw-bold">401</div>
            <h1 class="h3 mb-3 fw-bold text-fixed-white">Un Authorized Error!</h1>
            <p class="h5 fw-normal mb-4 leading-normal text-fixed-white op-8">You may have mistyped the address or the page may have moved.</p>
            <a class="btn btn-secondary" [routerLink]="['/dashboards/sales']"><i class="fe fe-arrow-left-circle m-1"></i>Back to Home</a>
        </div>
    </div>
</div>
