<app-modal-formulario titulo="Editar Índice de Mercado" subtitulo="Modifique los datos y guarde los cambios." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" (cerrar)="cerrar()" (guardar)="guardarCambios()">

        <fieldset class="hig-seccion">
            <legend>Índice</legend>
            <div class="hig-cuadricula hig-columnas-1">
                <div class="hig-campo">
                    <label class="form-label" for="im-e-codigo">Código<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <input id="im-e-codigo" type="text" class="form-control" autocomplete="off" maxlength="6" [(ngModel)]="this.objRegistroEditado.codigo" required>
                </div>
            </div>
        </fieldset>

</app-modal-formulario>
