
<app-page-header hassub="" sub="Charts" title1="Apex Charts" title="Apex Radar Charts" activeTitle="Apex Radar Charts"></app-page-header>
<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
       <div class="card custom-card">
            <div class="top-left"></div>
            <div class="top-right"></div>
            <div class="bottom-left"></div>
            <div class="bottom-right"></div>
            <div class="card-header">
                <div class="card-title">Basic Radar Chart</div>
            </div>
            <div class="card-body">
                <div id="radar-basic">
                    <!--The content below is only a placeholder and can be replaced.-->
                    <div id="chart"> 
                        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [colors]="chartOptions.colors"
                            [xaxis]="chartOptions.xaxis" [title]="chartOptions.title"></apx-chart>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
       <div class="card custom-card">
            <div class="top-left"></div>
            <div class="top-right"></div>
            <div class="bottom-left"></div>
            <div class="bottom-right"></div>
            <div class="card-header">
                <div class="card-title">Radar Chart-Multiple Series</div>
            </div>
            <div class="card-body">
                <div id="radar-multiple">
                    <!--The content below is only a placeholder and can be replaced.-->
                    <div id="chart">
                        <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                            [xaxis]="chartOptions1.xaxis" [stroke]="chartOptions1.stroke" [colors]="chartOptions1.colors"
                            [markers]="chartOptions1.markers" [fill]="chartOptions1.fill"
                            [title]="chartOptions1.title"></apx-chart>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
       <div class="card custom-card">
            <div class="top-left"></div>
            <div class="top-right"></div>
            <div class="bottom-left"></div>
            <div class="bottom-right"></div>
            <div class="card-header">
                <div class="card-title">Radar Chart polygon Fill</div>
            </div>
            <div class="card-body">
                <div id="radar-polygon">
                    <!--The content below is only a placeholder and can be replaced.-->
                    <div id="chart">
                        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                            [xaxis]="chartOptions2.xaxis" [stroke]="chartOptions2.stroke" [colors]="chartOptions2.colors"
                            [dataLabels]="chartOptions2.dataLabels" [tooltip]="chartOptions2.tooltip"
                            [plotOptions]="chartOptions2.plotOptions" [markers]="chartOptions2.markers"
                            [yaxis]="chartOptions2.yaxis" [fill]="chartOptions2.fill" 
                            [title]="chartOptions2.title">
                        </apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->