<app-page-header title1="Apps" title="Full-Calendar"  activeTitle="Full-Calendar"></app-page-header>
<!-- Start::row-1 -->
   <div class="card">
    <div class="row g-0">
       <div class="col-xl-3 border-end">
            <div class="card-header">
                <a  class="btn btn-primary btn-sm w-100" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modalSetSchedule"><i class="ri-add-line align-middle me-1 fw-semibold d-inline-block"></i> Add New Event</a>
            </div>
            <div class="card-body">
                <div  mwlDroppable
                (drop)="externalDrop($event.dropData.event)"
                dragOverClass="drag-over" id="external-events" class="">
                @for(event of events;track $index){
                    <div  mwlDraggable
                    [dropData]="{ event: event }"
                    [touchStartLongPress]="{ delay: 300, delta: 30 }"
                    dragActiveClass="drag-active" class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event bg-{{event.cssClass}}">
                      <div class="fc-event-main text-fixed-white"><i class="ri-calendar-line me-2 d-inline-block"></i> {{ event.title }}</div>
                    </div>
                  }
                </div>
            </div>
       </div>
       <div class="col-xl-9">
            <div class="card-header">
                <div class="card-title">Full Calendar</div>
            </div>
                <div class="card-body">
                    <div id="calendar2">
                      <div class="d-flex align-items-center justify-content-between flex-wrap gap-1">
                        <div class="text-start mb-2">
                          <div class="btn-group">
                            <div
                              class="btn btn-primary"
                              mwlCalendarPreviousView
                              [view]="view"
                              [(viewDate)]="viewDate"
                              (viewDateChange)="closeOpenMonthViewDay()"
                            >
                              <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </div>
                            <div
                              class="btn btn-primary"
                              mwlCalendarNextView
                              [view]="view"
                              [(viewDate)]="viewDate"
                              (viewDateChange)="closeOpenMonthViewDay()"
                            >
                              <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                          </div>
                            <div
                              class="btn btn-primary ms-2"
                              mwlCalendarToday
                              [(viewDate)]="viewDate"
                            >
                              Today
                          </div>
                        </div>
                        <div class="mb-2">
                          <h3>{{ viewDate | calendarDate : view + "ViewTitle" : "en" }}</h3>
                        </div>
                        <div class="text-end mb-2">
                          <div class="btn-group">
                            <div
                              class="btn btn-primary mb-1"
                              (click)="setView(CalendarView.Month)"
                              [class.active]="view === CalendarView.Month"
                            >
                              Month
                            </div>
                            <div
                              class="btn btn-primary mb-1"
                              (click)="setView(CalendarView.Week)"
                              [class.active]="view === CalendarView.Week"
                            >
                              Week
                            </div>
                            <div
                              class="btn btn-primary mb-1"
                              (click)="setView(CalendarView.Day)"
                              [class.active]="view === CalendarView.Day"
                            >
                              Day
                            </div>
                            <button
                              class="btn btn-raised btn-primary float-end mb-1"
                              (click)="addEvent()"
                            >
                              List
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    @switch (view) {
                      @case ('month') {
                        <mwl-calendar-month-view  [viewDate]="viewDate"
                            [events]="events" [activeDayIsOpen]="activeDayIsOpen" [refresh]="refresh"
                            (dayClicked)="dayClicked($event.day)"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)">
                        </mwl-calendar-month-view>
                      }
                      @case ("week"){
                        <mwl-calendar-week-view  [viewDate]="viewDate"
                            [events]="events" [refresh]="refresh" [snapDraggedEvents]="false"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventDropped($event)">
                        </mwl-calendar-week-view>
                      }
                      @case ("day"){
                        <mwl-calendar-day-view  [viewDate]="viewDate"
                            [events]="events" [refresh]="refresh" [snapDraggedEvents]="false"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventDropped($event)">
                        </mwl-calendar-day-view>
                      }
                    }</div>
       </div>
   </div>
 </div>
<!--End::row-1 -->

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ modalData.action }}</h5>
    <button type="button" class="btn-close" (click)="close()">
      <!-- <span aria-hidden="true">&times;</span> -->
    </button>
  </div>
  <div class="modal-body">
    <form action="#" class="form form-horizontal">
      <div class="form-body">
        <div class="form-group mb-2">
          <label>Event Title:</label>
          <input
            type="text"
            name="event-title"
            class="form-control"
            [(ngModel)]="modalData['event']['title']"
            (keyup)="refresh.next(true)"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label>Starts At:</label>
          <input
            class="form-control"
            name="event-title2"
            type="text"
            mwlFlatpickr
            [(ngModel)]="modalData['event']['start']"
            ngbDatepicker
            #d="ngbDatepicker"
            (click)="d.toggle()"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">OK</button>
  </div>
</ng-template>
