<app-modal-formulario titulo="Editar Método Amortización" subtitulo="Modifique los datos del método de amortización." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="guardarCambios()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="ma-e-nombreMetodo">Nombre<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="ma-e-nombreMetodo" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="100" [(ngModel)]="objRegistroEditado.nombreMetodo" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="ma-e-nombreCortoMetodo">Nombre Corto</label>
                <input id="ma-e-nombreCortoMetodo" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="10" [(ngModel)]="objRegistroEditado.nombreCortoMetodo">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="ma-e-descripcionMetodo">Descripción<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="ma-e-descripcionMetodo" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="500" [(ngModel)]="objRegistroEditado.descripcionMetodo" required>
            </div>
        </div>
    </fieldset>

</app-modal-formulario>
