<app-page-header hassub="" sub="Charts" title1="Apex Charts" title="Apex Boxplot Charts" activeTitle="Apex Boxplot Charts"></app-page-header>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="top-left"></div>
            <div class="top-right"></div>
            <div class="bottom-left"></div>
            <div class="bottom-right"></div>
            <div class="card-header">
                <div class="card-title">Basic Boxplot Chart</div>
            </div>
            <div class="card-body">
                <div id="boxplot-basic">
                    <!--The content below is only a placeholder and can be replaced.-->
                    <div id="chart">
                        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" 
                            [plotOptions]="chartOptions.plotOptions" [title]="chartOptions.title" [colors]="chartOptions.colors"></apx-chart>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="top-left"></div>
            <div class="top-right"></div>
            <div class="bottom-left"></div>
            <div class="bottom-right"></div>
            <div class="card-header">
                <div class="card-title">Boxplot With Scatter Chart</div>
            </div>
            <div class="card-body">
                <div id="boxplot-scatter">
                    <!--The content below is only a placeholder and can be replaced.-->
                    <div id="chart">
                        <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"  [colors]="chartOptions1.colors"
                            [xaxis]="chartOptions1.xaxis" [title]="chartOptions1.title" [plotOptions]="chartOptions1.plotOptions"
                            [tooltip]="chartOptions1.tooltip"></apx-chart>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card custom-card">
            <div class="top-left"></div>
            <div class="top-right"></div>
            <div class="bottom-left"></div>
            <div class="bottom-right"></div>
            <div class="card-header">
                <div class="card-title">Horizontal Boxplot Chart</div>
            </div>
            <div class="card-body">
                <div id="boxplot-horizontal">
                    <!--The content below is only a placeholder and can be replaced.-->
                    <div id="chart">
                        <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                            [plotOptions]="chartOptions2.plotOptions" [title]="chartOptions2.title"
                            [stroke]="chartOptions2.stroke"></apx-chart>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->