
<app-page-header hassub="" sub="Home" title1="Pages" title="Team" activeTitle="Team" ></app-page-header>
<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card bg-transparent shadow-none border-0">
            <div class="card-body p-0">
                <div class="team-header">
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                        <div>
                            <div class="input-group">
                                <input type="text" class="form-control bg-white border-0" placeholder="Search Person Name" aria-describedby="search-team-member">
                                <button aria-label="button" class="btn btn-light bg-white border-0" type="button" id="search-team-member"><i class="ri-search-line text-muted"></i></button>
                            </div>
                        </div>
                        <div ngbDropdown class="dropdown ms-2 mt-2 mt-sm-0">
                            <button ngbDropdownToggle aria-label="button" class="btn btn-light btn-wave waves-effect waves-light px-2 no-caret" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ti ti-dots-vertical fs-18"></i>
                            </button>
                            <ul ngbDropdownMenu class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);">Move To</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Edit</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Remove</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card team-member-card">
            <div class="teammember-cover-image">
                <img src="./assets/images/media/team-covers/1.jpg" class="card-img-top" alt="...">
                <span class="avatar avatar-xl avatar-rounded">
                    <img src="./assets/images/faces/11.jpg" alt="">
                </span>
                <a aria-label="anchor" href="javascript:void(0);" class="team-member-star text-warning">
                    <i class="ri-star-fill fs-16"></i>
                </a>
            </div>
            <div class="card-body p-0">
                <div class="d-flex flex-wrap align-item-center mt-sm-0 mt-5 justify-content-between border-bottom border-block-end-dashed p-3">
                    <div class="team-member-details flex-fill">
                        <p class="mb-0 fw-semibold fs-16 text-truncate">
                            <a href="javascript:void(0);">Alexander Smith</a>
                        </p>
                        <p class="mb-0 fs-12 text-muted text-break">alexandersmith2135&#64;gmail.com</p>
                    </div>
                    <div ngbDropdown class="dropdown ms-2 mt-2 mt-sm-0">
                        <button ngbDropdownToggle  aria-label="button" type="button" class="btn btn-sm btn-icon btn-light btn-wave no-caret" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-dots-vertical"></i>
                        </button>
                            <ul ngbDropdownMenu class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);">Move To</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Edit</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Remove</a></li>
                            </ul>
                        </div>
                </div>
                <div class="team-member-stats d-sm-flex justify-content-evenly">
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0 text-nowrap">Member Since</p>
                        <span class="text-muted fs-12">16 Months</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Projects</p>
                        <span class="text-muted fs-12">45</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Position</p>
                        <span class="text-muted fs-12">Member</span>
                    </div>
                </div>
            </div>
            <div class="card-footer border-block-start-dashed text-center">
                <div class="btn-list">
                    <div class="btn-list">
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card team-member-card">
            <div class="teammember-cover-image">
                <img src="./assets/images/media/team-covers/2.jpg" class="card-img-top" alt="...">
                <span class="avatar avatar-xl avatar-rounded">
                    <img src="./assets/images/faces/2.jpg" alt="">
                </span>
                <a aria-label="anchor" href="javascript:void(0);" class="team-member-star text-fixed-white">
                    <i class="ri-star-fill fs-16"></i>
                </a>
            </div>
            <div class="card-body p-0">
                <div class="d-flex flex-wrap align-item-center mt-sm-0 mt-5 justify-content-between border-bottom border-block-end-dashed p-3">
                    <div class="team-member-details flex-fill">
                        <p class="mb-0 fw-semibold fs-16 text-truncate">
                            <a href="javsscript:void(0);">Alicia Sierra</a>
                        </p>
                        <p class="mb-0 fs-12 text-muted text-break">aliciasierra1645&#64;gmail.com</p>
                    </div>
                    <div ngbDropdown class="dropdown ms-2 mt-2 mt-sm-0">
                        <button ngbDropdownToggle  aria-label="button" type="button" class="btn btn-sm btn-icon btn-light btn-wave no-caret" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-dots-vertical"></i>
                        </button>
                            <ul ngbDropdownMenu class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);">Move To</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Edit</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Remove</a></li>
                            </ul>
                        </div>
                </div>
                <div class="team-member-stats d-sm-flex justify-content-evenly">
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0 text-nowrap">Member Since</p>
                        <span class="text-muted fs-12">2 Years</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Projects</p>
                        <span class="text-muted fs-12">78</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Position</p>
                        <span class="text-muted fs-12">Associate</span>
                    </div>
                </div>
            </div>
            <div class="card-footer border-block-start-dashed text-center">
                <div class="btn-list">
                    <div class="btn-list">
                        <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card team-member-card">
            <div class="teammember-cover-image">
                <img src="./assets/images/media/team-covers/3.jpg" class="card-img-top" alt="...">
                <span class="avatar avatar-xl avatar-rounded">
                    <img src="./assets/images/faces/4.jpg" alt="">
                </span>
                <a aria-label="anchor" href="javascript:void(0);" class="team-member-star text-fixed-white">
                    <i class="ri-star-fill fs-16"></i>
                </a>
            </div>
            <div class="card-body p-0">
                <div class="d-flex flex-wrap align-item-center mt-sm-0 mt-5 justify-content-between border-bottom border-block-end-dashed p-3">
                    <div class="team-member-details flex-fill">
                        <p class="mb-0 fw-semibold fs-16 text-truncate">
                            <a href="javascript:void(0);">Angelica Hose</a>
                        </p>
                        <p class="mb-0 fs-12 text-muted text-break">angelica143&#64;gmail.com</p>
                    </div>
                    <div ngbDropdown class="dropdown ms-2 mt-2 mt-sm-0">
                        <button ngbDropdownToggle  aria-label="button" type="button" class="btn btn-sm btn-icon btn-light btn-wave no-caret" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-dots-vertical"></i>
                        </button>
                            <ul ngbDropdownMenu class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);">Move To</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Edit</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Remove</a></li>
                            </ul>
                        </div>
                </div>
                <div class="team-member-stats d-sm-flex justify-content-evenly">
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0 text-nowrap">Member Since</p>
                        <span class="text-muted fs-12">12 Months</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Projects</p>
                        <span class="text-muted fs-12">35</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Position</p>
                        <span class="text-muted fs-12">Member</span>
                    </div>
                </div>
            </div>
            <div class="card-footer border-block-start-dashed text-center">
                <div class="btn-list">
                    <div class="btn-list">
                        <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card team-member-card">
            <div class="teammember-cover-image">
                <img src="./assets/images/media/team-covers/4.jpg" class="card-img-top" alt="...">
                <span class="avatar avatar-xl avatar-rounded">
                    <img src="./assets/images/faces/10.jpg" alt="">
                </span>
                <a aria-label="anchor" href="javascript:void(0);" class="team-member-star text-fixed-white">
                    <i class="ri-star-fill fs-16"></i>
                </a>
            </div>
            <div class="card-body p-0">
                <div class="d-flex flex-wrap align-item-center mt-sm-0 mt-5 justify-content-between border-bottom border-block-end-dashed p-3">
                    <div class="team-member-details flex-fill">
                        <p class="mb-0 fw-semibold fs-16 text-truncate">
                            <a href="javascript:void(0);">Jhope Joseph</a>
                        </p>
                        <p class="mb-0 fs-12 text-muted text-break">jhope.joseph&#64;gmail.com</p>
                    </div>
                    <div ngbDropdown class="dropdown ms-2 mt-2 mt-sm-0">
                        <button ngbDropdownToggle  aria-label="button" type="button" class="btn btn-sm btn-icon btn-light btn-wave no-caret" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-dots-vertical"></i>
                        </button>
                            <ul ngbDropdownMenu class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);">Move To</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Edit</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Remove</a></li>
                            </ul>
                        </div>
                </div>
                <div class="team-member-stats d-sm-flex justify-content-evenly">
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0 text-nowrap">Member Since</p>
                        <span class="text-muted fs-12">3 Years</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Projects</p>
                        <span class="text-muted fs-12">126</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Position</p>
                        <span class="text-muted fs-12">Team Lead</span>
                    </div>
                </div>
            </div>
            <div class="card-footer border-block-start-dashed text-center">
                <div class="btn-list">
                    <div class="btn-list">
                        <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button type="button" aria-label="button" class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card team-member-card">
            <div class="teammember-cover-image">
                <img src="./assets/images/media/team-covers/5.jpg" class="card-img-top" alt="...">
                <span class="avatar avatar-xl avatar-rounded">
                    <img src="./assets/images/faces/13.jpg" alt="">
                </span>
                <a aria-label="anchor" href="javascript:void(0);" class="team-member-star text-warning">
                    <i class="ri-star-fill fs-16"></i>
                </a>
            </div>
            <div class="card-body p-0">
                <div class="d-flex flex-wrap align-item-center mt-sm-0 mt-5 justify-content-between border-bottom border-block-end-dashed p-3">
                    <div class="team-member-details flex-fill">
                        <p class="mb-0 fw-semibold fs-16 text-truncate">
                            <a href="javascript:void(0);">King Martin</a>
                        </p>
                        <p class="mb-0 fs-12 text-muted text-break">martinking1998&#64;gmail.com</p>
                    </div>
                    <div ngbDropdown class="dropdown ms-2 mt-2 mt-sm-0">
                        <button ngbDropdownToggle  aria-label="button" type="button" class="btn btn-sm btn-icon btn-light btn-wave no-caret" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-dots-vertical"></i>
                        </button>
                            <ul ngbDropdownMenu class="dropdown-menu">
                                <li><a class="dropdown-item" href="javascript:void(0);">Move To</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Edit</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0);">Remove</a></li>
                            </ul>
                        </div>
                </div>
                <div class="team-member-stats d-sm-flex justify-content-evenly">
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0 text-nowrap">Member Since</p>
                        <span class="text-muted fs-12">28 Months</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Projects</p>
                        <span class="text-muted fs-12">114</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Position</p>
                        <span class="text-muted fs-12">Member</span>
                    </div>
                </div>
            </div>
            <div class="card-footer border-block-start-dashed text-center">
                <div class="btn-list">
                    <div class="btn-list">
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card team-member-card">
            <div class="teammember-cover-image">
                <img src="./assets/images/media/team-covers/6.jpg" class="card-img-top" alt="...">
                <span class="avatar avatar-xl avatar-rounded">
                    <img src="./assets/images/faces/5.jpg" alt="">
                </span>
                <a aria-label="anchor" href="javascript:void(0);" class="team-member-star text-fixed-white">
                    <i class="ri-star-fill fs-16"></i>
                </a>
            </div>
            <div class="card-body p-0">
                <div class="d-flex flex-wrap align-item-center mt-sm-0 mt-5 justify-content-between border-bottom border-block-end-dashed p-3">
                    <div class="team-member-details flex-fill">
                        <p class="mb-0 fw-semibold fs-16 text-truncate">
                            <a href="javascript:void(0);">Susan Sane</a>
                        </p>
                        <p class="mb-0 fs-12 text-muted text-break">susanasane&#64;gmail.com</p>
                    </div>
                    <div ngbDropdown class="dropdown">
                        <button ngbDropdownToggle  aria-label="button" type="button" class="btn btn-sm btn-icon btn-light btn-wave no-caret" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-dots-vertical"></i>
                        </button>
                        <ul ngbDropdownMenu class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0);">Move To</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Edit</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Remove</a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-member-stats d-sm-flex justify-content-evenly">
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0 text-nowrap">Member Since</p>
                        <span class="text-muted fs-12">18 Months</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Projects</p>
                        <span class="text-muted fs-12">74</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Position</p>
                        <span class="text-muted fs-12">Member</span>
                    </div>
                </div>
            </div>
            <div class="card-footer border-block-start-dashed text-center">
                <div class="btn-list">
                    <div class="btn-list">
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card team-member-card">
            <div class="teammember-cover-image">
                <img src="./assets/images/media/team-covers/7.jpg" class="card-img-top" alt="...">
                <span class="avatar avatar-xl avatar-rounded">
                    <img src="./assets/images/faces/8.jpg" alt="">
                </span>
                <a aria-label="anchor" href="javascript:void(0);" class="team-member-star text-fixed-white">
                    <i class="ri-star-fill fs-16"></i>
                </a>
            </div>
            <div class="card-body p-0">
                <div class="d-flex flex-wrap align-item-center mt-sm-0 mt-5 justify-content-between border-bottom border-block-end-dashed p-3">
                    <div class="team-member-details flex-fill">
                        <p class="mb-0 fw-semibold fs-16 text-truncate">
                            <a href="javascript:void(0);">Brenda Hops</a>
                        </p>
                        <p class="mb-0 fs-12 text-muted text-break">brrendahops245&#64;gmail.com</p>
                    </div>
                    <div ngbDropdown class="dropdown">
                        <button ngbDropdownToggle  aria-label="button" type="button" class="btn btn-sm btn-icon btn-light btn-wave no-caret" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-dots-vertical"></i>
                        </button>
                        <ul ngbDropdownMenu class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0);">Move To</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Edit</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Remove</a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-member-stats d-sm-flex justify-content-evenly">
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0 text-nowrap">Member Since</p>
                        <span class="text-muted fs-12">16 Months</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Projects</p>
                        <span class="text-muted fs-12">64</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Position</p>
                        <span class="text-muted fs-12">Member</span>
                    </div>
                </div>
            </div>
            <div class="card-footer border-block-start-dashed text-center">
                <div class="btn-list">
                    <div class="btn-list">
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card team-member-card">
            <div class="teammember-cover-image">
                <img src="./assets/images/media/team-covers/8.jpg" class="card-img-top" alt="...">
                <span class="avatar avatar-xl avatar-rounded">
                    <img src="./assets/images/faces/14.jpg" alt="">
                </span>
                <a aria-label="anchor" href="javascript:void(0);" class="team-member-star text-fixed-white">
                    <i class="ri-star-fill fs-16"></i>
                </a>
            </div>
            <div class="card-body p-0">
                <div class="d-flex flex-wrap align-item-center mt-sm-0 mt-5 justify-content-between border-bottom border-block-end-dashed p-3">
                    <div class="team-member-details flex-fill">
                        <p class="mb-0 fw-semibold fs-16 text-truncate">
                            <a href="javascript:void(0);">Paul Rudd</a>
                        </p>
                        <p class="mb-0 fs-12 text-muted text-break">paulrudd143&#64;gmail.com</p>
                    </div>
                    <div ngbDropdown class="dropdown">
                        <button ngbDropdownToggle  aria-label="button" type="button" class="btn btn-sm btn-icon btn-light btn-wave no-caret" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-dots-vertical"></i>
                        </button>
                        <ul ngbDropdownMenu class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0);">Move To</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Edit</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Remove</a></li>
                        </ul>
                    </div>
                </div>
                <div class="team-member-stats d-sm-flex justify-content-evenly">
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0 text-nowrap">Member Since</p>
                        <span class="text-muted fs-12">7 Months</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Projects</p>
                        <span class="text-muted fs-12">17</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Position</p>
                        <span class="text-muted fs-12">Member</span>
                    </div>
                </div>
            </div>
            <div class="card-footer border-block-start-dashed text-center">
                <div class="btn-list">
                    <div class="btn-list">
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="card team-member-card">
            <div class="teammember-cover-image">
                <img src="./assets/images/media/team-covers/9.jpg" class="card-img-top" alt="...">
                <span class="avatar avatar-xl avatar-rounded">
                    <img src="./assets/images/faces/15.jpg" alt="">
                </span>
                <a aria-label="anchor" href="javascript:void(0);" class="team-member-star text-fixed-white">
                    <i class="ri-star-fill fs-16"></i>
                </a>
            </div>
            <div class="card-body p-0">
                <div class="d-flex flex-wrap align-item-center mt-sm-0 mt-5 justify-content-between border-bottom border-block-end-dashed p-3">
                    <div class="team-member-details flex-fill">
                        <p class="mb-0 fw-semibold fs-16 text-truncate">
                            <a href="javascript:void(0);">Elisha Jin</a>
                        </p>
                        <p class="mb-0 fs-12 text-muted text-break">elishajin&#64;gmail.com</p>
                    </div>
                    <div ngbDropdown class="dropdown">
                        <button ngbDropdownToggle  aria-label="button" type="button" class="btn btn-sm btn-icon btn-light btn-wave no-caret" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-dots-vertical"></i>
                        </button>
                        <ul ngbDropdownMenu class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0);">Move To</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Edit</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Remove</a></li>
                        </ul>
                    </div>
                </div>  
                <div class="team-member-stats d-sm-flex justify-content-evenly">
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0 text-nowrap">Member Since</p>
                        <span class="text-muted fs-12">4 Years</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Projects</p>
                        <span class="text-muted fs-12">321</span>
                    </div>
                    <div class="text-center p-3 my-auto w-100">
                        <p class="fw-semibold mb-0">Position</p>
                        <span class="text-muted fs-12">Manager</span>
                    </div>
                </div>
            </div>
            <div class="card-footer border-block-start-dashed text-center">
                <div class="btn-list">
                    <div class="btn-list">
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-light btn-wave waves-effect waves-light">
                            <i class="ri-facebook-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                            <i class="ri-twitter-x-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                            <i class="ri-instagram-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                            <i class="ri-github-line fw-bold"></i>
                        </button>
                        <button aria-label="button" type="button" class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                            <i class="ri-youtube-line fw-bold"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="...">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
            <li class="page-item active" aria-current="page">
                <span class="page-link">2</span>
            </li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0);">Next</a>
            </li>
        </ul>
    </nav>
</div>
<!--End::row-1 -->