<div id="myModal" tabindex="-1" data-keyboard="false" role="dialog">
    <div role="document" class="msg_card_body" style="width: 100%;">
        <div class="modal-header">
            <table style="width: 100%;">
                <tr style="width: 100%;">
                    <td style="text-align: left; padding: 0% 0% 0.5% 1%;">
                        <h3 class="modal-title">Editar Moneda</h3>
                    </td>
                    <td style="text-align: right; padding-right: 1.3%;">
                        <button type="button" class="icon-close" (click)="cerrar()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label">Código</label>
                    <input type="text" placeholder="Código" minlength="3" maxlength="3" class="form-control" [(ngModel)]="this.objRegistroEditado.codMoneda">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Descripción</label>
                    <input type="text" placeholder="Descripción" minlength="2" maxlength="60" class="form-control" [(ngModel)]="this.objRegistroEditado.desMoneda">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Descripción Corta</label>
                    <input type="text" placeholder="Descripción Corta" minlength="3" maxlength="3" class="form-control" [(ngModel)]="this.objRegistroEditado.desCorto">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Sucave</label>
                    <input type="text" placeholder="Sucave" minlength="4" maxlength="4" class="form-control" [(ngModel)]="this.objRegistroEditado.codSucave">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <label class="form-label">Relación USD</label>
                    <input type="text" placeholder="Relación USD" minlength="1" maxlength="1" class="form-control" [(ngModel)]="this.objRegistroEditado.codTipoRelacionUSD">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Cod. Moneda Int.</label>
                    <input type="text" placeholder="Cod. Moneda Int." minlength="4" maxlength="4" class="form-control" [(ngModel)]="this.objRegistroEditado.codMonedaInt">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Ticker</label>
                    <input type="text" placeholder="Ticker" minlength="3" maxlength="20" class="form-control" [(ngModel)]="this.objRegistroEditado.desTicker">
                </div>
                <!-- <div class="col-md-3">
                    <label class="form-label">País</label>
                    <ng-select placeholder="Seleccione una opción..." [items]="listPais" bindLabel="desPais" bindValue="idPais" [(ngModel)]="this.objRegistroEditado.codPais"></ng-select>
                </div> -->
            </div>

            <br>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="chkCargaAutomatica" name="chkCargaAutomatica" [(ngModel)]="this.objRegistroEditado.flgCargaAutom"><label for="chkCargaAutomatica" class="form-check-label"> Carga Automática </label></div>
                </div>
                <div class="col-md-4">
                    <div class="form-check"><input type="checkbox" class="form-check-input" id="chkCalculoVaR" name="chkCalculoVaR" [(ngModel)]="this.objRegistroEditado.flgVaR"><label for="chkCalculoVaR" class="form-check-label"> Cálculo de VaR </label></div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary" (click)="guardarCambios()">Guardar Cambios</button>
            <br>
        </div>
    </div>
</div>