<app-modal-formulario titulo="Editar País" subtitulo="Modifique los datos del país." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="guardarCambios()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="pa-e-codPais">Código<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="pa-e-codPais" type="text" class="form-control" autocomplete="off" minlength="2" maxlength="2" [(ngModel)]="objRegistroEditado.codPais" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="pa-e-desPais">Descripción<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="pa-e-desPais" type="text" class="form-control" autocomplete="off" minlength="2" maxlength="60" [(ngModel)]="objRegistroEditado.desPais" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="pa-e-abrev">Abreviatura</label>
                <input id="pa-e-abrev" type="text" class="form-control" autocomplete="off" minlength="2" maxlength="10" [(ngModel)]="objRegistroEditado.abrev">
            </div>
        </div>
    </fieldset>

</app-modal-formulario>
