<app-modal-formulario titulo="Editar Fórmula Tasa" subtitulo="Modifique los datos de la fórmula de tasa." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="guardarCambios()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="ft-e-nombreFormula">Nombre<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="ft-e-nombreFormula" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="100" [(ngModel)]="objRegistroEditado.nombreFormula" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="ft-e-nombreCortoFormula">Nombre Corto</label>
                <input id="ft-e-nombreCortoFormula" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="50" [(ngModel)]="objRegistroEditado.nombreCortoFormula">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="ft-e-descripcionFormula">Descripción</label>
                <input id="ft-e-descripcionFormula" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="500" [(ngModel)]="objRegistroEditado.descripcionFormula">
            </div>
        </div>
    </fieldset>

    <fieldset class="hig-seccion">
        <legend>Expresión</legend>
        <div class="hig-cuadricula hig-columnas-1">
            <div class="hig-campo">
                <label class="form-label" for="ft-e-expresionFormula">Expresión<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="ft-e-expresionFormula" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="500" [(ngModel)]="objRegistroEditado.expresionFormula" required>
            </div>
        </div>
    </fieldset>

</app-modal-formulario>
