<div id="myModal" tabindex="-1" data-keyboard="false" role="dialog">
    <div role="document" class="msg_card_body" style="width: 100%;">
        <div class="modal-header">
            <table style="width: 100%;">
                <tr style="width: 100%;">
                    <td style="text-align: left; padding: 0% 0% 0.5% 1%;">
                        <h3 class="modal-title">Cargar Precio de Mercado</h3>
                    </td>
                    <td style="text-align: right; padding-right: 1.3%;">
                        <button type="button" class="icon-close" (click)="cerrar()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">ISIN</label>
                    <input type="text" placeholder="ISIN" minlength="1" maxlength="6" class="form-control" [(ngModel)]="this.nuevoRegistro.codISIN">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Nemónico</label>
                    <input type="text" placeholder="Nemónico" minlength="1" maxlength="6" class="form-control" [(ngModel)]="this.nuevoRegistro.nemonico">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">Moneda</label>
                    <div class="combo-contenedor">
                        <ng-select placeholder="Seleccione una opción..." [items]="listMoneda" bindLabel="desMoneda" bindValue="idMoneda" [(ngModel)]="this.nuevoRegistro.codMoneda"></ng-select>
                        <button class="btn btn-outline-primary btn-wave btn-agregar" (click)="abrirModalSecundario(cargaModalMoneda)"><span class="icon">+</span></button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">Precio Limpio</label>
                    <input type="number" placeholder="Precio Limpio" minlength="1" maxlength="6" class="form-control" [(ngModel)]="this.nuevoRegistro.numPrecioLimpio">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Precio Sucio</label>
                    <input type="number" placeholder="Precio Sucio" minlength="1" maxlength="6" class="form-control" [(ngModel)]="this.nuevoRegistro.numPrecioSucio">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Interés Corrido</label>
                    <input type="number" placeholder="Interés Corrido" minlength="1" maxlength="6" class="form-control" [(ngModel)]="this.nuevoRegistro.numInteresCorrido">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">TIR</label>
                    <input type="number" placeholder="TIR" minlength="1" maxlength="6" class="form-control" [(ngModel)]="this.nuevoRegistro.numTIR">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Dur. Macaulay</label>
                    <input type="number" placeholder="Dur. Macaulay" minlength="1" maxlength="6" class="form-control" [(ngModel)]="this.nuevoRegistro.numDurMacaulay">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Dur. Modificada</label>
                    <input type="number" placeholder="Dur. Modificada" minlength="1" maxlength="6" class="form-control" [(ngModel)]="this.nuevoRegistro.numDurModified">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">Convexidad</label>
                    <input type="number" placeholder="Convexidad" minlength="1" maxlength="6" class="form-control" [(ngModel)]="this.nuevoRegistro.numConvexidad">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Valor Facial</label>
                    <input type="number" placeholder="Valor Facial" minlength="1" maxlength="6" class="form-control" [(ngModel)]="this.nuevoRegistro.numValorFacial">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Tasa Cupón</label>
                    <input type="number" placeholder="Tasa Cupón" minlength="1" maxlength="6" class="form-control" [(ngModel)]="this.nuevoRegistro.numTasaCupon">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">Fecha Proceso</label>
                    <input type="date" class="form-control" [(ngModel)]="this.nuevoRegistro.fecProceso">
                </div>

                <div class="col-md-6">
                    <label class="form-label">Fecha Vencimiento</label>
                    <input type="date" class="form-control" [(ngModel)]="this.nuevoRegistro.maturity">
                </div>
            </div>

        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary" (click)="registrar()">Registrar</button>
            <br>
        </div>
    </div>
</div>

<ng-template #cargaModalMoneda let-modal>
    <app-carga-moneda (close)="cerrarModalSecundario($event)"></app-carga-moneda>
</ng-template>