<app-modal-formulario titulo="Editar Portafolio" subtitulo="Modifique los datos del portafolio." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" [guardando]="guardando" (cerrar)="cerrar()" (guardar)="guardarCambios()">

    <fieldset class="hig-seccion">
        <legend>Identificación</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="po-e-descripcionPortafolio">Descripción<span class="hig-requerido" aria-hidden="true">*</span></label>
                <input id="po-e-descripcionPortafolio" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="255" [(ngModel)]="objRegistroEditado.descripcionPortafolio" required>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="po-e-tipoPortafolio">Tipo Portafolio</label>
                <input id="po-e-tipoPortafolio" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="150" [(ngModel)]="objRegistroEditado.tipoPortafolio">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="po-e-gestor">Gestor</label>
                <input id="po-e-gestor" type="text" class="form-control" autocomplete="off" minlength="3" maxlength="100" [(ngModel)]="objRegistroEditado.gestor">
            </div>
        </div>
    </fieldset>

    <fieldset class="hig-seccion">
        <legend>Gestión</legend>
        <div class="hig-cuadricula hig-columnas-3">
            <div class="hig-campo">
                <label class="form-label" for="po-e-limite">Límite</label>
                <input id="po-e-limite" type="number" class="form-control" autocomplete="off" minlength="1" maxlength="6" [(ngModel)]="objRegistroEditado.limite">
            </div>
            <div class="hig-campo">
                <label class="form-label" for="po-e-idMoneda">Moneda Gestión<span class="hig-requerido" aria-hidden="true">*</span></label>
                <div class="combo-contenedor">
                    <ng-select labelForId="po-e-idMoneda" placeholder="Seleccione una opción…" [items]="listMoneda" bindLabel="desMoneda" bindValue="idMoneda" [(ngModel)]="objRegistroEditado.idMoneda" required></ng-select>
                    <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar moneda" aria-label="Agregar moneda" (click)="abrirModalSecundario(cargaModalMoneda)"><span class="icon" aria-hidden="true">+</span></button>
                </div>
            </div>
            <div class="hig-campo">
                <label class="form-label" for="po-e-idBenchmark">Benchmark</label>
                <div class="combo-contenedor">
                    <ng-select labelForId="po-e-idBenchmark" placeholder="Seleccione una opción…" [items]="listBenchmark" bindLabel="descripcionBenchmark" bindValue="idBenchmark" [(ngModel)]="objRegistroEditado.idBenchmark"></ng-select>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="hig-seccion">
        <legend>Notas</legend>
        <div class="hig-cuadricula hig-columnas-1">
            <div class="hig-campo">
                <label class="form-label" for="po-e-notas">Notas</label>
                <textarea id="po-e-notas" class="form-control" rows="4" minlength="3" maxlength="255" [(ngModel)]="objRegistroEditado.notas"></textarea>
            </div>
        </div>
    </fieldset>

</app-modal-formulario>

<ng-template #cargaModalMoneda let-modal>
    <app-carga-moneda (close)="cerrarModalSecundario($event)"></app-carga-moneda>
</ng-template>
