<div>
    <button type="submit" class="btn btn-primary" (click)="registrar(cargaModal)">Agregar Plaza</button>
</div>

<br>

<div id="mat-sorting">
    <div class="mat-elevation-z8">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort #sort="matSort">

                <ng-container matColumnDef="idPlaza">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.idPlaza}} </td>
                </ng-container>

                <ng-container matColumnDef="codPlaza">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
                    <td mat-cell *matCellDef="let element"> {{element.codPlaza}} </td>
                </ng-container>

                <ng-container matColumnDef="desPlaza">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
                    <td mat-cell *matCellDef="let element"> {{element.desPlaza}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (contextmenu)="onContextMenu($event, row)"></tr>
            </table>
        </div>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
    </div>

</div>

<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item (click)="editar(selectedRow, editarModal)">
            <mat-icon>edit</mat-icon> Editar
        </button>
        <button mat-menu-item (click)="eliminar(selectedRow)">
            <mat-icon>delete</mat-icon> Eliminar
        </button>
    </ng-template>
</mat-menu>

<ng-template #cargaModal let-modal>
    <app-carga-plaza (close)="cerrarModal($event)"></app-carga-plaza>
</ng-template>

<ng-template #editarModal let-modal>
    <app-editar-plaza (close)="cerrarModal($event)" [data]="filaEditar"></app-editar-plaza>
</ng-template>