<app-modal-formulario titulo="Editar Acción" subtitulo="Código {{ data.idAccion }}. Modifique los datos y guarde los cambios." accion="Guardar Cambios"
    [faltantes]="faltantes" [datos]="objRegistroEditado" (cerrar)="cerrar()" (guardar)="guardarCambios()">

        <fieldset class="hig-seccion">
            <legend>Identificación</legend>
            <div class="hig-cuadricula ">
                <div class="hig-campo">
                    <label class="form-label" for="ac-e-codTicker">Ticker (BLG o Interno)<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <input id="ac-e-codTicker" type="text" class="form-control" autocomplete="off" placeholder="Ej. AMZN" maxlength="20" [(ngModel)]="this.objRegistroEditado.codTicker" required>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-e-desNemonico">Nemónico</label>
                    <input id="ac-e-desNemonico" type="text" class="form-control" autocomplete="off" placeholder="Ej. AMAZON.COM" maxlength="60" [(ngModel)]="this.objRegistroEditado.desNemonico">
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-e-codISIN">Código ISIN</label>
                    <input id="ac-e-codISIN" type="text" class="form-control" autocomplete="off" placeholder="Ej. US0231351067" maxlength="20" [(ngModel)]="this.objRegistroEditado.codISIN">
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-e-codIndAsociado">Índice Asociado</label>
                    <input id="ac-e-codIndAsociado" type="text" class="form-control" autocomplete="off" placeholder="Ej. S&amp;P 500" maxlength="10" [(ngModel)]="this.objRegistroEditado.codIndAsociado">
                </div>
            </div>
        </fieldset>

        <fieldset class="hig-seccion">
            <legend>Clasificación</legend>
            <div class="hig-cuadricula hig-columnas-3">
                <div class="hig-campo">
                    <label class="form-label" for="ac-e-idPlaza">Plaza<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="ac-e-idPlaza" placeholder="Seleccione una opción…" [items]="listPlaza" bindLabel="desPlaza" bindValue="idPlaza" [(ngModel)]="this.objRegistroEditado.idPlaza" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar plaza" aria-label="Agregar plaza" (click)="abrirModalSecundario(cargaModalPlaza)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-e-idTipoSector">Tipo Sector<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="ac-e-idTipoSector" placeholder="Seleccione una opción…" [items]="listTipoSector" bindLabel="descripcionTiposector" bindValue="idTipoSector" [(ngModel)]="this.objRegistroEditado.idTipoSector" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar tipo sector" aria-label="Agregar tipo sector" (click)="abrirModalSecundario(cargaModalTipoSector)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-e-idTipoAccion">Tipo Acción<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="ac-e-idTipoAccion" placeholder="Seleccione una opción…" [items]="listTipoAccion" bindLabel="desTipoAccion" bindValue="idTipoAccion" [(ngModel)]="this.objRegistroEditado.idTipoAccion" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar tipo acción" aria-label="Agregar tipo acción" (click)="abrirModalSecundario(cargaModalTipoAccion)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-e-idEmisor">Emisor<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="ac-e-idEmisor" placeholder="Seleccione una opción…" [items]="listEmisor" bindLabel="nomEmisor" bindValue="idEmisor" [(ngModel)]="this.objRegistroEditado.idEmisor" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar emisor" aria-label="Agregar emisor" (click)="abrirModalSecundario(cargaModalEmisor)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-e-idMoneda">Moneda<span class="hig-requerido" aria-hidden="true">*</span></label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="ac-e-idMoneda" placeholder="Seleccione una opción…" [items]="listMoneda" bindLabel="desMoneda" bindValue="idMoneda" [(ngModel)]="this.objRegistroEditado.idMoneda" required></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar moneda" aria-label="Agregar moneda" (click)="abrirModalSecundario(cargaModalMoneda)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
                <div class="hig-campo">
                    <label class="form-label" for="ac-e-idFuenteInformacion">Fuente Información</label>
                    <div class="combo-contenedor">
                        <ng-select labelForId="ac-e-idFuenteInformacion" placeholder="Seleccione una opción…" [items]="listFuenteInformacion" bindLabel="desFuenteInformacion" bindValue="idFuenteInformacion" [(ngModel)]="this.objRegistroEditado.idFuenteInformacion"></ng-select>
                        <button type="button" class="btn btn-outline-primary btn-wave btn-agregar" title="Agregar fuente información" aria-label="Agregar fuente información" (click)="abrirModalSecundario(cargaModalFuenteInformacion)"><span class="icon" aria-hidden="true">+</span></button>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="hig-seccion">
            <legend>Opciones</legend>
            <div class="hig-cuadricula hig-columnas-1">
                <div class="hig-opcion">
                    <input class="form-check-input" type="checkbox" id="ac-e-flgCargaAutom" [(ngModel)]="this.objRegistroEditado.flgCargaAutom">
                    <div>
                        <label class="hig-opcion__titulo" for="ac-e-flgCargaAutom">Carga automática</label>
                        <span class="hig-opcion__ayuda">El precio se actualiza automáticamente desde la fuente de información.</span>
                    </div>
                </div>
                <div class="hig-opcion">
                    <input class="form-check-input" type="checkbox" id="ac-e-flgVar" [(ngModel)]="this.objRegistroEditado.flgVar">
                    <div>
                        <label class="hig-opcion__titulo" for="ac-e-flgVar">Cálculo de VaR</label>
                        <span class="hig-opcion__ayuda">Incluye este instrumento en el cálculo de Valor en Riesgo.</span>
                    </div>
                </div>
            </div>
        </fieldset>

</app-modal-formulario>

<ng-template #cargaModalPlaza let-modal>
    <app-carga-plaza (close)="cerrarModalSecundario($event)"></app-carga-plaza>
</ng-template>

<ng-template #cargaModalTipoAccion let-modal>
    <app-carga-tipo-accion (close)="cerrarModalSecundario($event)"></app-carga-tipo-accion>
</ng-template>

<ng-template #cargaModalEmisor let-modal>
    <app-carga-emisor (close)="cerrarModalSecundario($event)"></app-carga-emisor>
</ng-template>

<ng-template #cargaModalMoneda let-modal>
    <app-carga-moneda (close)="cerrarModalSecundario($event)"></app-carga-moneda>
</ng-template>

<ng-template #cargaModalFuenteInformacion let-modal>
    <app-carga-fuente-informacion (close)="cerrarModalSecundario($event)"></app-carga-fuente-informacion>
</ng-template>

<ng-template #cargaModalTipoSector let-modal>
    <app-carga-tipo-sector (close)="cerrarModalSecundario($event)"></app-carga-tipo-sector>
</ng-template>
