<app-page-header hassub="Apps" sub="" title1="Userlist" title="User List 2" activeTitle="User List 2"></app-page-header>
   <!-- Start:: row-1 -->
   <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3 gap-3">
                    <div class="col">
                        <a href="javascript:void(0);" class="btn btn-primary text-nowrap"><i class="fe fe-plus"></i> Add New User</a>
                    </div>
                    <div class="col col-auto">
                        <div class="input-group w-auto">
                            <input type="text" class="form-control border-end-0" placeholder="Search Files">
                            <button aria-label="button" class="btn btn-light bg-white border-start-0" type="button"><i class="fe fe-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                            <img src="./assets/images/faces/7.jpg" class="avatar avatar-lg avatar-rounded d-block" alt="">
                            <div class="wrapper ms-sm-3 mt-2 mt-sm-0 text-nowrap">
                                <p class="mb-0 mt-1 text-dark fw-semibold">Denis Rosenblum</p>
                                <small class="text-muted">Project Manager</small>
                            </div>
                            <div class="ms-auto mt-2 mt-sm-0 text-sm-end">
                                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mb-1 me-1">Message</a>
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm mb-1 me-1">View Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                            <img src="./assets/images/faces/6.jpg" class="avatar avatar-lg avatar-rounded d-block" alt="">
                            <div class="wrapper ms-sm-3 mt-2 mt-sm-0 text-nowrap">
                                <p class="mb-0 mt-1 text-dark fw-semibold">Harvey Mattos</p>
                                <small class="text-muted">Developer</small>
                            </div>
                             <div class="ms-auto mt-2 mt-sm-0 text-sm-end">
                                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mb-1 me-1">Message</a>
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm mb-1 me-1">View Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                            <img src="./assets/images/faces/5.jpg" class="avatar avatar-lg avatar-rounded d-block" alt="">
                            <div class="wrapper ms-sm-3 mt-2 mt-sm-0 text-nowrap">
                                <p class="mb-0 mt-1 text-dark fw-semibold">Catrice Doshier</p>
                                <small class="text-muted">Assistant Manager</small>
                            </div>
                             <div class="ms-auto mt-2 mt-sm-0 text-sm-end">
                                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mb-1 me-1">Message</a>
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm mb-1 me-1">View Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                            <img src="./assets/images/faces/1.jpg" class="avatar avatar-lg avatar-rounded d-block" alt="">
                            <div class="wrapper ms-sm-3 mt-2 mt-sm-0 text-nowrap">
                                <p class="mb-0 mt-1 text-dark fw-semibold">Catherina Bamber</p>
                                <small class="text-muted">Company Manager</small>
                            </div>
                             <div class="ms-auto mt-2 mt-sm-0 text-sm-end">
                                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mb-1 me-1">Message</a>
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm mb-1 me-1">View Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                            <img src="./assets/images/faces/8.jpg" class="avatar avatar-lg avatar-rounded d-block" alt="">
                            <div class="wrapper ms-sm-3 mt-2 mt-sm-0 text-nowrap">
                                <p class="mb-0 mt-1 text-dark fw-semibold">Margie Fitts</p>
                                <small class="text-muted">It Manager</small>
                            </div>
                             <div class="ms-auto mt-2 mt-sm-0 text-sm-end">
                                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mb-1 me-1">Message</a>
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm mb-1 me-1">View Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                            <img src="./assets/images/faces/5.jpg" class="avatar avatar-lg avatar-rounded d-block" alt="">
                            <div class="wrapper ms-sm-3 mt-2 mt-sm-0 text-nowrap">
                                <p class="mb-0 mt-1 text-dark fw-semibold">Dana Lott</p>
                                <small class="text-muted">Hr Manager</small>
                            </div>
                             <div class="ms-auto mt-2 mt-sm-0 text-sm-end">
                                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mb-1 me-1">Message</a>
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm mb-1 me-1">View Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                            <img src="./assets/images/faces/6.jpg" class="avatar avatar-lg avatar-rounded d-block" alt="">
                            <div class="wrapper ms-sm-3 mt-2 mt-sm-0 text-nowrap">
                                <p class="mb-0 mt-1 text-dark fw-semibold">Benedict Vallone</p>
                                <small class="text-muted">Hr Recriuter</small>
                            </div>
                             <div class="ms-auto mt-2 mt-sm-0 text-sm-end">
                                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mb-1 me-1">Message</a>
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm mb-1 me-1">View Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                            <img src="./assets/images/faces/8.jpg" class="avatar avatar-lg avatar-rounded d-block" alt="">
                            <div class="wrapper ms-sm-3 mt-2 mt-sm-0 text-nowrap">
                                <p class="mb-0 mt-1 text-dark fw-semibold">Robbie Ruder</p>
                                <small class="text-muted">Ceo</small>
                            </div>
                             <div class="ms-auto mt-2 mt-sm-0 text-sm-end">
                                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mb-1 me-1">Message</a>
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm mb-1 me-1">View Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                            <img src="./assets/images/faces/3.jpg" class="avatar avatar-lg avatar-rounded d-block" alt="">
                            <div class="wrapper ms-sm-3 mt-2 mt-sm-0 text-nowrap">
                                <p class="mb-0 mt-1 text-dark fw-semibold">Micaela Aultman</p>
                                <small class="text-muted">Php developer</small>
                            </div>
                             <div class="ms-auto mt-2 mt-sm-0 text-sm-end">
                                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mb-1 me-1">Message</a>
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm mb-1 me-1">View Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                            <img src="./assets/images/faces/4.jpg" class="avatar avatar-lg avatar-rounded d-block" alt="">
                            <div class="wrapper ms-sm-3 mt-2 mt-sm-0 text-nowrap">
                                <p class="mb-0 mt-1 text-dark fw-semibold">Jacquelynn</p>
                                <small class="text-muted">Web developer</small>
                            </div>
                             <div class="ms-auto mt-2 mt-sm-0 text-sm-end">
                                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mb-1 me-1">Message</a>
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm mb-1 me-1">View Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                            <img src="./assets/images/faces/9.jpg" class="avatar avatar-lg avatar-rounded d-block" alt="">
                            <div class="wrapper ms-sm-3 mt-2 mt-sm-0 text-nowrap">
                                <p class="mb-0 mt-1 text-dark fw-semibold">Elida Distefano</p>
                                <small class="text-muted">Hr Manager</small>
                            </div>
                             <div class="ms-auto mt-2 mt-sm-0 text-sm-end">
                                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mb-1 me-1">Message</a>
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm mb-1 me-1">View Profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-6">
                        <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                            <img src="./assets/images/faces/7.jpg" class="avatar avatar-lg avatar-rounded d-block" alt="">
                            <div class="wrapper ms-sm-3 mt-2 mt-sm-0 text-nowrap">
                                <p class="mb-0 mt-1 text-dark fw-semibold">Collin Bridgman</p>
                                <small class="text-muted">web designer</small>
                            </div>
                             <div class="ms-auto mt-2 mt-sm-0 text-sm-end">
                                <a href="javascript:void(0);" class="btn btn-outline-light btn-sm mb-1 me-1">Message</a>
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm mb-1 me-1">View Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: row-1 -->