
<app-page-header hassub="" sub="Home" title1="Pages" title="Faq's" activeTitle="Faq's" ></app-page-header>
<!-- Start:: row-1 -->
<div class="row ">
  <div class="col-md-12">
      <div class="card">
          <div class="card-body" id="accordionFAQ">
              <div ngbAccordion #accordion="ngbAccordion" [closeOthers]="true" class="accordion accordionicon-none accordion-primary accordions-items-seperate" id="accordionPanelsStayOpenExample">
                  <div ngbAccordionItem="first" [collapsed]="false" class="accordion-item">
                      <h2 ngbAccordionHeader class="accordion-header" id="panelsStayOpen-headingOne">
                          <button ngbAccordionButton class="accordion-button d-flex" type="button" data-bs-toggle="collapse"
                              data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                              aria-controls="panelsStayOpen-collapseOne">
                              How To Insert All The Plugins?
                              <span class="ms-auto"><i class="fe fe-chevron-right"></i></span>
                          </button>
                      </h2>
                      <div ngbAccordionCollapse id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                          aria-labelledby="panelsStayOpen-headingOne">
                          <div ngbAccordionBody class="accordion-body">
                            <ng-template>
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                             </ng-template>
                            </div>
                      </div>
                  </div>
                  <div ngbAccordionItem="second" [collapsed]="false"  class="accordion-item">
                      <h2 ngbAccordionHeader class="accordion-header" id="panelsStayOpen-headingTwo">
                          <button ngbAccordionButton class="accordion-button d-flex" type="button"
                              data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                              aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                              How Can I contact?
                              <span class="ms-auto"><i class="fe fe-chevron-right"></i></span>
                          </button>
                      </h2>
                      <div ngbAccordionCollapse id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingTwo">
                          <div ngbAccordionBody class="accordion-body">
                            <ng-template>
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                              on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                              occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          
                          </ng-template>  
                        </div>
                      </div>
                  </div>
                  <div ngbAccordionItem="three"  [collapsed]="false"  class="accordion-item p-0">
                      <h2 ngbAccordionHeader class="accordion-header" id="panelsStayOpen-headingThree">
                          <button ngbAccordionButton class="accordion-button d-flex" type="button"
                              data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                              aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                              Can I use this Plugins in Another Template?
                              <span class="ms-auto"><i class="fe fe-chevron-right"></i></span>
                          </button>
                      </h2>
                      <div ngbAccordionCollapse id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingThree">
                          <div ngbAccordionBody class="accordion-body">
                            <ng-template>
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                              on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                              occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          
                          </ng-template> 
                         </div>
                      </div>
                  </div>
                  <div ngbAccordionItem="four"  [collapsed]="false"  class="accordion-item p-0">
                      <h2 ngbAccordionHeader class="accordion-header" id="panelsStayOpen-headingFour">
                          <button ngbAccordionButton class="accordion-button d-flex" type="button"
                              data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour"
                              aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                              It is Easy to Customizable?
                              <span class="ms-auto"><i class="fe fe-chevron-right"></i></span>
                          </button>
                      </h2>
                      <div ngbAccordionCollapse id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingFour">
                          <div ngbAccordionBody class="accordion-body">
                            <ng-template>
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                              on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                              occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                          </ng-template>
                            </div>
                      </div>
                  </div>
                  <div ngbAccordionItem="five"  [collapsed]="false"  class="accordion-item">
                      <h2 ngbAccordionHeader class="accordion-header" id="panelsStayOpen-headingFive">
                          <button ngbAccordionButton class="accordion-button d-flex" type="button"
                              data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive"
                              aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                              How can I download This template?
                              <span class="ms-auto"><i class="fe fe-chevron-right"></i></span>
                          </button>
                      </h2>
                      <div ngbAccordionCollapse id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingFive">
                          <div ngbAccordionBody class="accordion-body">
                            <ng-template>
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                              on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                              occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </ng-template>
                            </div>
                      </div>
                  </div> 
                  <div ngbAccordionItem="six"   [collapsed]="false"  class="accordion-item">
                      <h2 ngbAccordionHeader class="accordion-header" id="panelsStayOpen-headingSix">
                          <button ngbAccordionButton class="accordion-button d-flex" type="button"
                              data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix"
                              aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                              How Can I Add another page in Template?
                              <span class="ms-auto"><i class="fe fe-chevron-right"></i></span>
                          </button>
                      </h2>
                      <div ngbAccordionCollapse id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingSix">
                          <div ngbAccordionBody class="accordion-body">
                            <ng-template>
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                              on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                              occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </ng-template>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- panel-group -->
      </div>
      <div class="card mb-lg-0">
          <div class="card-header">
              <h3 class="card-title">Ask Question</h3>
          </div>
          <div class="card-body">
              <h5>If Your Query Not Clarified Post Your Question, My Customer Support will help You</h5>
              <div class="pt-4">
                  <div class="mb-3">
                      <input type="text" class="form-control" id="name1" placeholder="Your Name">
                  </div>
                  <div class="mb-3">
                      <input type="email" class="form-control" id="email" placeholder="Email Address" autocomplete="off">
                  </div>
                  <div class="mb-3">
                      <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Post Your Query"></textarea>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-primary">Send Question</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End:: row-1 -->