<button #disparador type="button" class="dtp-disparador" [disabled]="disabled" [class.dtp-disparador--vacio]="!valorIso"
    (click)="abrir()">
    <lucide-icon [img]="CalendarIcon" [size]="16" [strokeWidth]="1.5" aria-hidden="true"></lucide-icon>
    <span>{{ etiqueta }}</span>
</button>

<ng-template #plantilla>
    <div class="dtp-popover">
        <div class="dtp-cabecera">
            <button type="button" class="dtp-nav" aria-label="Mes anterior" (click)="mesAnterior()">
                <lucide-icon [img]="ChevronLeftIcon" [size]="16" [strokeWidth]="1.5"></lucide-icon>
            </button>
            <span class="dtp-mes">{{ mesEtiqueta }}</span>
            <button type="button" class="dtp-nav" aria-label="Mes siguiente" (click)="mesSiguiente()">
                <lucide-icon [img]="ChevronRightIcon" [size]="16" [strokeWidth]="1.5"></lucide-icon>
            </button>
        </div>

        <div class="dtp-semana">
            <span *ngFor="let d of diasSemana">{{ d }}</span>
        </div>

        <div class="dtp-grilla">
            <button type="button" *ngFor="let dia of diasDelMes" class="dtp-dia" [class.dtp-dia--fuera]="!dia.enMes"
                [class.dtp-dia--hoy]="dia.esHoy" [class.dtp-dia--activo]="dia.seleccionado" (click)="elegirDia(dia)">
                {{ dia.fecha.getDate() }}
            </button>
        </div>

        <button type="button" class="dtp-hoy" (click)="irAHoy()">Hoy</button>
    </div>
</ng-template>
