<div class="page page-style1 error-page">
    <div class="page-content">
        <div class="container text-center ">
            <img src="./assets/images/svgs/1.svg" alt="img" class="w-30p mb-5 error-img">
            <img src="./assets/images/svgs/2.svg" alt="img" class="w-30p mb-5 error-img2">
            <h1 class="h3  mb-3 fw-bold">Sorry, an error has occured, Requested Page not found!</h1>
            <p class="h5 fw-normal mb-5 leading-normal">You may have mistyped the address or the page may have moved.</p>
            <a class="btn btn-primary" [routerLink]="['/dashboards/sales']"><i class="fe fe-arrow-left-circle m-1"></i>Back to Home</a>
        </div>
    </div> 
</div>