<app-page-header hassub="" sub="Home" title1="Advanced Ui" title="SwiperJs" activeTitle="SwiperJs" ></app-page-header>
<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Basic Swiper</div>
        </div>
        <div class="card-body">
          <div class="swiper swiper-basic">
            <swiper (swiper)="setThumbsSwiper($event)" [zoom]="true" [autoplay]="true"
            [watchSlidesProgress]="true">
            @for (image of images; track image) {
              <ng-template class="swiper-slide" swiperSlide>
                <img src="{{ image.src }}" alt="image" />
              </ng-template>
            }
          </swiper>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Swiper With Navigation</div>
        </div>
        <div class="card-body">
          <div class="swiper swiper-navigation">
            <div class="swiper-wrapper">
              <swiper   
              [config]="swiperOptions"
              [slidesPerView]="1"
              (swiper)="setThumbsSwiper($event)"
              [zoom]="true"
              autoplay-delay="2000"
              [navigation]="true"
              [watchSlidesProgress]="true"
            >
            @for(image of imageData1;track $index){
              <ng-template
                swiperSlide
               
              >
                <div class="swiper-slide">
                  <img src="{{ image.src }}" alt="image" />
                </div>
              </ng-template>
            }
            </swiper>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Swiper with Pagination</div>
        </div>
        <div class="card-body">
          <div class="swiper pagination">
            <div class="swiper-wrapper">
                <swiper
                [slidesPerView]="1"
                (swiper)="setThumbsSwiper($event)"
                [zoom]="true"
                [autoplay]="true"
                [pagination]="true"
                [navigation]="false"
                [watchSlidesProgress]="true"
                [keyboard]="{ enabled: true }"
                [pagination]="{ clickable: true }"
                navigation
              >
              @for(image of imageData2;track $index){
                <ng-template
                  swiperSlide
                >
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" alt="image" class="!rounded-md" />
                  </div>
                </ng-template>
              }
               
              </swiper>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Dynamic Pagination</div>
        </div>
        <div class="card-body">
          <div class="swiper pagination-dynamic">
            <div class="swiper-wrapper">
                <swiper
                            [slidesPerView]="1"
                            (swiper)="setThumbsSwiper($event)"
                            [zoom]="true"
                            [autoplay]="true"
                            [pagination]="true"
                            [navigation]="false"
                            [watchSlidesProgress]="true"
                            [keyboard]="{ enabled: true }"
                            [pagination]="{ clickable: true }"
                            navigation
                          >
                          @for(image of imageData3;track $index){
                            <ng-template
                              swiperSlide
                            >
                              <div class="swiper-slide">
                                <img src="{{ image.src }}" alt="image" class="" />
                              </div>
                            </ng-template>
                          }
                          
                          </swiper>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Pagination With Progress</div>
        </div>
        <div class="card-body">
          <div class="swiper pagination-progress">
            <div class="swiper-wrapper">
                <swiper
                [slidesPerView]="1"
                (swiper)="setThumbsSwiper($event)"
                [zoom]="true"
                [autoplay]="true"
                [navigation]="true"
                [watchSlidesProgress]="true"
                [pagination]="{ type: 'progressbar' }"
                navigation
              >
              @for(image of imageData4;track $index){
                <ng-template
                  swiperSlide
                >
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" alt="image" class="!rounded-md" />
                  </div>
                </ng-template>
              }
              
              </swiper>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Pagination Fraction</div>
        </div>
        <div class="card-body">
          <div class="swiper pagination-fraction">
            <div class="swiper-wrapper">
                <swiper
                [slidesPerView]="1"
                (swiper)="setThumbsSwiper($event)"
                [zoom]="true"
                [autoplay]="true"
                [navigation]="true"
                [watchSlidesProgress]="true"
                [pagination]="{ type: 'fraction' }"
                navigation
              >
              @for(image of imageData5;track $index){
                <ng-template
                  swiperSlide
                >
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" alt="image" class="!rounded-md" />
                  </div>
                </ng-template>
              }
               
              </swiper>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Custom Paginatioin</div>
        </div>
        <div class="card-body">
          <div class="swiper custom-pagination">
            <div class="swiper-wrapper">
                <swiper
                [slidesPerView]="1"
                (swiper)="setThumbsSwiper($event)"
                [zoom]="true"
                [autoplay]="true"
                [navigation]="true"
                [watchSlidesProgress]="true"
                [pagination]="{ type: 'custom' }"
                navigation
              >
              @for(image of imageData6;track $index){
                <ng-template
                  swiperSlide
                >
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" alt="image" class="!rounded-md" />
                  </div>
                </ng-template>
              }
              
              </swiper>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Scrollbar Swiper</div>
        </div>
        <div class="card-body">
          <div class="swiper scrollbar-swiper">
            <div class="swiper-wrapper">
                <swiper
                            [slidesPerView]="1"
                            (swiper)="setThumbsSwiper($event)"
                            [zoom]="true"
                            [autoplay]="true"
                            [navigation]="true"
                            [watchSlidesProgress]="true"
                            [pagination]="{ type: 'custom' }"
                            navigation
                          >
                          @for(image of imageData7;track $index){
                            <ng-template
                              swiperSlide
                            >
                              <div class="swiper-slide">
                                <img src="{{ image.src }}" alt="image" class="!rounded-md" />
                              </div>
                            </ng-template>
                          }
                            
                          </swiper>
            </div>
            <div class="swiper-scrollbar"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Vertical Swiper</div>
        </div>
        <div class="card-body">
          <div class="swiper vertical swiper-vertical">
            <div class="swiper-wrapper">
                <swiper
                [slidesPerView]="1"
                (swiper)="setThumbsSwiper($event)"
                [zoom]="true"
                [autoplay]="true"
                [navigation]="false"
                [watchSlidesProgress]="true"
                direction="vertical"
                [pagination]="{ clickable: true }"
              >
              @for(image of imageData8;track $index){
                <ng-template
                  swiperSlide
                >
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" alt="image" class="!rounded-md" />
                  </div>
                </ng-template>
              }
               
              </swiper>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Mouse Wheel Control</div>
        </div>
        <div class="card-body">
          <div class="swiper vertical vertical-mouse-control">
            <div class="swiper-wrapper">
                <swiper
                [slidesPerView]="1"
                (swiper)="setThumbsSwiper($event)"
                [zoom]="true"
                [autoplay]="true"
                [navigation]="false"
                [watchSlidesProgress]="true"
                [mousewheel]="true"
                direction="vertical"
                [pagination]="{ clickable: true }"
              >
              @for(image of imageData9;track $index){
                <ng-template
                  swiperSlide
                >
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" alt="image" class="!rounded-md" />
                  </div>
                </ng-template>
              }
              </swiper>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Keyboard Control</div>
        </div>
        <div class="card-body">
          <div class="swiper keyboard-control">
            <div class="swiper-wrapper">
                <swiper
                [slidesPerView]="1"
                (swiper)="setThumbsSwiper($event)"
                [zoom]="true"
                [autoplay]="true"
                [navigation]="false"
                [watchSlidesProgress]="true"
                [keyboard]="true"
                [pagination]="{ clickable: true }"
              >
              @for(image of imageData10;track $index){

                <ng-template
                  swiperSlide
                  
                >
                  <div class="swiper-slide">
                    <img src="{{ image.src }}" class="!rounded-md" alt="image" />
                  </div>
                </ng-template>
              }
              </swiper>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <div class="card custom-card">
          <div class="card-header">
              <div class="card-title">Nested Swiper</div>
          </div>
          <div class="card-body">
              <div class="swiper swiper-horizontal1">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide"><img src="./assets/images/media/media-30.jpg" alt=""></div>
                    <div class="swiper-slide">
                      <div class="swiper vertical swiper-vertical1">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide"><img src="./assets/images/media/media-25.jpg" alt=""></div>
                          <div class="swiper-slide"><img src="./assets/images/media/media-31.jpg" alt=""></div>
                          <div class="swiper-slide"><img src="./assets/images/media/media-32.jpg" alt=""></div>
                        </div>
                        <div class="swiper-pagination"></div>
                      </div>
                    </div>
                    <div class="swiper-slide"><img src="./assets/images/media/media-28.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="./assets/images/media/media-29.jpg" alt=""></div>
                  </div>
                  <div class="swiper-pagination"></div>
              </div>
          </div>
      </div>
  </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Effect Cube</div>
        </div>
        <div class="card-body">
          <div class="swiper swiper-cube">
            <swiper
            class="swiper-wrapper"
            effect="cube"
            (swiper)="setThumbsSwiper($event)"
            [zoom]="true"
            [autoplay]="true"
            [navigation]="true"
            [pagination]="true"
          >
            <ng-template class="swiper-slide" swiperSlide
              ><img src="./assets/images/media/media-36.jpg" alt="img"
            /></ng-template>
            <ng-template class="swiper-slide" swiperSlide
              ><img src="./assets/images/media/media-37.jpg" alt="img"
            /></ng-template>
            <ng-template class="swiper-slide" swiperSlide
              ><img src="./assets/images/media/media-38.jpg" alt="img"
            /></ng-template>
          </swiper>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Effect Fade</div>
        </div>
        <div class="card-body">
          <div class="swiper swiper-fade">
            <swiper
              class="swiper-wrapper"
              effect="fade"
              [slidesPerView]="1"
              (swiper)="setThumbsSwiper($event)"
              [zoom]="true"
              [autoplay]="true"
              [navigation]="true"
              [pagination]="true"
              [watchSlidesProgress]="true"
              navigation
            >
              <ng-template class="swiper-slide" swiperSlide
                ><img src="./assets/images/media/media-18.jpg" alt="img"
              /></ng-template>
              <ng-template class="swiper-slide" swiperSlide
                ><img src="./assets/images/media/media-20.jpg" alt="img"
              /></ng-template>
              <ng-template class="swiper-slide" swiperSlide
                ><img src="./assets/images/media/media-19.jpg" alt="img"
              /></ng-template>
            </swiper>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
      <div class="card custom-card">
        <div class="card-header">
          <div class="card-title">Effect Flip</div>
        </div>
        <div class="card-body">
          <div class="swiper swiper-flip">
            <swiper
              class="swiper-wrapper"
              effect="flip"
              [slidesPerView]="1"
              (swiper)="setThumbsSwiper($event)"
              [zoom]="true"
              [autoplay]="true"
              [navigation]="true"
              [pagination]="true"
              [watchSlidesProgress]="true"
              navigation
            >
              <ng-template class="swiper-slide" swiperSlide
                ><img src="./assets/images/media/media-20.jpg" alt="img"
              /></ng-template>
              <ng-template class="swiper-slide" swiperSlide
                ><img src="./assets/images/media/media-19.jpg" alt="img"
              /></ng-template>
              <ng-template class="swiper-slide" swiperSlide
                ><img src="./assets/images/media/media-18.jpg" alt="img"
              /></ng-template>
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End::row-1 -->

    <!-- Start:: row-2 -->
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        Effect Coverflow
                    </div>
                </div>
                <div class="card-body">
                    <div class="swiper swiper-container">
                        <swiper class="swiper-wrapper"  effect="coverflow"
                        [slidesPerView]="4"
                        (swiper)="setThumbsSwiper($event)"
                        [zoom]="false"
                        [autoplay]="true"
                        grab-cursor="true" 
                        [watchSlidesProgress]="true"
                        [pagination]="{ clickable: true }"
                        centered-slides="true"
                       >
                            <ng-template class="swiper-slide" swiperSlide>
                                <img class="img-fluid" src="./assets/images/media/media-49.jpg" alt="img">
                            </ng-template>
                            <ng-template class="swiper-slide" swiperSlide>
                                <img class="img-fluid" src="./assets/images/media/media-42.jpg" alt="img">
                            </ng-template>
                            <ng-template class="swiper-slide" swiperSlide>
                                <img class="img-fluid" src="./assets/images/media/media-43.jpg" alt="img">
                            </ng-template>
                            <ng-template class="swiper-slide" swiperSlide>
                                <img class="img-fluid" src="./assets/images/media/media-44.jpg" alt="img">
                            </ng-template>
                            <ng-template class="swiper-slide" swiperSlide>
                                <img class="img-fluid" src="./assets/images/media/media-45.jpg" alt="img">
                            </ng-template>
                            <ng-template class="swiper-slide" swiperSlide>
                                <img class="img-fluid" src="./assets/images/media/media-46.jpg" alt="img">
                            </ng-template>
                            <ng-template class="swiper-slide" swiperSlide>
                                <img class="img-fluid" src="./assets/images/media/media-47.jpg" alt="img">
                            </ng-template>
                            <ng-template class="swiper-slide" swiperSlide>
                                <img class="img-fluid" src="./assets/images/media/media-48.jpg" alt="img">
                            </ng-template>
                        </swiper>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        Thumbs Gallery
                    </div>
                </div>
                <div class="card-body">
                    <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper swiper-preview">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="img-fluid rounded" src="./assets/images/media/media-27.jpg" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid rounded" src="./assets/images/media/media-28.jpg" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid rounded" src="./assets/images/media/media-29.jpg" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid rounded" src="./assets/images/media/media-30.jpg" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid rounded" src="./assets/images/media/media-31.jpg" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid rounded" src="./assets/images/media/media-32.jpg" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid rounded" src="./assets/images/media/media-33.jpg" alt="img">
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    <div class="swiper swiper-view">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="img-fluid rounded" src="./assets/images/media/media-27.jpg" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid rounded" src="./assets/images/media/media-28.jpg" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid rounded" src="./assets/images/media/media-29.jpg" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid rounded" src="./assets/images/media/media-30.jpg" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid rounded" src="./assets/images/media/media-31.jpg" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid rounded" src="./assets/images/media/media-32.jpg" alt="img">
                            </div>
                            <div class="swiper-slide">
                                <img class="img-fluid rounded" src="./assets/images/media/media-33.jpg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End:: row-2 -->