<app-dashboard-header title="Portafolio"></app-dashboard-header>

<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-8 col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Título</h5>
            </div>

            <div class="card-body">
                <div id="mat-sorting">
                    <div class="mat-elevation-z8">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dsResumen" matSort #sortResumen="matSort">
                                <ng-container matColumnDef="codigo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Columna</th>
                                    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsResumen"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsResumen;"></tr>
                            </table>
                        </div>
                        <mat-paginator #paginatorResumen [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="mb-1 fw-bold">123</h2>
                        <p class="mb-1">Valor Total</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="mb-1 fw-bold">123</h2>
                        <p class="mb-1">Ganancia/Pérdida Prom.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="mb-1 fw-bold">123</h2>
                        <p class="mb-1">Rendimiento Prom.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="mb-1 fw-bold">123</h2>
                        <p class="mb-1">Duración Prom.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::row-1 -->







<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-8 col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Título</h5>
                <button type="submit" class="btn btn-primary" (click)="abrirModalDetalle(detalleModal)">Ver Detalle</button>
            </div>

            <div class="card-body">
                <div id="mat-sorting">
                    <div class="mat-elevation-z8">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dsDetalle" matSort #sortDetalle="matSort">
                                <ng-container matColumnDef="codigo">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Columna</th>
                                    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsDetalle"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsDetalle;"></tr>
                            </table>
                        </div>
                        <mat-paginator #paginatorDetalle [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card overflow-hidden">
                    <div class="card-header">
                        <h3 class="card-title">Distribución por Instrumento</h3>
                    </div>
                    <div class="card-body mx-auto text-center">
                        <div class="chart-container2">
                            <apx-chart class="canvasDoughnut2" height="260" width="320" id="Statistics"
                                [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                                [labels]="chartOptions2.labels" [legend]="chartOptions2.legend"
                                [colors]="chartOptions2.colors" [dataLabels]="chartOptions2.dataLabels"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card overflow-hidden">
                    <div class="card-header">
                        <h3 class="card-title">Madurez</h3>
                    </div>
                    <div class="card-body mx-auto text-center">
                        <div id="column-markers">
                            <apx-chart [series]="chartOptions4.series" [chart]="chartOptions4.chart"
                                [legend]="chartOptions4.legend" [dataLabels]="chartOptions4.dataLabels"
                                [colors]="chartOptions4.colors" [plotOptions]="chartOptions4.plotOptions"
                                [colors]="chartOptions4.colors"></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End::row-1 -->




<ng-template #detalleModal let-modal>
    <app-carga-indice-mercado (close)="cerrarModal($event)"></app-carga-indice-mercado>
</ng-template>