<div>
    <button type="submit" class="btn btn-primary" (click)="registrar(cargaBonoModal)">Agregar Bono</button>
</div>

<br>

<div id="mat-sorting">
    <div class="mat-elevation-z8">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort #sort="matSort">
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Bono</th>
                    <td mat-cell *matCellDef="let row">
                        <div class="acciones">
                            <button mat-icon-button class="icono-accion icono-editar" (click)="editar(row, editarBonoModal)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button class="icono-accion icono-eliminar" (click)="eliminar(row)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="idBono">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.idBono}} </td>
                </ng-container>

                <ng-container matColumnDef="codISIN">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ISIN</th>
                    <td mat-cell *matCellDef="let element"> {{element.codISIN}} </td>
                </ng-container>

                <ng-container matColumnDef="desNemonico">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nemónico</th>
                    <td mat-cell *matCellDef="let element"> {{element.desNemonico}} </td>
                </ng-container>

                <ng-container matColumnDef="codMetoAmortizac">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Método Amortización</th>
                    <td mat-cell *matCellDef="let element"> {{element.codMetoAmortizac}} </td>
                </ng-container>

                <ng-container matColumnDef="fecInicio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Inicio</th>
                    <td mat-cell *matCellDef="let element"> {{element.fecInicio}} </td>
                </ng-container>
                
                <ng-container matColumnDef="fecVcto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Vencimiento</th>
                    <td mat-cell *matCellDef="let element"> {{element.fecVcto}} </td>
                </ng-container>

                <ng-container matColumnDef="flgRevisado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Revisado</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox [checked]="element.flgRevisado" disabled></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="flgProrrateo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Prorrateo</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox [checked]="element.flgProrrateo" disabled></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="flgValCirc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Val. Circ.</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox [checked]="element.flgValCirc" disabled></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="numTasaCupon">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Num. Tasa Cupón</th>
                    <td mat-cell *matCellDef="let element"> {{element.numTasaCupon}} </td>
                </ng-container>

                <ng-container matColumnDef="numSpreadTasaVar">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Num. Spread Tasa VaR</th>
                    <td mat-cell *matCellDef="let element"> {{element.numSpreadTasaVar}} </td>
                </ng-container>

                <ng-container matColumnDef="codFrecuenciaPago">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod. Frecuencia Pago</th>
                    <td mat-cell *matCellDef="let element"> {{element.codFrecuenciaPago}} </td>
                </ng-container>

                <ng-container matColumnDef="codFormulaTasa">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod. Fórmula Tasa</th>
                    <td mat-cell *matCellDef="let element"> {{element.codFormulaTasa}} </td>
                </ng-container>

                <ng-container matColumnDef="flgTipoPago">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Pago</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox [checked]="element.flgTipoPago" disabled></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="codBaseCalculoIc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod. Base Cálculo IC</th>
                    <td mat-cell *matCellDef="let element"> {{element.codBaseCalculoIc}} </td>
                </ng-container>

                <ng-container matColumnDef="codBaseCalculoDcto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod. Base Cálculo Dcto.</th>
                    <td mat-cell *matCellDef="let element"> {{element.codBaseCalculoDcto}} </td>
                </ng-container>

                <ng-container matColumnDef="codTipoTasa">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod. Tipo Tasa</th>
                    <td mat-cell *matCellDef="let element"> {{element.codTipoTasa}} </td>
                </ng-container>

                <ng-container matColumnDef="codTasaRjte">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod. Tasa RJTE</th>
                    <td mat-cell *matCellDef="let element"> {{element.codTasaRjte}} </td>
                </ng-container>

                <ng-container matColumnDef="mtoSpreadLiquidez">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mto. Spread Liquidez</th>
                    <td mat-cell *matCellDef="let element"> {{element.mtoSpreadLiquidez}} </td>
                </ng-container>

                <ng-container matColumnDef="mtoSpreadEmision">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mto. Spread Emisión</th>
                    <td mat-cell *matCellDef="let element"> {{element.mtoSpreadEmision}} </td>
                </ng-container>

                <ng-container matColumnDef="flgFicticio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ficticio</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox [checked]="element.flgFicticio" disabled></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="codCurvaReferencia">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod. Curva Referencia</th>
                    <td mat-cell *matCellDef="let element"> {{element.codCurvaReferencia}} </td>
                </ng-container>

                <ng-container matColumnDef="codTipoBonoCVG">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod. Tipo Bono CVG</th>
                    <td mat-cell *matCellDef="let element"> {{element.codTipoBonoCVG}} </td>
                </ng-container>

                <ng-container matColumnDef="flgOpcionCall">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Opción Call</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox [checked]="element.flgOpcionCall" disabled></mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="codBaseCalculoFlujo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod. Base Cálculo Flujo</th>
                    <td mat-cell *matCellDef="let element"> {{element.codBaseCalculoFlujo}} </td>
                </ng-container>

                <ng-container matColumnDef="codISINSOBGDN">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod. ISIN SOB GDN</th>
                    <td mat-cell *matCellDef="let element"> {{element.codISINSOBGDN}} </td>
                </ng-container>

                <ng-container matColumnDef="desResetIndex">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Reset Index</th>
                    <td mat-cell *matCellDef="let element"> {{element.desResetIndex}} </td>
                </ng-container>

                <ng-container matColumnDef="codEmisor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Cod. Emisor</th>
                    <td mat-cell *matCellDef="let element"> {{element.codEmisor}} </td>
                </ng-container>

                <ng-container matColumnDef="codMoneda">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Moneda</th>
                    <td mat-cell *matCellDef="let element"> {{element.codMoneda}} </td>
                </ng-container>

                <ng-container matColumnDef="codTipoBonoSbs">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Bono SBS</th>
                    <td mat-cell *matCellDef="let element"> {{element.codTipoBonoSbs}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (contextmenu)="onContextMenu($event, row)"></tr>
            </table>
        </div>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
    </div>

</div>

<div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-item="item">
        <button mat-menu-item (click)="editar(selectedRow, editarBonoModal)">
            <mat-icon>edit</mat-icon> Editar
        </button>
        <button mat-menu-item (click)="eliminar(selectedRow)">
            <mat-icon>delete</mat-icon> Eliminar
        </button>
    </ng-template>
</mat-menu>

<ng-template #cargaBonoModal let-modal>
    <app-carga-bono (close)="cerrarModal($event)"></app-carga-bono>
</ng-template>

<ng-template #editarBonoModal let-modal>
    <app-editar-bono (close)="cerrarModal($event)" [data]="filaEditar"></app-editar-bono>
</ng-template>