<form novalidate="" class="row g-3 mt-0 ng-untouched ng-pristine ng-valid">
    <div class="card">
        <div class="card-header justify-content-between d-sm-flex d-block">
            <div class="card-title">
                Datos Generales
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-6"><label class="form-label">First Name</label>
                <input type="text" placeholder="First name" aria-label="First name" class="form-control">
            </div>
            <div class="col-md-6"><label class="form-label">Last Name</label>
                <input type="text" placeholder="Last name" aria-label="Last name" class="form-control">
            </div>
            <div class="col-md-6"><label for="inputEmail4" class="form-label">Email</label>
                <input type="email" id="inputEmail4" placeholder="Email id" class="form-control">
            </div>
            <div class="col-md-6"><label for="inputPassword4" class="form-label">Password</label>
                <input type="password" id="inputPassword4" placeholder="Password" class="form-control">
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header justify-content-between d-sm-flex d-block">
            <div class="card-title">
                Características
            </div>
        </div>
        <div class="card-body">
            <div class="col-md-6"><label class="form-label">First Name</label>
                <input type="text" placeholder="First name" aria-label="First name" class="form-control">
            </div>
            <div class="col-md-6"><label class="form-label">Last Name</label>
                <input type="text" placeholder="Last name" aria-label="Last name" class="form-control">
            </div>
            <div class="col-md-6"><label for="inputEmail4" class="form-label">Email</label>
                <input type="email" id="inputEmail4" placeholder="Email id" class="form-control">
            </div>
            <div class="col-md-6"><label for="inputPassword4" class="form-label">Password</label>
                <input type="password" id="inputPassword4" placeholder="Password" class="form-control">
            </div>
        </div>
    </div>
    




    <div class="col-12">
        <button type="submit" class="btn btn-primary" (click)="registrar()">Registrar</button>
        <br>
    </div>
</form>